.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.cards > div {
  width: calc(50% - 15px);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

@media (max-width: 767px) {
  .cards > div {
    width: 100%;
    margin-bottom: 20px;
    padding: 30px 20px;
  }
}

.cards div > div:first-child {
  display: inline-block;
  vertical-align: top;
  width: 46px;
  max-height: 46px;
}

.cards div > div:first-child img {
  height: 100%;
  object-fit: contain;
}

.cards div > div:last-child {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 60px);
  padding-left: 20px;
  margin-top: -2px;
}

@media (max-width: 480px) {
  .cards div > div:last-child {
    width: 100%;
    padding-left: 0;
    margin-top: 25px;
  }
}

.cards h3 {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 500;
  color: #000;
  font-family: roboto, sans-serif;
  margin-bottom: 7px;
}

.cards p {
  font-size: 14px;
  color: #3c3c3c;
  line-height: 1.31;
  font-weight: 400;
  font-family: roboto, sans-serif;
  letter-spacing: 0.006em;
}

.cards p a {
  color: #006eff;
}

.cards ul {
  list-style: none;
  padding: 0;
  margin: 34px 0 23px;
}

.cards li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 8px;
}

.cards li ul {
  display: flex;
  align-items: center;
  margin-left: 3px;
}

.cards li ul li {
  width: 30px;
  color: #000;
  font-size: 14px;
}