.columns-wrapper {
  padding: 0 var(--body-padding);
}

.columns > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.columns > div > div {
  order: 1;
}

.columns.highlight-text.black {
  background-color: var(--black-color);
  padding: 25px 2pc 20px 30px;
  text-align: left;
  position: absolute;
  width: 100%;
}

.text-over-image > div > div {
  height: 600px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  color: var(--white-color);
  padding: 30px;
  justify-content: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
}

.columns.carousel > div {
  flex-direction: row;
}

.columns.benefits > div {
  align-items: flex-start;
}

/* awards styling */
.columns.awards > div {
  row-gap: 30px;
}

.text-over-image > div > div:first-child {
  font-size: var(--heading-font-size-s);
  margin-bottom: -10px;
}

.columns.benefits h3 {
  font-size: var(--heading-font-size-m);
  font-weight: var(--font-weight-bold);
  line-height: 1.25;
}

.columns.awards > div > div {
  flex-direction: column;
  width: 100%;
  flex: 1;
  line-height: 1.13;
  text-align: center;
  margin: 0 10px;
}

/* video presentation */
.columns.video-presentation > div > div {
  margin: 0 auto;
}

.columns.carousel > div > div {
  margin: 10px 5px;
  width: 100%;
  box-sizing: border-box;
}

.columns.with-box-shadow > div > div{
  padding: 0 20px;
  border-right: none;
  border-bottom: 2px solid var(--overlay-background-color);
}

.columns.carousel > div:nth-child(1) {
  position: relative;
  left: 0;
  gap: 0;
  transition: transform 0.3s ease-in-out;
  height: 200px;
}

.columns.bg-image > div > div:first-child {
  font-size: var(--heading-font-size-xl);
  font-weight: bold;
}

.columns img {
  width: 100%;
}

.modal-container.get-bitdefender-familypack img {
  height: auto;
}

.columns > div > .columns-img-col {
  order: 0;
  text-align: center;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 767px) {
  .columns.benefits > div {
    flex-direction: unset;
    gap: 32px;
  }

  .columns.highlight-text.black {
    width: 520px;
    right: 2.5%;
    top: 15%;
    border-radius: 5px;
  }

  .columns.highlight-text.black.imageleft {
    left: 2.5%;
  }
}

@media (min-width: 992px) { /* desktop */

  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns-wrapper {
    max-width: var(--section-desktop-max-width);
    padding: 0 var(--section-desktop-padding);
    margin: 0 auto;
  }

  .columns.highlight-text.black {
    right: 10%;
    top: 10%;
  }

  .columns.highlight-text.black.imageleft {
    left: 10%;
  }
}

@media (min-width: 1600px) { /* large desktop */
  .columns-wrapper {
    max-width: var(--section-large-desktop-max-width);
    padding: 0 var(--section-large-desktop-padding);
  }
}

/* Benefits columns (icon, text, description) */

.columns.benefits > p {
  margin-bottom: 0;
  margin-top: 0;
}

.columns.benefits > .icon {
  width: unset;
  max-width: 66px;
  margin-bottom: 16px;
}

.columns.benefits p {
  font-size: var(--body-font-size-s);
  line-height: 1.5;
  letter-spacing: .006em;
  font-weight: var(--font-weight-regular);
}

@media (min-width: 1271px) {
  .columns.benefits p {
    font-size: 18px;
  }
}

/* paragraph with image */
.columns.awards > div > div > p {
  margin: 0;
  padding: 0 5px;
}

.columns.video-presentation > div > div > p {
  font-size: var(--body-font-size-s);
}

.columns.carousel > div > div >p {
  width: inherit;
  padding: 0 50px;
}

.columns.awards > div > div > p:not(:last-of-type) {
  margin-bottom: 8px;
}

.columns.awards > div > div > p:first-of-type {
  margin-bottom: 24px;
}

.columns.awards > div img {
  display: block;
  object-fit: contain;
}

.columns.video-presentation .button-container {
  display: inline-block;
  padding-right: 13px;
}

.columns.video-presentation .linked-image-container {
  display: inline-block;
  padding-right: 3px;
  margin-top: 0;
  margin-bottom: 0;
}

.columns.video-presentation .linked-image-container img {
  width: 150px;
  height: 44px;
}

.columns.video-presentation ul {
  padding-top: 1px;
}

.columns.vpn-presentation .button-container,
.columns.vpn-presentation .info-button-container{
  display: inline-block;
  padding-right: 13px;
  margin-top: 13px;
}

.columns.vpn-presentation .left-col {
  margin-bottom: 40px;
}

@media (min-width: 992px) {
  .columns.vpn-presentation .left-col {
    margin-bottom: 0;
  }
}

.section.bullet-points.columns-container ul {
  list-style: disc;
}

.columns.video-presentation .modal-video-container {
  max-width: 520px;
  max-height: 293px;
}

.columns.carousel {
  width: 100%;
  margin-top: 50px;
  overflow: hidden;
  height: 437px;
}

.columns.carousel button{
  align-items: flex-start;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 10px;
  padding: 0;
  background-color: var(--black-color);
  border: none;
}

.columns.carousel button:hover {
  background-color: var(--link-color);
}

.carousel-buttons {
  position: relative;
  top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .4s ease-in-out;
}

.columns.with-box-shadow > div > div:last-child{
  border: none;
}

.section.wide.light-sky-blue.columns-container {
  height: auto;
}

.section.white.columns-container .columns.awards > div {
  flex-direction: unset;
  align-items: center;
}

.section.white.columns-container .columns.awards > div img {
  display: block;
  height: 120px;
  object-fit: contain;
}

@media (min-width: 676px) {
  .columns.carousel > div > div {
    transition: transform 0.3s, opacity 0.3s;
  }

  .columns.carousel > div:nth-child(1) {
    width: max-content;
  }
}

@media (min-width: 676px) and (max-width: 989px) {
  .slide-left {
      transform: translateX(-50%);
  }
}

@media (min-width: 990px) {
  .columns.carousel button{
    margin: -5px;
  }

  .slide-left {
    transform: translateX(-25%);
  }

  .columns.with-box-shadow > div > div{
    border-bottom: none;
    border-right: 2px solid var(--overlay-background-color);
    min-height: 350px;
  }
}

.columns.carousel .active-button {
  background-color: var(--link-color);
}

.modal-container.get-bitdefender-familypack .columns.block.columns-2-cols > div {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}

@media (min-width: 768px) {
  .modal-container.get-bitdefender-familypack .columns.block.columns-2-cols > div {
    display: flex;
    flex: 1;
    flex-direction: row;
    order: unset;
    justify-content: center;
    align-items: center;
  }
}

.modal-container.modal-container.get-bitdefender-familypack .modal-content .section.columns-container {
  border-bottom: none;
  padding: 0;
}

.columns-container[data-bg-image]{
  background-image: var(--bg-image-url);
  background-size: cover;
  background-position: center;
  transition: padding-left 0.3s ease;
  color: white;
  text-align: center;
  background-color: black;
}

.linear-gradient.columns-container[data-bg-image]{
  background-size: cover;
  background-position: center;
  transition: padding-left 0.3s ease;
  color: white;
  background-image: none;
  background-color: black;
}

@media (min-width: 768px) {
  .linear-gradient.columns-container[data-bg-image]{
    background-image: linear-gradient(to right, rgb(0 0 0 / 100%) 20%, rgb(0 0 0 / 0%)), var(--bg-image-url);
  }

  .columns-container[data-bg-image]{
    background-image: var(--bg-image-url);
  }

  .linear-gradient.columns.bg-image > div {
    width: calc(100% - 30%)!important;
  }
}

.columns.bg-image > div > div > h4 {
  padding: 0 0 50px;
  font-size: var(--heading-font-size-m);
  font-style: bold;
}

.columns.bg-image .button-container {
  padding: 10px 0 0;
}

.columns.bg-image a{
  color: white
}

.columns.bg-image svg {
  filter: invert(1) grayscale(1) brightness(100);
}

.columns.with-box-shadow {
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 20%);
  border-radius: 5px;
  padding: 35px 0;
  color: var(--checkbox-label);
}

.columns.highlight-text.black.block > div > div:first-child {
  font-size: var(--heading-font-size-l);
}


main .section.two-columns .right-col .products.plans a.button:any-link {
  background-color: var(--button-background-color);
  border: 2px solid var(--button-background-color);
}

.two-columns .left-col p a.info-button.modal {
  color: var(--white-color);
  display: flex;
  font-weight: var(--font-weight-regular);
  align-items: baseline;
}

.two-columns .left-col p a.info-button.modal:hover {
  opacity: .8;
}


.two-columns .left-col p a.info-button.modal::before {
  content: url("/_src/icons/user-guide-white.svg");
  color: white;
  padding-right: 8px;
}
