/* stylelint-disable no-descending-specificity */
.awards-container {
  display: flex;
  justify-content: center;
}

.awards-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1300px;
}

.awards-container .block.awards-component {
  background-color: #edf9ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.awards-container.we-container {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.awards-component {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 24px;
  width: 100%;
}

.awards-container h3 {
  font-size: 32px;
}

.awards-container h4 {
  margin-bottom: 18px;
  font-weight: normal;
}

.awards-container .block.awards-component > div {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.awards-component > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85% !important;
}

.awards-component > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.awards-component > div:nth-child(3) div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  align-items: center;
  gap: 4.5%;
}


.awards-component > div:nth-child(3) div img {
  min-height: 56px;
  height: auto;
  max-width: 100%;
  width: auto;
  object-fit: contain;
}

.awards-container .vsb picture{
  max-width: 90px;
  min-width: 8%;
}
.awards-container .vsb h3{
  margin-top: 0px;
  margin-bottom: 0px;
}
.awards-container .vsb p{
  margin-top: 0px;
  margin-bottom: 0px;
}

@media (min-width: 580px) {
  .awards-component > div:nth-child(3) div {
    max-width: 768px;
    flex-wrap: nowrap;
  }

  .vsb.awards-component > div:nth-child(3) div {
    
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .awards-component > div:nth-child(3) {
    width: 95% !important;
  }

  .awards-container .vsb picture{
    min-width: 100px;
  }
}

@media (min-width: 992px) {
  .awards-component > div:nth-child(3) {
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 90%;
  }

  .awards-wrapper .awards > div:nth-child(3) > div[data-valign="middle"] {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .awards-component > div:nth-child(1) img {
    width: 80px !important;
  }

  .awards-component main .section.wide img {
    height: auto;
    object-fit: contain;
    width: 70%;
  }

  .awards-container .block.awards-component {
    padding-bottom: 40px;
  }

  .awards-container.we-container {
    max-width: 1300px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .awards-container .vsb picture{
    min-width: 65px;
  }
  
  .vsb.awards-component > div:nth-child(3) div {
    flex-wrap: nowrap;
  }
}

@media (min-width: 1200px) {
  .awards-component {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 24px;
  }

  .awards-container .block.awards-component {
    padding-bottom: 50px;
  }

  .awards-component div[data-align="center"][data-valign="middle"] img {
    width: 80px;
  }

  .awards-container .block.awards-component > div {
    text-align: center;
    display: flex;
    align-items: center;
  }

  .awards-component > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
  }

  .awards-component > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50% !important;
  }

  .awards-component > div:nth-child(3) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
  }

  .awards-component h3 {
    font: normal normal bold 32px/38px Arial, sans-serif;
    max-width: 726px;
    margin-bottom: 0;
  }

  .awards-component h4 {
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
    margin-bottom: 35px;
    margin-top: 14px;
  }

  .awards-container.we-container {
    max-width: 1332px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .awards-container .vsb picture{
  min-width: 100px;
}
}

@media (min-width: 1600px) {
  .awards-containe.we-container {
    max-width: 1332px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
