@media (min-width: 992px) { /* desktop */
    .terms-wrapper {
        max-width: var(--section-desktop-max-width);
        padding: 0 var(--section-desktop-padding);
        margin: 0 auto;
    }
}

@media (min-width: 1600px) { /* large desktop */
    .terms-wrapper {
        max-width: var(--section-large-desktop-max-width);
        padding: 0 var(--section-large-desktop-padding);
    }
}

.terms-container {
    background-color: #f2f2f2;
}

.terms-container h6 {
    font-size: 16px;
    font-weight: bold;
}
.terms-container .terms div,
.terms-container .terms div p {
    font-size: 12px;
}
.terms-container .terms div p strong {
    font-weight: bold;
    margin-top: 15px;
}