.system-requirements-container {
    --dark-background-color: #000;
    --black-color: #000;
    --white-color: #fff;
    --background-color: #fff;
    --link-color: #005ed9;
    --link-hover-color: #00439c;
    --button-link-color: #fff;
    --button-background-color: #eb0000;
    --button-hover-background-color: #d80000;
    --button-primary-background-color: #000;
    --button-primary-hover-background-color: #000;
    --button-secondary-color: #000;
    --button-secondary-hover-background-color: #000;
    --overlay-background-color: #eee;
    --highlight-background-color: #ccc;
    --text-color: #000;
    --text-error-color: #f00;
    --color-highlight-blue: #006dff;
    --color-dark-gray: #616161;
    --checkbox-label: #3c3c3c;
    --highlight-light-blue: #f3f7fe;
    --text-dark-color: #fff;
    --horizontal-separator-color: #dedede;
    --modal-background-color: rgb(0 0 0 / 50%);
    --background-color-light-sky-blue: #e4f2ff;
    --icon-color: #205fff;
    --background-light-blue: #d9eeff;
    --background-blue: #005ed9;
    --dark-blue-tag: #005eff;
    --light-blue-tag: #13b0a7;
    --green-tag: #218728;
    --dark-shadow: #0000001a;
    --background-checkmark: #61AF53;
    --body-font-family: "Roboto", "roboto-normal-400-fallback", helvetica, ubuntu, roboto, noto, sans-serif;
    --heading-font-family: var(--body-font-family);
    --fixed-font-family: var(--body-font-family);
    --font-weight-thin: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 500;
    --font-weight-bolder: 600;
    --font-weight-boldest: 700;
    --font-weight-heavy: 900;
    --body-font-size-l: 22px;
    --body-font-size-m: 18px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;
    --body-font-size-xxs: 12px;
    --body-font-size-xxxs: 10px;
    --heading-font-size-xxxl: 60px;
    --heading-font-size-xxl: 48px;
    --heading-font-size-xl: 40px;
    --heading-font-size-l: 32px;
    --heading-font-size-m: 24px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;
    --heading-font-size-xxs: 16px;
    --nav-height: 63px;
    --nav-height-desktop: 40px;
    --body-max-width: 1920px;
    --body-padding: 20px;
    --section-desktop-max-width: 1290px;
    --section-desktop-padding: 20px;
    --section-desktop-padding-vertical: 48px;
    --section-mobile-padding-vertical: 32px;
    --cta-background-light-blue: var(--background-light-blue);

    background-color: #f2f2f2;
}

.system-requirements-wrapper {
    padding: var(--body-padding);
}

.default-content-wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: var(--body-max-width);
    padding: var(--body-padding);
    position: relative;
}

.system-requirements-container h6 {
    text-align: left;
    font: normal normal bold 16px/18px var(--body-font-family);
    margin: 0;
}


/* remove padding from userguide wrapper */
.system-requirements-container :last-child {
    padding-bottom: 1px;
}

.system-requirements-container-userguides {
    background-color: #f2f2f2;
}

.system-requirements-container .default-content-wrapper p {
    font: normal normal normal 12px/14px var(--body-font-family);
}

.system-requirements-container .system-requirements-item {
    padding: 8px 16px 8px 24px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.system-requirements-item .system {
    position: relative;
    font: normal normal bold 12px/14px var(--body-font-family);
    color: #006EFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 25px;
}

.system-requirements-item .system::before {
    position: absolute;
    font: normal normal normal 24px/11px var(--body-font-family);
    content: url("/_src/icons/plus-sharp-regular.svg");
    width: 14px;
    height: 16px;
    display: block;
    left: -24px;
    bottom:0;
    top:-1px;
    margin-right: 10px;
    filter: invert(25%) sepia(100%) saturate(10000%) hue-rotate(200deg) brightness(100%) contrast(100%);
}

.system-requirements-item.expanded .system {
    color: #006EFF;
}

.system-requirements-item.expanded .system::before {
    font: normal normal normal 24px/11px var(--body-font-family);
    top: -1px;
    content: url("/_src/icons/minus-sharp-regular.svg");
    width: 14px;
    height: 16px;
    display: inline-block;
    filter: invert(25%) sepia(100%) saturate(10000%) hue-rotate(200deg) brightness(100%) contrast(100%);
}

.system-requirements-item .requirement {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.system-requirements-item .requirement > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 24px;
}

.system-requirements-item .requirement > ul > li {
    font: normal normal normal 12px/14px var(--body-font-family);
    list-style: none;
    display: inline-block;
    padding-left: 0;
}

.system-requirements-item .requirement > ul > li > br {
    display: block;
    margin-bottom: 14px;
    content: " ";
}

.system-requirements-item .requirement > ul > li > br:first-of-type {
    margin: 0;
}

.system-requirements-item.expanded .requirement {
    opacity: 1;
    height: auto;
    transition: all 0.3s ease-in-out;
}

.system-requirements-item.system-requirements-open .requirement {
    display: block;
}

.system-requirements-container .default-content-wrapper p a {
    font: normal normal normal 12px/14px var(--body-font-family);
    padding: 0 30px 0 0;
    color: #006EFF;
    border: 0;
    display: inline-block;
    position: relative;
}

.system-requirements-container .default-content-wrapper p a::before {
    content: url("/_src/icons/book-sharp-regular.svg");
    margin-right: 10px;
    width: 14px;
    height: 16px;
    filter: invert(25%) sepia(100%) saturate(10000%) hue-rotate(200deg) brightness(100%) contrast(100%);
    display: inline-block;
    position: relative;
    top: 3px;
}

.system-requirements-container .default-content-wrapper p a:hover {
    color: #006EFF;
    text-decoration: underline;
}

.system-requirements-container.we-container {
    max-width: 1332px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

@media (min-width: 992px) { /* desktop */
    .system-requirements-wrapper {
        max-width: var(--section-desktop-max-width);
        padding: 0 var(--section-desktop-padding);
        margin: 0 auto;
    }

    .system-requirements-container.we-container {
        max-width: 1300px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .default-content-wrapper {
        max-width: var(--section-desktop-max-width);
        padding: 23px var(--section-desktop-padding);
        border-radius: 0;
    }
}

@media (min-width: 1200px) {
    .system-requirements-container.we-container {
      max-width: 1332px;
      padding-left: 20px;
      padding-right: 20px;
    }
}

@media (min-width: 1600px) {
    .system-requirements-container.we-container {
        max-width: 1332px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
