.dunga {
    text-align: center;
    justify-content: center;
    background-color: #006EFF;
    color: white;
    display: flex;
    line-height: 1.2;
    padding: 8px 0;
    align-items: center;

    a {
        color: white;
    }
}

@media screen and (min-width: 991px) {
    .dunga {
        height: 44px;
    }
}