.form {
  --input-border: #d6d6d6;
}

.form-wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: var(--body-max-width);
  padding: 0 var(--body-padding);
  position: relative;
}

.form > div:first-child {
  display: none;
}

.form input[type="email"] {
  border: 1px solid var(--input-border);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  font-size: var(--body-font-size-s);
  line-height: 50px;
  padding: 0 15px;
  margin-bottom: 15px;
  width: 100%;
}

.checkbox {
  display: flex;
  align-items: flex-start;
  color: var(--checkbox-label);
  font-size: var(--body-font-size-xs);
  margin: 15px 0;
}

.checkbox input[type="checkbox"] {
  margin: 5px 10px;
  width: fit-content;
}

input[type="submit"] {
  width: 100%;
  justify-content: center;
}

input[type="submit"]:disabled {
  opacity: 0.5;
  cursor: unset;
}

input[type="submit"]:disabled::after {
  display: none;
}

input[type="submit"].disabled:hover .button-text {
  transform: none;
} 
  
.form-container > .default-content-wrapper:nth-child(3) {
  display: flex;
  justify-content: center;
}

.form-container > .default-content-wrapper:nth-child(3) > p strong {
  color: var( --checkbox-label);
  font-size: var(--body-font-size-xxs);
  font-weight: var(--font-weight-bold);
}