.form-wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: var(--body-max-width);
    padding: var(--body-padding);
    position: relative;
}

.form > div:first-child {
  display: none;
}

.form input[type="email"] {
    border: 1px solid var(--input-border);
    transition: all 0.3s ease-in-out;
    font-size: var(--body-font-size-xs);
    height: 50px;
}

.checkbox {
    display: flex;
    align-items: center;
    color: var(--checkbox-label);
    font-size: var(--body-font-size-xs);
}

.checkbox input[type="checkbox"] {
    margin: 10px;
    width: fit-content;
}

.button.disabled::after { /* TODO: Add all of the styles to the disabled button */
    display: none;
}

form .button-container .button {
    margin-top: 40px;
    opacity: 0.5;
}

form .button:hover {
    background-color: var(--button-background-color);
}

form .button:hover::after {
    opacity: 0;
}

a.button.clickable:hover::after {
    transform: translateX(5px);
    opacity: 1;
}


.button-container .button.clickable {
    opacity: 1;
}

a.button.clickable:hover {
    background-color: var(--button-hover-background-color);
}

.form-container > .default-content-wrapper:nth-child(3) {
    display: flex;
    justify-content: center;
}

.form-container > .default-content-wrapper:nth-child(3) > p strong {
    color: var( --checkbox-label);
    font-size: var(--body-font-size-xxs);
    font-weight: var(--font-weight-bold);
}

.fragment-metadata-container {
    display: none;
}

.hidden {
    display: none;
  }
  
.visible {
    display: block;
}

.animation {
    display: none;
}  

.loading .default-content-wrapper h2 {
    transition: opacity 0.5s ease-in-out; 
    opacity: 1;
}

.loading .default-content-wrapper h2.fade-out {
    opacity: 0;
}

.loading {
    display: none;
}

.result {
    display: none;
}
