.barchart > ul {
  color: #3c3c3c;
  display: grid;
  gap: 16px;
  width: 100%;
  grid-template-columns: 1fr;
  padding: 0;
}

.barchart-body li {
  list-style: none;
  margin: 0;
}

.barchart > ul > li {
  border: 0 solid #e5e7eb;
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 10%);
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
}

.barchart.block h3 {
  line-height: 1.25;
  color: var(--text-color);
  font-size: var(--body-font-size-m);
  font-weight: 500;
  margin-top: 0;
}


.barchart-body p {
  line-height: 1.25;
  color:  var(--text-color);
  font-size: 14px;
  font-weight: 400;
}

.barchart-body ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  color: #000;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.barchart-body > ul > li {
  font-size: var(--body-font-size-xs);
  font-weight: var(--font-weight-bold);
}

.barchart-body li:nth-child(odd) { 
  flex: 85%;
  line-height: 40px;
  position: relative;
  z-index: 1;
}

.barchart-body li:nth-child(even) { 
  flex: 10%;
  text-align: right;
  padding: 0 10px 0 0;
  width: 10px;
}

.barchart-body > ul > li:nth-child(even) {
  font-weight: var(--font-weight-regular);
}

.barchart-body li:nth-child(odd)::before {
  background-color: #dedede;
  width: var(--bar-width);
  display: inline-block;
  content: '';
  height: 100%;
  max-width: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  padding: 0;
  border-radius: 4px;
}

.barchart-body ul:first-of-type > *:first-child {
  color: #fff;
}

.barchart-body ul:first-of-type > *:first-child::before {
  background-color: #005ed9;
}

.barchart-wrapper {
  padding: 0 var(--body-padding);
}

@media (min-width:481px) {
  .barchart > ul > li {
    flex-direction: row;
    gap: 25px 20px;
  }
}

@media (min-width: 768px) {
  .barchart > ul {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}

@media (min-width: 990px) { /* desktop */

  .barchart-wrapper {
    max-width: var(--section-desktop-max-width);
    padding: 0 var(--section-desktop-padding);
    margin: 0 auto;
  }
}

@media (min-width: 1600px) { /* large desktop */
  .barchart-wrapper {
    max-width: var(--section-large-desktop-max-width);
    padding: 0 var(--section-large-desktop-padding);
  }
}
