.trusted-hero-container.section {
    padding: 0;
    background: #EFF6FF;
    color: black;
}

.trusted-hero-container .trusted-hero-wrapper .block {
    display: flex;
    flex-direction: column;
}

.trusted-hero-container h1,
.trusted-hero-container h2 {
    font: normal normal normal 28px/32px var(--font-ibm);
}

.trusted-hero-container h2 {
    font-weight: 500;
}

.trusted-hero-container .video-wrapper {
    height: 200px;
    position: relative;
}

.trusted-hero-container .video-wrapper iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
}

.trusted-hero-container .default-content-wrapper {
    position: relative;
    padding-top: 20px !important;
    z-index: 4;
    order: -1;
    padding-bottom: 140px;
}

.trusted-hero-container p.button-container:nth-last-child(1) {
    position: absolute;
    bottom: 0;
    left: 1em;
    right: 1em;
}

.trusted-hero-container p.button-container:nth-last-child(2) {
    position: absolute;
    bottom: 60px;
    left: 1em;
    right: 1em;
}

.trusted-hero-container p.button-container:nth-last-child(2) a {
    width: 100%;
    justify-content: center;
    font-weight: 400;
    border: 1px solid var(--blue);
}

.trusted-hero-container p.button-container:nth-last-child(1) a {
    background-color: transparent !important;
    border: solid black 1px !important;
    color: black;
    width: 100%;
    justify-content: center;
    font-weight: 400;
}

@media (min-width: 768px) {
    /*.trusted-hero-container a.button:any-link:not(.modal, .primary) {*/
    /*    width: unset;*/
    /*    justify-content: unset;*/
    /*    display: inline-flex;*/
    /*    margin-right: 15px;*/
    /*}*/
    .trusted-hero-container h1,
    .trusted-hero-container h2 {
        font: normal normal 500 47px / 48px var(--font-ibm);
    }
}

@media (min-width: 992px) {
    .trusted-hero-container {
        background: #EFF6FF;
        color: black;
        height: 670px;
    }

    .trusted-hero-container h1 {
        font: normal normal 400 40px/52px var(--font-ibm);
    }

    .trusted-hero-container .trusted-hero-wrapper {
        height: 100%;
    }

    .trusted-hero-container .trusted-hero-wrapper .block {
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    .trusted-hero-container .rte-wrapper {
        width: 100%;
    }

    .trusted-hero-container .video-wrapper {
        width: 100%;
        height: 100%;
    }

    .trusted-hero-container .default-content-wrapper {
        padding-top: 0 !important;
        order: unset;
        position: absolute;
        left: 0;
        right: 0;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 30px;
        padding-bottom: unset;
    }

    .trusted-hero-container .default-content-wrapper > .rte-wrapper {
        width: 45%;
    }

    .trusted-hero-container .default-content-wrapper > .video-wrapper {
        width: 55%;
        height: 350px;
    }

    .trusted-hero-container .default-content-wrapper p.button-container {
        position: unset;
        display: inline-block;
    }

    .trusted-hero-container a.button:any-link:not(.modal, .primary) {
        width: unset;
        justify-content: unset;
        display: inline-flex;
        margin-right: 15px;
    }
}

