.trusted-hero-container.section {
    padding: 0;
}

.trusted-hero-container .trusted-hero-wrapper .block {
    display: flex;
    flex-direction: column;
}

.trusted-hero-container h1 {
    font: normal normal bold 44px/42px "IBM Plex Sans", sans-serif;
}

.trusted-hero-container h2,
.trusted-hero-container h3,
.trusted-hero-container h4 {
    font: normal normal bold 20px/24px "IBM Plex Sans", sans-serif;
}

.trusted-hero-container p,
.trusted-hero-container div {
    font: normal normal normal 14px/18px "IBM Plex Sans", sans-serif;
}

.trusted-hero-container .rte-wrapper {
    position: relative;
    z-index: 4;
}

.trusted-hero-container .video-wrapper {
    height: 200px;
    position: relative;
}

.trusted-hero-container .video-wrapper video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    left: 0;
}

.trusted-hero-container .video-wrapper .video-placeholder {
    width: 100%;
    height: 100%;
}

.trusted-hero-container .video-wrapper .video-placeholder .video-placeholder-play {
    background-color: red;
    border-color: red;
    opacity: 1;
    display: block;
}

.trusted-hero-container .video-wrapper .video-placeholder.playing .video-placeholder-play {
    display: none;
}

.trusted-hero-container .video-wrapper .video-placeholder .video-placeholder-pause {
    box-sizing: border-box;
    position: absolute;
    top: calc(50% - 1.1375rem);
    left: 50%;
    transform: scale(3);
    width: 1.375rem;
    height: 1.375rem;
    border: 0.125rem solid;
    border-radius: 1.25rem;
    padding: 0;
    transition: opacity .3s ease-in-out;
    background-color: blue;
    border-color: blue;
    opacity: 1;
}

.trusted-hero-container .video-wrapper .video-placeholder.playing .video-placeholder-pause {
    display: none;
}

.trusted-hero-container .video-wrapper .video-placeholder .video-placeholder-pause::before {
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 0;
    height: 0.625rem;
    border-left: 0.175rem solid;
    top: 0.25rem;
    left: 5px;
}

.trusted-hero-container .video-wrapper .video-placeholder .video-placeholder-pause::after {
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 0;
    height: 0.625rem;
    border-left: 0.175rem solid;
    top: 0.25rem;
    left: 11px;
}

.trusted-hero-container .video-wrapper .gradient-1,
.trusted-hero-container .video-wrapper .gradient-2,
.trusted-hero-container .video-wrapper .gradient-3 {
    border-style: solid;
    border-width: 90px 230vw 0 0;
    position: absolute;
    top: -50px;
}

.trusted-hero-container .default-content-wrapper {
    padding-top: 20px !important;
    z-index: 4;
    order: -1;
}

.trusted-hero-container a.button:any-link:not(.modal, .primary) {
    border: solid white 2px !important;
    width: 100%;
    justify-content: center;
}

.trusted-hero-container .scroll-down {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .trusted-hero-container a.button:any-link:not(.modal, .primary) {
        width: unset;
        justify-content: unset;
        display: inline-flex;
        margin-right: 15px;
    }
}

@media (min-width: 992px) {
    .trusted-hero-container {
        background: #EFF6FF;
        color: black;
        height: 670px;
    }

    .trusted-hero-container h1 {
        font: normal normal 400 40px/52px "IBM Plex Sans", sans-serif;
    }

    .trusted-hero-container h2,
    .trusted-hero-container h3,
    .trusted-hero-container h4 {
        font: normal normal 500 47px/48px "IBM Plex Sans", sans-serif;
    }

    .trusted-hero-container p,
    .trusted-hero-container div {
        font: normal normal normal 18px/23px "IBM Plex Sans", sans-serif;
    }

    .trusted-hero-container .trusted-hero-wrapper {
        height: 100%;
    }

    .trusted-hero-container .trusted-hero-wrapper .block {
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    .trusted-hero-container .rte-wrapper {
        width: 100%;
    }

    .trusted-hero-container .video-wrapper {
        width: 100%;
        height: 100%;
    }

    .trusted-hero-container .default-content-wrapper {
        padding-top: 0 !important;
        order: unset;
        position: absolute;
        left: 0;
        right: 0;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .trusted-hero-container .default-content-wrapper > .rte-wrapper {
        width: 45%;
    }

    .trusted-hero-container .default-content-wrapper > .video-wrapper {
        width: 55%;
        height: 350px;
    }

    .trusted-hero-container .default-content-wrapper p.button-container {
        display: inline-block;
    }
}

