@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../../fonts/ibm-plex-sans-300.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../../fonts/ibm-plex-sans-400.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../../fonts/ibm-plex-sans-500.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}
