.spurs header,
.spurs main,
.spurs footer {
    max-width: unset;
    margin: unset;
}

.spurs * {
    font-family: "IBM Plex Sans", sans-serif;
}

.spurs .official-partner .default-content-wrapper > p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.spurs .section-two h2,
.spurs .section-two h3,
.spurs .section-two h4 {
    color: #006dff;
    font-weight: 500;
    line-height: 27px;
    font-size: 23px;
}

.spurs .section-two .default-content-wrapper > div,
.spurs .section-two .default-content-wrapper > p {
    font-size: 17px;
    line-height: 24px;
}

.spurs .section-testimonials .default-content-wrapper > p {
    height: 350px;
}

.spurs .section-testimonials p:first-child {
    padding: 1em;
    background-color: #006dff;
    font-weight: 500;
    color: white;
    font-size: 14px;
    line-height: 1.33;
}

.spurs .section-testimonials p:first-child strong {
    margin-top: 15px;
    display: block;
}

.spurs .section-testimonials p:last-child img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.spurs .section-testimonials-text {
    color: #006dff;
}

.spurs .section-testimonials-text p:first-child {
    font-size: 24px;
    line-height: 1.33;
    font-weight: 300;
}

.spurs .section-testimonials-text p em {
    font-style: normal;
}

.spurs .section[data-align="center"] .default-content-wrapper > * {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media (min-width: 768px) {
    .spurs .section-testimonials .default-content-wrapper {
        display: flex;
        column-gap: 30px;
    }

    .spurs .section-testimonials .default-content-wrapper > * {
        width: 50%;
    }

    .spurs .section-testimonials.section-testimonials-inverted  .default-content-wrapper > p:first-child {
        order: 1;
    }

    .spurs .section-testimonials-text p:first-child {
        font-size: 34px;
    }

    .spurs .section-testimonials-text p strong {
        font-size: 20px;
    }

    .spurs .section-testimonials-text p em {
        font-style: normal;
        font-size: 20px;
    }
}

@media (min-width: 992px) {
    .spurs .section-two .default-content-wrapper {
        gap: 20px;
    }

    .spurs .section-two h2,
    .spurs .section-two h3,
    .spurs .section-two h4 {
        font-size: 45px;
        line-height: 1.1;
        font-weight: 300;
    }

    .spurs .section-two .default-content-wrapper {
        display: flex;
    }

    .spurs .section-two .default-content-wrapper > * {
        width: 50%;
    }

    .spurs .section-two .default-content-wrapper > div,
    .spurs .section-two .default-content-wrapper > p {
        margin-top: 0;
        font-size: 20px;
        line-height: 1.33;
        font-weight: 300;
    }

    .spurs .section-testimonials-text p:first-child {
        font-size: 40px;
        font-weight: 400;
    }
}
