:root {
    --blue: #006dff;
    --red: #ff2800;
    --dark: #010f10;
    --dark2: #0c0f14;
    --darker: #06080a;
    --font-ibm: "IBM Plex Sans", sans-serif;
  }

/* tipography */
.trusted_lp {
    color: white;
    font-family: "IBM Plex Sans", sans-serif;
}

.trusted_lp h1 {
    font: normal normal bold 44px/42px var(--font-ibm);
    text-align: left;
}

.trusted_lp h2 {
    font: normal normal bold 31px/33px var(--font-ibm);
    text-align: left;
}

.trusted_lp h3 {
    font: normal normal bold 20px/24px var(--font-ibm);
    text-align: left;
}

.trusted_lp p {
    font: normal normal normal 16px/22px var(--font-ibm);
    text-align: left;
}

.trusted_lp u {
    text-decoration: none;
}

.trusted_lp .d-flex {
    display: block;
}

.trusted_lp .justify-between {
    justify-content: space-between;
}

.trusted_lp .align-top {
    align-items: top;
}

.trusted_lp .align-center {
    align-items: center;
}

.trusted_lp .align-end {
    align-items: end;
}

.trusted_lp .d-flex div {
    flex: 1;
}

.trusted_lp.blue_bck {
    background-color: var(--blue);
}

.trusted_lp.red_bck {
    background-color: var(--red);
}

.trusted_lp.dark_bck {
    background-color: var(--dark);
}

.trusted_lp.dark2_bck {
    background-color: var(--dark2);
}

.trusted_lp.darker_bck {
    background-color: var(--darker);
}

.trusted_lp .only-desktop {
    display: none;
}

.trusted_lp .only-mobile {
    display: block;
}

.trusted_lp a.button {
    border: 1px solid white;
    color: white;
    font-weight: 500;
    background-color: transparent;
    border-radius: 5px;
    padding: 5px 3px 5px 16px;
}

/* mouse-scroll */
.trusted_lp #mouse-scroll {
    display: block;
}

.trusted_lp #mouse-scroll {
    position: fixed;
    margin: auto;
    left: 20%;
    top: 17em;
    -webkit-transform: translateX(-20%);
    z-index: 9999;
}

.trusted_lp #mouse-scroll span {
    display: block;
     /*width: 5px;
    height: 5px;
   -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;*/
    width: 13px;
    height: 15px;
    background: url('../../icons/arow_down.png') 0 0 no-repeat transparent;
    margin: 3px auto;
}

.trusted_lp #mouse-scroll .mouse {
    height: 60px;
    width: 38px;
    border-radius: 30px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    border: 2px solid #ffffff;
    top: 170px;
    margin-bottom: 9px;
}

.trusted_lp #mouse-scroll .down-arrow-1 {
    margin-top: 6px;
}

.trusted_lp #mouse-scroll .down-arrow-1, .trusted_lp #mouse-scroll .down-arrow-2, .trusted_lp #mouse-scroll .down-arrow-3 {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
}

.trusted_lp #mouse-croll .down-arrow-1 {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
}

.trusted_lp #mouse-scroll .down-arrow-2 {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
}

.trusted_lp #mouse-scroll .down-arrow-3 {
    -webkit-animation-delay: .3s;
    -moz-animation-dekay: .3s;
    -webkit-animation-direction: alternate;
}

.trusted_lp #mouse-scroll .mouse-in {
    height: 10px;
    width: 6px;
    display: block;
    border-radius: 5px;
    margin: 5px auto;
    background: transparent;
    border: 1px solid white;
}

. #mouse-scroll .mouse-in {
    -webkit-animation: animated-mouse 1.2s ease infinite;
    -moz-animation: mouse-animated 1.2s ease infinite;
}

/*!* ---- reset ---- *!*/

/*body {*/
/*    margin: 0;*/
/*    font:normal 75% Arial, Helvetica, sans-serif;*/
/*}*/

trusted_lp canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #006eff;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* ---- stats.js ---- */

.count-particles{
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles{
    font-size: 1.1em;
}

@-webkit-keyframes animated-mouse {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@-webkit-keyframes mouse-scroll {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@media (width >= 768px) {
    .trusted_lp h1 {
        font: normal normal bold 96px/82px "IBM Plex Sans", sans-serif;
    }

    .trusted_lp h2 {
        font: normal normal bold 64px/61px "IBM Plex Sans", sans-serif;
    }

    .trusted_lp h3 {
        font: normal normal bold 40px/45px "IBM Plex Sans", sans-serif;
    }

    .trusted_lp p {
        font: normal normal normal 24px/32px "IBM Plex Sans", sans-serif;
    }

    .trusted_lp .d-flex {
        display: flex;
    }

    .trusted_lp .only-desktop {
        display: block;
    }

    .trusted_lp .only-mobile {
        display: none;
    }
}

@media (width <= 768px) {
    .trusted_lp .default-content-wrapper {
        padding: 1em!important;
    }
}
