:root {
    --blue: #006dff;
    --red: #ff2800;
    --dark: #010f10;
    --dark2: #0c0f14;
    --darker: #06080a;
    --font-ibm: "IBM Plex Sans", sans-serif;
}

/* tipography */
.trusted {
    color: white;
    font-family: "IBM Plex Sans", sans-serif;
    position: relative;
}

.trusted div[data-align="right"] {
    text-align: right;
}

.trusted div[data-align="left"] {
    text-align: left;
}

.trusted div[data-align="center"] {
    text-align: center;
}

.trusted h1 {
    font: normal normal bold 44px/42px var(--font-ibm);
    text-align: left;
}

.trusted h2 {
    font: normal normal bold 31px/33px var(--font-ibm);
    text-align: left;
}

.trusted h3 {
    font: normal normal bold 20px/24px var(--font-ibm);
    text-align: left;
}

.trusted h4 {
    font: normal normal normal 18px/20px var(--font-ibm);
    text-align: left;
}

.trusted p {
    font: normal normal normal 16px/22px var(--font-ibm);
    text-align: left;
}

.trusted u {
    text-decoration: none;
}

.trusted .blue_tag u {
    color: var(--blue);
}

.trusted .d-flex {
    flex-direction: column;
}

.trusted .justify-between {
    justify-content: space-between;
}

.trusted .align-top {
    align-items: top;
}

.trusted .align-center {
    align-items: center;
}

.trusted .align-end {
    align-items: end;
}

.trusted .d-flex div {
    flex: 1;
}

.trusted .blue_bck {
    background-color: var(--blue);
}

.trusted .red_bck {
    background-color: var(--red);
}

.trusted .dark_bck {
    background-color: var(--dark);
}

.trusted .dark2_bck {
    background-color: var(--dark2);
}

.trusted .darker_bck {
    background-color: var(--darker);
}

.trusted .only-desktop {
    display: none;
}

.trusted .only-mobile {
    display: block;
}

.trusted a.button.primary,
.trusted button.primary {
    border: 1px solid white;
    color: white;
    font-weight: 500;
    background-color: transparent;
    border-radius: 5px;
    padding: 5px 3px 5px 16px;
}

.trusted a.button:any-link:not(.modal):not(.primary) {
    background-color: var(--blue);
    border: 2px solid var(--blue);
}

/* long button css todo: maybe we shouldn't have this long text button from the start from UX perspective */
.trusted a.button.modal,
main .section.link-right a {
    white-space: unset;
    text-align: unset;
}

.trusted .video_up {
    z-index: 999;
    position: relative;
    margin-top: -15em;
    background: linear-gradient(to bottom, transparent 31%,var(--dark2) 31%);
}

.trusted .apartnership_box .d-flex > div:nth-of-type(2) {
    flex: 0;
    margin-left: 0;
}

.trusted .has_quotes .d-flex > div:nth-of-type(2) {
    margin-left: 0;
}

.trusted .has_quotes p {
    margin: 0;
}

.trusted .has_quotes em {
    font-style: normal;
}

.trusted .has_quotes blockquote {
    margin: 0;
}

.trusted .has_quotes blockquote::before, .trusted .has_quotes blockquote::after {
    content: "";
    height: 40px;
    width: 100%;
    display: block;
}

.trusted .has_quotes blockquote::before {
    margin-bottom: 1em;
    background: url('../../icons/quote_top.png') no-repeat 0 0 transparent;
    background-size: auto 100%;
}

.trusted .has_quotes blockquote::after {
    margin-top: 1em;
    background: url('../../icons/quote_top.png') no-repeat 0 0 transparent;
    background-position: right;
    background-size: auto 100%;
}

/* mouse-scroll */
.trusted #mouse-scroll {
    display: none;
}

.trusted #mouse-scroll {
    position: fixed;
    margin: auto;
    left: 10%;
    top: 17em;
    -webkit-transform: translateX(-20%);
    z-index: 9999;
}

.trusted #mouse-scroll span {
    display: block;
     /*width: 5px;
    height: 5px;
   -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;*/
    width: 13px;
    height: 15px;
    background: url('../../icons/arow_down.png') 0 0 no-repeat transparent;
    margin: 3px auto;
}

.trusted #mouse-scroll .mouse {
    height: 60px;
    width: 38px;
    border-radius: 30px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    border: 2px solid #ffffff;
    top: 170px;
    margin-bottom: 9px;
}

.trusted #mouse-scroll .down-arrow-1 {
    margin-top: 6px;
}

.trusted #mouse-scroll .down-arrow-1, .trusted #mouse-scroll .down-arrow-2, .trusted #mouse-scroll .down-arrow-3 {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
}

.trusted #mouse-croll .down-arrow-1 {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
}

.trusted #mouse-scroll .down-arrow-2 {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
}

.trusted #mouse-scroll .down-arrow-3 {
    -webkit-animation-delay: .3s;
    -moz-animation-dekay: .3s;
    -webkit-animation-direction: alternate;
}

.trusted #mouse-scroll .mouse-in {
    height: 10px;
    width: 6px;
    display: block;
    border-radius: 5px;
    margin: 5px auto;
    background: transparent;
    border: 1px solid white;
}

.trusted #mouse-scroll .mouse-in {
    -webkit-animation: animated-mouse 1.2s ease infinite;
    -moz-animation: mouse-animated 1.2s ease infinite;
}

.trusted canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */

.trusted #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--blue);
}

@-webkit-keyframes animated-mouse {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@-webkit-keyframes mouse-scroll {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@media (width >= 768px) {
    .trusted h1 {
        font: normal normal bold 96px/82px "IBM Plex Sans", sans-serif;
    }

    .trusted h2 {
        font: normal normal bold 64px/61px "IBM Plex Sans", sans-serif;
    }

    .trusted h3 {
        font: normal normal bold 40px/45px "IBM Plex Sans", sans-serif;
    }

    .trusted h4 {
        font: normal normal normal 35px/38px "IBM Plex Sans", sans-serif;
    }

    .trusted p {
        font: normal normal normal 24px/32px "IBM Plex Sans", sans-serif;
    }

    .trusted .d-flex {
        display: flex;
        flex-direction: row;
    }

    .trusted .only-desktop {
        display: block;
    }

    .trusted .only-mobile {
        display: none;
    }

    .trusted #mouse-scroll {
        display: block;
    }

    .trusted .apartnership_box .d-flex > div:nth-of-type(2) {
        margin-left: 14em;
    }

    .trusted .has_quotes .d-flex > div:nth-of-type(2) {
        margin-left: 6em;
    }

    .trusted .has_quotes blockquote::before, .trusted .has_quotes blockquote::after {
        height: 60px;
    }
}

@media (width <= 768px) {
    .trusted .default-content-wrapper {
        padding: 1em!important;
    }

    .trusted .top_banner .default-content-wrapper {
        padding-bottom: 0!important;

    }
}
