.columns-wrapper {
  padding: 0 var(--body-padding);
}

.columns > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.columns > div > div {
  order: 1;
}

.columns.carousel > div {
  flex-direction: row;
}

.columns img {
  width: 100%;
}

.columns-img-col {
  text-align: center;
}

.modal-container.get-bitdefender-familypack img{
  height: auto;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 992px) { /* desktop */

  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns-wrapper {
    max-width: var(--section-desktop-max-width);
    padding: 0 var(--section-desktop-padding);
    margin: 0 auto;
  }
}

@media (min-width: 1600px) { /* large desktop */
  .columns-wrapper {
    max-width: var(--section-large-desktop-max-width);
    padding: 0 var(--section-large-desktop-padding);
  }
}

/* Features cards */

.columns.features > p {
  margin-bottom: 0;
  margin-top: 0;
}

.columns.features > div {
  align-items: flex-start;
}

.columns.features > .icon {
  width: unset;
  max-width: 66px;
  margin-bottom: 16px;
}

.columns.features p {
  font-size: var(--body-font-size-s);
  line-height: 1.5;
  letter-spacing: .006em;
  font-weight: var(--font-weight-regular);
}

.columns.features h3 {
  font-size: var(--heading-font-size-m);
  font-weight: var(--font-weight-bold);
  line-height: 1.25;
}

@media (min-width: 767px) {
  .columns.features > div {
    flex-direction: unset;
    gap: 32px;
  }
}

@media (min-width: 1271px) {
  .columns.features p {
    font-size: 18px;
  }
}

.columns.bg-image > div {
  width: calc(100% - 30%)!important;
}

/* awards styling */
.columns.awards > div {
  row-gap: 30px;
  align-items: flex-start;
}

.columns.awards > div > div {
  flex-direction: column;
  width: 100%;
  flex: 1;
  line-height: 1.13;
  text-align: center;
  margin: 0 10px;
}

/* paragraph with image */
.columns.awards > div > div > p {
  margin: 0;
  padding: 0 5px;
}

.columns.video-presentation > div > div > p {
  font-size: var(--body-font-size-s);
}

.columns.carousel > div > div >p {
  width: inherit;
  padding: 0 50px;
}

.columns.awards > div > div > p:not(:last-of-type) {
  margin-bottom: 8px;
}

.columns.awards > div > div > p:first-of-type {
  margin-bottom: 24px;
}

.columns.awards > div img {
  display: block;
  height: 56px;
  object-fit: contain;
}

/* video presentation */
.columns.video-presentation > div > div {
  margin: 0 auto;
}

.columns.video-presentation .button-container {
  display: inline-block;
  padding-right: 13px;
}

.columns.video-presentation .linked-image-container {
  display: inline-block;
  padding-right: 3px;
  margin-top: 0;
  margin-bottom: 0;
}

.columns.video-presentation .linked-image-container img {
  width: 150px;
  height: 44px;
}

.columns.video-presentation ul {
  padding-top: 1px;
}

.columns.video-presentation .modal-video-container {
  max-width: 520px;
  max-height: 293px;
}

.columns.carousel {
  width: 100%;
  margin-top: 50px;
  overflow: hidden;
  height: 437px;
}

.columns.carousel button{
  align-items: flex-start;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 10px;
  padding: 0;
  background-color: var(--black-color);
  border: none;
}

.columns.carousel button:hover {
  background-color: var(--link-color);
}

.carousel-buttons {
  position: relative;
  top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .4s ease-in-out;
}

.columns.carousel > div > div {
  margin: 10px 5px;
  width: 100%;
  box-sizing: border-box; 
}

.columns.carousel > div:nth-child(1) {
  position: relative;
  left: 0;
  gap: 0;
  transition: transform 0.3s ease-in-out;
  height: 200px;
}


@media (min-width: 676px) {
  .columns.carousel > div > div {
    transition: transform 0.3s, opacity 0.3s; 
  }

  .columns.carousel > div:nth-child(1) {
    width: max-content;
  }
}

@media (min-width: 676px) and (max-width: 989px) {
  .slide-left {
      transform: translateX(-50%);
  }
}

@media (min-width: 990px) {
  .columns.carousel button{
    margin: -5px;
  }

  .slide-left {
    transform: translateX(-25%);
  }
}

.columns.carousel .active-button {
  background-color: var(--link-color);
}

.modal-container.get-bitdefender-familypack .columns.block.columns-2-cols > div {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}

@media (min-width: 768px) { 
  .modal-container.get-bitdefender-familypack .columns.block.columns-2-cols > div {
    display: flex;
    flex: 1;
    flex-direction: row;
    order: unset;
    justify-content: center;
    align-items: center;
  } 
}

.modal-container.modal-container.get-bitdefender-familypack .modal-content .section.columns-container {
  border-bottom: none;
  padding: 0;
}

.columns-container[data-bg-image]{
  background-repeat: no-repeat;
  background-size: cover;
  padding: 115px 0;
  color: white;
}

.columns.bg-image > div > div > h4 {
  padding: 0 0 50px;
  font-size: var(--heading-font-size-m);
  font-style: bold;
}

.columns.bg-image > div > div > h3 {
  font-size: var(--heading-font-size-xl);
  font-style: bold;
}

.columns.bg-image .button-container {
  padding: 10px 0 0;
}


