.accordion .accordion-item {
  margin: 16px 20px;
  padding: 18px 54px;
  border-radius: 10px;
  border-color: rgb(229 231 235);
  border-width: 0;
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 10%);
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

@media (min-width:992px) {
  .accordion .accordion-item {
    margin: 16px 50px;
  }
}

.accordion-item .accordion-item-header {
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #000;
}

.accordion-item-header::after {
  transform: rotate(45deg);
  border-color: #c5c5c5;
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: " ";
  width: 10px;
  height: 10px;
  display: block;
  float: right;
  margin: 3px 0;
  transition: top .3s ease-in-out,transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
}

.accordion-item.expanded .accordion-item-header::after {
  transform: rotate(-135deg);
  border-color: #006eff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  float: right;
}

.accordion-item .accordion-item-content {
  font-weight: 300;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.accordion-item-content ul {
  padding-left: 20px;
}

.accordion-item-content li {
  font-size: 16px;
  line-height: 26px;
  margin: 0 0 15px;
  padding: 0 0 0 20px;
}

.accordion-item.expanded .accordion-item-content {
  opacity: 1;
  height: auto;
  transition: all 0.3s ease-in-out;
}

.accordion-item.accordion-item-open .accordion-item-content {
  display: block;
}

.page-accordion {
  padding: 4rem 0 !important;
}

.page-accordion > div {
  padding: 0 1.25rem;
}

.page-accordion > .default-content-wrapper:nth-of-type(1) {
  margin-bottom: 0.625rem;
}

.page-accordion > .default-content-wrapper:nth-of-type(1) h3 {
  line-height: 1.15;
  font-weight: 500;
  color: #000;
  font-family: var(--body-font-family),sans-serif;
  font-size: var(--body-font-size-m);
  margin-bottom: 0.9375rem;
  margin-top: 0;
}

.page-accordion .accordion-item {
  padding: 1rem 1.4375rem 0.9375rem;
  margin: 0 0 1rem 0;
}

.page-accordion > .default-content-wrapper:last-of-type p {
  margin: 0;
  line-height: 1.4;
  padding: 0 2.5rem 0 1.25rem;
  font-size: var(--body-font-size-xs);
}

.page-accordion .accordion-item .accordion-item-header {
  padding: 0 2.5rem 0 1.25rem;
}

.page-accordion .accordion-item.expanded .accordion-item-content {
  margin-top: 0.5625rem;
  padding: 0 1.25rem;
}

@media(min-width: 480px) {
  .page-accordion > .default-content-wrapper:nth-of-type(1) h3{
    font-size: var(--body-font-size-m);
  }
}

@media(min-width: 767px) {
  .page-accordion > .default-content-wrapper:nth-of-type(1) h3 {
    font-size: var(--heading-font-size-m);
  }

  .page-accordion > .default-content-wrapper:last-of-type p {
    padding: 0 3.125rem 0 1.9375rem;
  }
}

@media(min-width: 990px) {
  .page-accordion > .default-content-wrapper:nth-of-type(1) h3 {
    font-size: var(--heading-font-size-ml);
  }
  .page-accordion {
  }

  .page-accordion > div {
    padding: 0 3.125rem;
    max-width: 81.25rem;
    margin: 0 auto;
  }
}

@media(min-width: 1200px) {
  .page-accordion > .default-content-wrapper:nth-of-type(1) h3 {
    font-size: var(--heading-font-size-l);
  }

  .page-accordion > .default-content-wrapper:last-of-type p {
    font-size: var(--body-font-size-s);
  }
}