.box-image-round-card-container .inner-wrapper {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.08);
    position: relative;
    overflow: hidden;
    z-index: 2;
    width: 100%;
    margin: 10px 0;
    padding: 40px 23px 2pc;
}

/*.box-image-round-card-container .inner-wrapper > div:nth-child(1) {*/
/*    width: 50%;*/
/*}*/

/*.box-image-round-card-container .inner-wrapper > div:last-child {*/
/*    border-radius: 50%;*/
/*    position: absolute;*/
/*    right: -35px;*/
/*    top: -60px;*/
/*    width: 225px;*/
/*    height: 225px;*/
/*    overflow: hidden;*/
/*}*/

.box-image-round-card-container .icon-apple {
    width: 60px;
    transform: none;
}

.box-image-round-card-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
    transform: scale(1);
}

.box-image-round-card-container .inner-wrapper > a:first-child {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    text-indent: -999999px;
}

.box-image-round-card-container .inner-wrapper p.button-container {
    display: inline-block;
    margin-right: 10px;
}

@media(min-width: 767px) {
    /* tablet */
    .box-image-round-card-container .inner-wrapper p {
        font-size: 18px;
    }
    /*.box-image-round-card-container .inner-wrapper > div:last-child {*/
    /*    width: 325px;*/
    /*    height: 325px;*/
    /*}*/
    .box-image-round-card-container .inner-wrapper > a:first-child:hover ~ div p.button-container > a::after {
        transform: translateX(5px);
        opacity: 1;
    }
    .box-image-round-card-container .inner-wrapper > a:first-child:hover ~ div p.button-container > a span.button-text {
        transform: translate(-10px, 0);
    }

    .box-image-round-card-container .inner-wrapper > a:first-child:hover ~ div img {
        transform: scale(1.1);
    }

    .box-image-round-card-container .default-content-wrapper {
        display: flex;
    }

    .box-image-round-card-container .card-wrapper {
        order: 2;
        flex: 60%;
        display: flex;
        align-items: center;
    }

    .box-image-round-card-container .picture-wrapper {
        order: 1;
        flex: 40%;
        padding-right: 25px;
        margin: 10px 0;
    }
}
