/* stylelint-disable  */
.new-prod-boxes-container {
  padding-bottom: 0;
}
.new-prod-boxes-container .block {
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}
.new-prod-boxes-container .block .prod_box {
  flex: 1;
  margin: 1em 0;
}
.new-prod-boxes-container .block .prod_box .inner_prod_box {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #F6F6F6;
  border-radius: 20px;
  padding: 25px;
  margin: 0 auto;
}
.new-prod-boxes-container .block .prod_box .inner_prod_box .greenTag2 {
  height: 37px;
  width: 100%;
  font-size: var(--body-font-size-xs);
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  font-weight: bold;
  background-color: #1C7928;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 7px;
  margin-top: -64px;
  margin-bottom: 37px;
}
.new-prod-boxes-container .block .prod_box .inner_prod_box h2 {
  font-weight: bold;
  font-size: var(--body-font-size-m);
  line-height: var(--body-font-size-m);
  font-family: Arial, sans-serif;
  margin-top: 10px;
}
.new-prod-boxes-container .block .prod_box .inner_prod_box h2 a {
  transition: all 0.5s ease;
}
.new-prod-boxes-container .block .prod_box .inner_prod_box h2 a:hover {
  text-decoration: none;
  transition: all 0.5s ease;
}
.new-prod-boxes-container .block .prod_box .inner_prod_box .blueTag {
  font-size: var(--body-font-size-xs);
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  background-color: #026DFF;
  display: inline-block;
  border-radius: 20px;
  padding: 1px 12px;
}
.new-prod-boxes-container .block .prod_box .inner_prod_box .blueTag div {
  display: flex;
}
.new-prod-boxes-container .block .prod_box .inner_prod_box .blueTag img {
  height: 14px;
  margin-right: 5px;
  margin-top: -5px;
}
.new-prod-boxes-container .block .prod_box .inner_prod_box .subtitle {
  font-size: 14px;
  font-family: Arial, sans-serif;
  margin-bottom: 0;
  line-height: 1.25;
}
.new-prod-boxes-container .block .prod_box .inner_prod_box .subtitle.fixed_height {
  min-height: 80px;
}
.new-prod-boxes-container .block .prod_box .inner_prod_box hr {
  border: 1px solid #D1D1D1;
  margin: 10px 0;
}
.new-prod-boxes-container .block .prod_box .inner_prod_box .save_price_box {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 8px;
}
.new-prod-boxes-container .block .prod_box .inner_prod_box .save_price_box .prod-oldprice {
  font-size: var(--heading-font-size-xs);
  line-height: var(--heading-font-size-xs);
  text-decoration: line-through;
  margin-right: 10px;
}
.new-prod-boxes-container .block .prod_box .inner_prod_box .save_price_box .prod-percent {
  font-size: 13px;
  line-height: 15px;
  color: white;
  background-color: #68BA68;
  border-radius: 11px;
  padding: 4px 10px;
}
.new-prod-boxes-container .block .prod_box .inner_prod_box .prices_box {
  display: flex;
  justify-content: left;
}
.new-prod-boxes-container .block .prod_box .inner_prod_box .prices_box .prod-newprice {
  font-size: var(--heading-font-size-xl);
  line-height: var(--heading-font-size-xl);
}
.new-prod-boxes-container .block .prod_box .inner_prod_box .prices_box sup {
  margin: 15px 0 0 5px;
  font-size: var(--heading-font-size-s);
  line-height: var(--heading-font-size-s);
}
.new-prod-boxes-container .block .prod_box .inner_prod_box .billed {
  font-size: 12px;
  font-family: Arial, sans-serif;
  line-height: 13px;
  margin: 7px 0;
}
.new-prod-boxes-container .block .prod_box .inner_prod_box .buy-btn a.red-buy-button {
  width: 100%;
  text-transform: none;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500 !important;
  padding: 10px 1% !important;
}
.new-prod-boxes-container .block .prod_box .inner_prod_box .undeBuyLink {
  font-size: 12px;
  font-family: Arial, sans-serif;
  line-height: 13px;
  margin: 7px 0;
}
.new-prod-boxes-container .block .prod_box .inner_prod_box .benefitsLists {
  font-family: Arial, sans-serif;
  color: transparent;
}
.new-prod-boxes-container .block .prod_box .inner_prod_box .benefitsLists p {
  margin: 0;
}
.new-prod-boxes-container .block .prod_box .inner_prod_box .benefitsLists u {
  font-size: var(--body-font-size-xs);
  text-decoration: none;
}
.new-prod-boxes-container .block .prod_box .inner_prod_box .benefitsLists ul {
  margin: 0;
  margin-bottom: -5px;
  padding: 0;
  color: black;
}
.new-prod-boxes-container .block .prod_box .inner_prod_box .benefitsLists ul li:first-of-type {
  font-size: var(--body-font-size-xs);
  line-height: var(--heading-font-size-s);
  text-decoration: none;
  list-style-type: none;
  font-weight: bold;
  font-family: Arial, sans-serif;
  margin-bottom: 1.5rem;
}
.new-prod-boxes-container .block .prod_box .inner_prod_box .benefitsLists ul li:first-of-type.has_arrow::before {
  content: "";
  margin: 0 5px 20px 0;
  background: url("bitdefender.com/pages/icons/arrow-left-blue.png") no-repeat center transparent;
  width: 20px;
  height: 20px;
  background-size: 15px 12px;
  float: left;
}
.new-prod-boxes-container .block .prod_box .inner_prod_box .benefitsLists ul li:first-of-type.has_arrow_right .arrow-right {
  background: url("bitdefender.com/pages/icons/arrow-right-solid.svg") no-repeat center transparent;
  width: 20px;
  height: 20px;
  background-size: 15px 12px;
  position: relative;
  top: 4px;
  display: inline-flex;
}
.new-prod-boxes-container .block .prod_box .inner_prod_box .benefitsLists ul li:not(:first-of-type) {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 8px;
  list-style-type: none;
  background: url("https://bitdefender.com/pages/images/icons/ok.png") top 2px left no-repeat transparent;
  padding-left: 22px;
  background-size: 13px;
  position: relative;
}
.new-prod-boxes-container .block .prod_box .inner_prod_box .benefitsLists ul li:not(:first-of-type) span {
  position: absolute;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 28px;
  left: 0;
  bottom: 0;
  z-index: 1;
  font-size: 12px;
  box-shadow: 4px 4px 7px -8px #000;
  display: none;
}
.new-prod-boxes-container .block .prod_box .inner_prod_box .benefitsLists ul li:not(:first-of-type) span::before {
  content: "";
  position: absolute;
  left: 17px;
  bottom: -20px;
  border-width: 10px;
  border-style: solid;
  border-color: white transparent transparent;
}
.new-prod-boxes-container .block .prod_box .inner_prod_box .benefitsLists ul li:not(:first-of-type):hover span {
  display: block;
}
.new-prod-boxes-container .block .prod_box .inner_prod_box .benefitsLists ul li:not(:first-of-type) u {
  font-size: 14px;
  font-weight: bold;
  color: white;
  border-radius: 20px;
  padding: 2px 21px 2px 7px;
  background: url("bitdefender.com/pages/images/icons/individual.svg") center right 6px no-repeat #026DFF;
  background-size: auto 12px;
}
.new-prod-boxes-container .block .prod_box .inner_prod_box .benefitsLists ul:nth-of-type(2) {
  min-height: 5em;
}
.new-prod-boxes-container .block .prod_box.hasGreenTag {
  margin-top: 3em;
}
.new-prod-boxes-container .block .prod_box.hasGreenTag .inner_prod_box {
  box-shadow: 0 3px 7px 0 #C1C1C1;
}

@media (width >= 768px) {
  .new-prod-boxes-container .block {
    flex-direction: row;
    padding: 0;
  }
  .new-prod-boxes-container .block .prod_box.hasGreenTag {
    margin-top: 1em;
  }
  .new-prod-boxes-container .block .prod_box .inner_prod_box {
    width: 92%;
  }
}