/* stylelint-disable  */
.new-prod-boxes-vsb-container {
  padding-bottom: 0;
  font-family: 'Arial', sans-serif;
  margin: clamp(10px, 25px, 15px) 0;
}

.new-prod-boxes-vsb-container.we-container {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.new-prod-boxes-vsb-container .default-content-wrapper p:has(> a) {
  text-align: center;
}

.new-prod-boxes-vsb-container .price_box {
  min-height: 64px;
  margin-top: 20px;
}

.new-prod-boxes-vsb-container .default-content-wrapper h2 {
  text-align: center;
  font-size: 32px;
  line-height: 37px;
  max-width: 550px;
  margin: auto;
  margin-bottom: 20px;
}
.new-prod-boxes-vsb-container .default-content-wrapper p {
  text-align: center;
  font-size: 18px;
  line-height: 23px;
}
.new-prod-boxes-vsb-container .new-prod-boxes-vsb {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box {
  flex: 1;
  max-width: 410px;
  margin: 8px;
}
.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box .inner_prod_box {
  position: relative;
  height: 100%;
  background-color: #F6F6F6;
  border-radius: 20px;
  padding: 25px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box .inner_prod_box .greenTag2 {
  height: 30px;
  max-width: 350px;
  width: 86%;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  background-color: #1C7928;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 7px;
  position: absolute;
  top: -39px;
  left: 7%;
  box-sizing: content-box;
}
.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box .inner_prod_box h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  font-family: Arial, sans-serif;
  margin-top: 10px;
  margin-bottom: 4px;
}
.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box .inner_prod_box h2 a {
  transition: all 0.5s ease;
}
.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box .inner_prod_box h2 a:hover {
  text-decoration: none;
  transition: all 0.5s ease;
}

.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box .inner_prod_box h3 {
  font-size: 22px;
  line-height: 25px;
  font-family: "IBM Plex Sans", Arial, sans-serif;
  margin-top: 10px;
  margin-bottom: 4px;
  font-weight: normal;
  max-width: 340px;
}
.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box .inner_prod_box .blueTag {
  font-size: var(--body-font-size-xs);
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  background-color: #026DFF;
  display: inline-block;
  border-radius: 20px;
  padding: 6px 16px;
}
.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box .inner_prod_box .blueTag div {
  display: flex;
}
.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box .inner_prod_box .blueTag img {
  height: 14px;
  margin-right: 5px;
  margin-top: -5px;
}
.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box .inner_prod_box .subtitle {
  font-size: clamp(10px, 14px, 14px);
  font-family: Arial, sans-serif;
  margin-bottom: 0;
  line-height: 1.25;
}
.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box .inner_prod_box .subtitle.fixed_height {
  min-height: 80px;
}
.new-prod-boxes-vsb-container .new-prod-boxes-vsb.subtitle-bigger .prod_box .inner_prod_box .subtitle {
  font-size: clamp(10px, 16px, 16px);
  max-height: 60px;
}
.new-prod-boxes-vsb-container .new-prod-boxes-vsb.add-margin-top {
  margin-top: 82px;
}

.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box .inner_prod_box .richTextArea {
  line-height: 17px;
  margin-top: 10px;
}
.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box .inner_prod_box hr {
  border: 1px solid #D1D1D1;
  margin: 10px 0;
}

.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box .inner_prod_box hr:first-of-type {
  margin-bottom: 0;
}

.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box .inner_prod_box hr:last-of-type {
  margin-bottom: 10px;
}

.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box .inner_prod_box .save_price_box {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 8px;
}
.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box .inner_prod_box .save_price_box .prod-oldprice {
  font-size: var(--heading-font-size-xs);
  line-height: var(--heading-font-size-xs);
  text-decoration: line-through;
  margin-right: 10px;
}
.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box .inner_prod_box .save_price_box .prod-percent {
  font-size: 13px;
  line-height: 15px;
  color: white;
  background-color: #68BA68;
  border-radius: 11px;
  padding: 4px 10px;
}
.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box .inner_prod_box .prices_box {
  display: flex;
  justify-content: left;
}
.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box .inner_prod_box .prices_box .prod-newprice {
  font-size: var(--heading-font-size-xl);
  line-height: var(--heading-font-size-xl);
}
.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box .inner_prod_box .prices_box sup {
  margin: 15px 0 0 5px;
  font-size: var(--heading-font-size-s);
  line-height: var(--heading-font-size-s);
}
.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box .inner_prod_box .billed {
  font-size: 12px;
  font-family: Arial, sans-serif;
  line-height: 13px;
  margin: 7px 0;
}
.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box .inner_prod_box .buy-btn a.red-buy-button {
  width: 100%;
  text-transform: none;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500 !important;
  padding: 10px 1% !important;
}
.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box .inner_prod_box .undeBuyLink {
  font-size: 12px;
  font-family: Arial, sans-serif;
  line-height: 13px;
  margin: 7px 0;
}
.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box .inner_prod_box .benefitsLists {
  font-family: Arial, sans-serif;
  color: transparent;
  display: flex;
  flex-grow: 1;
}
.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box .inner_prod_box .benefitsLists p {
  margin: 0;
}
.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box .inner_prod_box .benefitsLists u {
  font-size: var(--body-font-size-xs);
  text-decoration: none;
}
.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box .inner_prod_box .benefitsLists ul {
  margin: 0;
  margin-bottom: -5px;
  padding: 0;
  color: black;
}
.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box .inner_prod_box .benefitsLists ul li:first-of-type {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  list-style-type: none;
  font-weight: bold;
  font-family: Arial, sans-serif;
  margin-bottom: 0.5rem;
}
.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box .inner_prod_box .benefitsLists ul li:first-of-type.has_arrow::before {
  content: "";
  margin: 0 5px 20px 0;
  background: url("https://bitdefender.com/pages/icons/arrow-left-blue.png") no-repeat center transparent;
  width: 20px;
  height: 20px;
  background-size: 15px 12px;
  float: left;
}
.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box .inner_prod_box .benefitsLists ul li:first-of-type.has_arrow_right .arrow-right {
  background: url("https://bitdefender.com/icons/arrow-right-solid.svg") no-repeat center transparent;
  width: 20px;
  height: 20px;
  background-size: 15px 12px;
  position: relative;
  top: 4px;
  display: inline-flex;
}
.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box .inner_prod_box .benefitsLists ul li:not(:first-of-type) {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 8px;
  list-style-type: none;
  background: url("https://bitdefender.com/icons/circle-check-sharp-solid.svg") top 2px left no-repeat transparent;
  padding-left: 22px;
  background-size: 13px;
  position: relative;
}
.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box .inner_prod_box .benefitsLists ul li:not(:first-of-type) > span:last-of-type {
  position: absolute;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 28px;
  left: 0;
  bottom: 0;
  z-index: 1;
  font-size: 12px;
  box-shadow: 4px 4px 7px -8px #000;
  display: none;
}
.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box .inner_prod_box .benefitsLists ul li:not(:first-of-type) > span:last-of-type::before {
  content: "";
  position: absolute;
  left: 17px;
  bottom: -20px;
  border-width: 10px;
  border-style: solid;
  border-color: white transparent transparent;
}
.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box .inner_prod_box .benefitsLists ul li:not(:first-of-type):hover > span:last-of-type {
  display: block;
}
.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box .inner_prod_box .benefitsLists ul li:not(:first-of-type) u {
  font-size: 14px;
  font-weight: bold;
  color: white;
  border-radius: 20px;
  padding: 2px 21px 2px 7px;
  background: url("https://bitdefender.com/pages/images/icons/individual.svg") center right 6px no-repeat #026DFF;
  background-size: auto 12px;
}
.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box .inner_prod_box .benefitsLists ul:nth-of-type(2) {
  min-height: 5em;
}
.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box.hasGreenTag {
  margin-top: 45px;
}
.new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box.hasGreenTag .inner_prod_box {
  box-shadow: 0 3px 7px 0 #C1C1C1;
}

.new-prod-boxes-vsb-container .prod-oldprice {
  font-size: 16px;
  text-decoration: line-through;
}
.new-prod-boxes-vsb-container .prod-save {
  color: #1C7928;
  font-weight: bold;
}
.new-prod-boxes-vsb-container .prod-newprice {
  font-size: 40px;
  font-weight: bold;
}
.new-prod-boxes-vsb-container .newprice-container {
  line-height: 1;
}
.new-prod-boxes-vsb-container .newprice-container sup {
  position: relative;
  top: -20px;
}

.new-prod-boxes-vsb-container .button.primary {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  display: block;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
  padding: 10px 26px 8px 28px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #eb0000;
  border: 2px solid #eb0000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 8px;
  height: fit-content;
}

.new-prod-boxes-vsb-container .new-prod-boxes-vsb.smallerbuttons .button.primary {
  display: inline-block;
  min-width: 144px;
}

.new-prod-boxes-vsb-container .button.primary.no-arrow::after {
  content: none;
}

.new-prod-boxes-vsb-container .button.primary:hover {
  color: white;
  background-color: #B10304;
  border-color: #B10304;
}

.new-prod-boxes-vsb-container .button.primary:active {
  background-color: #920A0A;
  border-color: #920A0A;
}

.new-prod-boxes-vsb-container p em a {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  display: block;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
  padding: 10px 26px 8px 28px;
  text-align: center;
  cursor: pointer;
  color: #006EFF;
  background-color: transparent;
  border: 2px solid #006EFF;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 8px;
  height: fit-content;
}

.new-prod-boxes-vsb-container .new-prod-boxes-vsb.smallerbuttons p em a {
  display: inline-block;
  min-width: 144px;
}

.new-prod-boxes-vsb-container p em a:hover {
  color: white;
  background-color: #006DFF;
}

.new-prod-boxes-vsb-container p em a:active {
  background-color: #0D499B;
}

.new-prod-boxes-vsb-container .icon svg {
  width: 12px;
  height: 14px;
  padding-right: 2px;
  fill: #fff;
}

.new-prod-boxes-vsb-container .blue-pill {
  background-color: #026DFF;
  padding: 2.5px 6.7px;
  border-radius: 20px;
  color: white;
  font-style: normal;
  font-size: 11px;
  letter-spacing: 0px;
  font-weight: bold;
  display: inline-flex;
  justify-content: center;
}

.new-prod-boxes-vsb-container .blue-pill .icon {
  position: relative;
  top: 1px;
  margin-left: 1px;
}

.new-prod-boxes-vsb-container .blue-pill svg {
  width: 9px;
  height: 9px;
}

.switchBox {
  text-align: center;
  padding-bottom: 75px;
}

.switch {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 302px;
  height: 44px;
  background-color: #016DFF;
  border-radius: 22px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  content: "";
  height: 40px;
  width: 150px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 20px;
  transition: all 0.4s;
}

.switch input:checked + .slider {
  transform: translateX(149px);
}

.label {
  font-family: Arial, Helvetica, sans-serif;
  width: 50%;
  text-align: center;
  font-weight: bold;
  line-height: 34px;
  font-size: 16px;
  color: white;
  transition: color 0.4s;
}

.label.right {
  z-index: 10;
  color: black;
}

.label.left {
  z-index: 10;
}

.switch input:checked ~ .label.right {
  transition: color 0.4s;
  color: white !important;
}

.switch input ~ .label .icon {
  position: relative;
  margin-right: 10px;
  top: 2px;
}

.switch input ~ .label .icon svg {
  width: 14px;
  height: 16px;
}

.switch input ~ .label.right .icon svg {
  fill: #026DFF;
}

.switch input:checked ~ .label.right .icon svg {
  fill: white;
}

.switch input:checked ~ .label.left {
  transition: color 0.4s;
  color: black;
}

.switch input:checked ~ .label.left .icon svg {
  fill: #026DFF;
}

.prod-box.individual-box {
  transition: all 0.4s;
}

.prod_box.family-box {
  display: none;
  transition: all 0.4s;
}

.plan-switcher {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 24px;
  margin-top: 16px;
}

.plan-switcher input[type=radio] {
  position: absolute;
  opacity: 0;
}

.plan-switcher .radio-label {
  margin-right: 8px;
}

.plan-switcher .radio-label::before {
  content: "";
  background: #f4f4f4;
  color: #006DFF;
  border-radius: 100%;
  border: 2px solid #006DFF;
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  position: relative;
  margin-right: 9px;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}

.plan-switcher input[type=radio]:checked + .radio-label:before {
  background-color: #3197EE;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.plan-switcher input[type=radio]:focus + .radio-label:before {
  outline: none;
  border-color: #3197EE;
}

@media (min-width: 768px) {
  .new-prod-boxes-vsb-container .new-prod-boxes-vsb {
    flex-direction: row;
    padding-bottom: 60px;
    align-items: initial;
  }

  .new-prod-boxes-vsb-container .new-prod-boxes-vsb .prod_box.hasGreenTag {
    margin: 8px;
  }
}

@media (min-width: 992px) {
  .new-prod-boxes-vsb-container.we-container {
    max-width: 1300px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 1200px) {
  .new-prod-boxes-vsb-container.we-container {
    max-width: 1290px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
