header {
    /* remember to delete this line */
    display: none;
}

.features {
    display: flex;
    flex-direction: column;
    width: 99vw;
    margin: 0 auto;
}

.features > div > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    padding: 1em;
}

.features h1 {
    font-size: var(--heading-font-size-m);
    font-weight: var(--font-weight-bold);
    line-height: 1.25;
}

.features img {
    margin-left: 10px;
    height: 56px;
    max-width: 81px;
    object-fit: contain;
}

.features p {
    font-size: var(--body-font-size-s);
    line-height: 1.5;
    letter-spacing: .006em;
    margin-top: -5px;
}

@media screen and (min-width: 767px) {
    .features {
        max-width: 90vw;
        padding: 0 50px;
    }

    .features > div {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .features > div > div {
        padding-right: 4vw;
    }

    .features img {
        margin-left: 10px;
    }
}

