:root {
    /* breadcrumbs font size */  
    --breadcrumb-text-color-dark: #c5c5c5;
    --breadcrumb-text-color-dark-hover: #616161;
    --breadcrumbs-font-size-s: 12px;
}

main .hero .hero-content .breadcrumb {
    padding: 14px 0 20px;
    margin-bottom: 20px;
    font-weight: var(--font-weight-bold);
    color: #dedede;
}
  
main .hero.black-background .hero-content .breadcrumb{
    padding: 12px 0;
    margin-bottom: 12px;
}
  
main .hero .hero-content .breadcrumb a {
    font-size: var(--breadcrumbs-font-size-s);
    font-weight: var(--font-weight-bold);
    color: var(--breadcrumb-text-color-dark-hover);
    text-decoration: none;
    line-height: 1.7;
    letter-spacing: .96px;
}

main .hero .hero-content .breadcrumb a:last-child {
    padding: 0;
    margin: 0;
    pointer-events: none;
}
  
main .hero .hero-content .breadcrumb a::after {
    content: "/";
    display: inline-block;
    color: var(--color-dark-gray);
    margin: 0 3px;
    font-size: 9pt;
}

main .hero .hero-content .breadcrumb a:hover {
    color: var(--text-color);
}

main .hero.black-background .hero-content .breadcrumb a {
    color: var(--breadcrumb-text-color-dark);
    text-decoration: none;
}

main .hero.black-background .hero-content .breadcrumb a::after {
    color: #dedede;
}

main .hero.black-background .hero-content .breadcrumb a:hover {
    color: var(--breadcrumb-text-color-dark-hover);
}
