/* header and nav layout */
.nav-wrapper {
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: var(--text-color);
  z-index: 2;
  border-bottom: 2px solid gray;
}

.nav-brand,
.nav-sections {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 200px;
  margin-top: -22.5px;
}

.nav-sections {
  margin-left: 1100px;
  margin-top: -80px;
}

.nav-brand p,
.nav-sections p {
  display: inline-block;
}

.nav-brand p:hover,
.nav-sections p:hover {
  position: relative;
}

.nav-brand p:hover::after,
.nav-sections p:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 75%;
  height: 3px;
  background-color: var(--color-highlight-blue);
  animation: animateBottomBorder 0.3s linear forwards;
}

@keyframes animateBottomBorder {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.nav-brand a,
.nav-sections a {
  color: var(--text-color-header);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  margin-right: 30px;
  letter-spacing: 0.96px;
}

.nav-divider {
  width: 2px;
  background-color: gray;
  height: 20px;
  margin-right: 15px;
  margin-top: 7.5px;
}

.login-modal {
  position: fixed;
  margin-left: 1110px;
  margin-top: -280px;
  width: 375px;
  height: 275px;
  background-color: white;
  border-radius: 5px;
}

.your-account {
  position: relative;
  color: var(--text-color);
  top: 7.5px;
  left: 15px;
  font-size: 1.25rem;
}

.divider {
  position: relative;
  top: 10px;
  width: 100%;
  height: 1px;
  background-color: gray;
}

.login-buttons {
  position: relative;
  top: 20px;
  left: 15px;
  display: flex;
  flex-direction: column;
}

.login-buttons a {
  text-decoration: none;
  color: var(--color-highlight-blue);
  width: 300px;
  height: 35px;
  border-radius: 9px;
  border: 2px solid var(--color-highlight-blue);
  margin: 10px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  padding-top: 9px;
}

.login-buttons a:hover {
  background-color: var(--color-highlight-blue);
  color: white;
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  top: -13px;
  left: 320px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
}



body {
  background-color: gray;
}
