/* header and nav layout */
.nav-wrapper {
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: var(--text-color);
  border-bottom: 2px solid gray;
  z-index: 100;
}

.nav-brand,
.nav-sections {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  margin-top: -22.5px;
}

.nav-brand {
  flex-wrap: nowrap;
  justify-content: flex-start;
  left: min(200px, calc(100vw - 900px));
  width: 400px;
}

.nav-sections {
  position: absolute;
  flex-wrap: nowrap;
  justify-content: flex-end; 
  right: min(200px, calc(100vw - 900px));
  margin-top: -62px;
  width: 400px;
}

.nav-brand p,
.nav-sections p {
  display: inline-block;
}

.nav-brand p:hover,
.nav-sections p:hover {
  position: relative;
}

.nav-brand p:not(:first-child):hover::after,
.nav-sections p:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 75%;
  height: 3px;
  background-color: var(--color-highlight-blue);
  transition: all 0.2s ease-in-out;
  animation: animateBottomBorder 0.3s linear forwards;
}

@keyframes animateBottomBorder {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.nav-brand a,
.nav-sections a {
  color: var(--text-color-header);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  margin-right: 30px;
  letter-spacing: 0.96px;
}

.home-button-border {
  position: fixed;
  margin-top: -1px;
  width: 70px;
  height: 3px;
  background-color: var(--color-highlight-blue);
}

.nav-divider {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end; 
  min-width: 2px;
  width: 2px;
  background-color: gray;
  height: 20px;
  margin-right: 15px;
  margin-top: 7.5px;
}

.login-modal {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: min(220px, calc(100vw - 900px));
  margin-top: -270px;
  width: 375px;
  height: 275px;
  background-color: white;
  border-radius: 5px;
  opacity: 0; 
  transition: all 0.2s ease-in-out; 
}

.login-modal.show {
  opacity: 1;
  margin-top: -280px;
}

.login-button-border {
  position: relative;
  right: min(0px, calc(100vw - 900px));
  bottom: -2px;
  width: 54px;
  height: 3px;
  background-color: var(--color-highlight-blue);
}

.your-account {
  position: relative;
  white-space: nowrap;
  color: var(--text-color);
  top: 7.5px;
  left: 120px;
  font-size: 1.25rem;
}

.divider {
  position: absolute;
  margin-top: 45px;
  width: 100%;
  height: 1px;
  background-color: gray;
}

.login-buttons {
  position: relative;
  top: 60px;
  right: 10px;
  display: flex;
  flex-direction: column;
}

.login-buttons a {
  text-decoration: none;
  color: var(--color-highlight-blue);
  width: 330px;
  height: 35px;
  border-radius: 9px;
  border: 2px solid var(--color-highlight-blue);
  margin: 10px; 
  padding: 5px;
}

.login-buttons a p {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 5px;
  transition: all 0.2s ease-in-out;
  height: 100%;
}

.login-buttons a:hover p {
  margin-right: 50px;
}

.login-buttons a img {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  position: relative;
  left: 220px;
  bottom: 52px;
  width: 30px;
  filter: invert(100%);
}

.login-buttons a:hover img {
  opacity: 1;
  left: 230px;
}

.login-buttons a:nth-of-type(2) img {
  left: 280px;
}

.login-buttons a:nth-of-type(2):hover img {
  left: 290px;
}

.login-buttons a:nth-of-type(3) img {
  left: 190px;
}

.login-buttons a:nth-of-type(3):hover img {
  left: 200px;
}

.login-buttons a:hover {
  background-color: var(--color-highlight-blue);
  color: white;
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  top: -13px;
  left: 320px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
}



body {
  background-color: gray;
}
