main {
    background: black;
}

.box-carousel-container .box-carousel {
}

.box-carousel-container .carousel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-carousel-container .carousel-header .title {
    color: white;
}

.box-carousel-container .carousel-header .left-arrow,
.box-carousel-container .carousel-header .right-arrow {
    /*font-size: 40px;*/
    color: white;
}

.box-carousel-container .carousel-header .left-arrow {
    /*margin-left: 40%;*/
}

.box-carousel-container .carousel-header .right-arrow {
    /*margin-left: 50px;*/
}

.carousel-container {
    /*overflow: hidden;*/
    width: 100%; /* Container width */
    position: relative;
    display: flex; /* To center the carousel item */
    /*justify-content: center; !* Center carousel item *!*/
}

.carousel {
    display: flex;
    transition: transform 150ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

.carousel-item {
    width: 290px; /* Square dimensions */
    height: 290px; /* Square dimensions */
    margin: 10px; /* Space between items */
    box-sizing: border-box;
    padding: 20px;
    // background-color: #0044CC; /* Example blue color */
    border: 3px solid #006dff; /* Blue border */
    border-radius: 15px;
    color: white;
    font-size: 1em; /* Adjust font size as needed */
}

.carousel-item:first-child {
    margin-left: 0;
}

.carousel-item.active {
    background: #006dff;
    box-shadow: 0px 0px 20px 0px #006dff;
    color: black;
}

.carousel-item .title {
    font: normal normal bold 40px/45px "IBM Plex Sans", sans-serif;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    margin: 15px 0;
}

.carousel-item .subtitle {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.left-arrow svg {
    transform: rotate(180deg);
}

.arrow {
    width: 100px;
}

.arrow svg {
    width: 100%;
    height: 50px;
}

.arrow svg path {
    fill: white;
}

.arrow.disabled svg path {
    fill: #a5a5a5;
}

@media screen and (min-width: 768px) {
    .box-carousel-container .carousel-header {
        justify-content: flex-start;
        margin-bottom: 20px;
    }

    .box-carousel-container .carousel-header .left-arrow {
        margin-left: auto;
    }
}
