.sticky-nav ul li a {
  display: block;
  font-family: roboto,sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #3c3c3c;
  transition: color .3s ease-in-out;
  text-decoration:none;  
  padding: 24px 0;
  height: 68px;
}

.sticky-nav ul li {
  border-bottom: 1px solid #dedede;
}

.sticky-nav ul li.active::after {
  width: 100%;
}

.sticky-nav ul li::after {
  content: "";
  display: block;
  height: 4px;
  width: 0;
  background-color: #006eff;
  transition: width .3s ease-in-out;
}

.sticky-nav ul {
  display: none;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
  margin:0;
}

.sticky-nav .mobile-dropdown {
  font-family: roboto,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 68px;
  padding: 24px 20px;
  color: #000;
  display: flex;
  border-bottom: 1px solid #dedede;
}



.sticky-nav .mobile-dropdown::after {
  content: "";
  position: absolute;
  right: 0;
  width: 20px;
  height: 11px;
  margin-right: 20px;
  margin-top: 6px;
  background-image: url('/icons/sticky-nav-arrow.svg');
  background-repeat: no-repeat;
  background-position: 100%;
  background-color: transparent;
  display: block;
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

.sticky-nav .mobile-dropdown.opened::after {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.mobile-dropdown.opened + ul.menu {
  display: flex
}

.sticky-nav.fixed-nav {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  max-width: 20in
}

@media (min-width: 990px) { /* desktop */
  .sticky-nav ul {
    display: flex;
    flex-direction: row;
    padding: 0 50px;
    border-bottom: 1px solid #dedede;
    height: 65px;
  }

  .sticky-nav ul li {
    border: none;
    margin-right: 20px;
  }

  .sticky-nav .mobile-dropdown {
    display: none;
  }
}

@media (min-width: 1600px) {
  .sticky-nav ul {
    height: 72px;
  }

  .sticky-nav ul li a {
    font-size: 16px;
  }

}