.sticky-nav .inner-div {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 8%);
}

.sticky-nav ul li a {
  display: block;
  font-family: roboto,sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #3c3c3c;
  transition: color .3s ease-in-out;
  text-decoration:none;  
  padding: 24px 0;
}

.sticky-nav ul li {
  border-bottom: 1px solid #dedede;
}

.sticky-nav ul li.active::after {
  width: 100%;
}

.sticky-nav ul li::after {
  content: "";
  display: block;
  height: 4px;
  width: 0;
  background-color: #006eff;
  transition: width .3s ease-in-out;
}

.sticky-nav ul {
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
  margin:0;
}

.sticky-nav .mobile-dropdown {
  font-family: roboto,sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 24px 20px;
  color: #000;
  display: flex;
  border-bottom: 1px solid #dedede;
}

.sticky-nav .mobile-dropdown::after {
  content: "";
  position: absolute;
  right: 0;
  width: 20px;
  height: 11px;
  margin-right: 20px;
  margin-top: 6px;
  background-image: url('/icons/sticky-nav-arrow.svg');
  background-repeat: no-repeat;
  background-position: 100%;
  background-color: transparent;
  display: block;
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

.sticky-nav .mobile-dropdown.opened::after {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.mobile-dropdown.opened + .inner-div {
  display: flex
}

.sticky-nav.fixed-nav {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  max-width: 20in
}

.sticky-nav .button-container {
  margin:0;
  padding: 40px 0px 20px 20px;  
}

.sticky-nav .button-container a {
  font-size: 14px;
  vertical-align: middle;
  padding: 6px 15px;
}

@media (min-width: 990px) { /* desktop */

  .sticky-nav {
    border-bottom: 1px solid #dedede;
  }

  .sticky-nav .inner-div {
    display: flex;
    flex-direction: row;
    box-shadow: none;
    padding: 0 50px;
  }

  .sticky-nav ul {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .sticky-nav ul li {
    border: none;
    margin-right: 20px;
  }

  .sticky-nav .mobile-dropdown {
    display: none;
  }

  .sticky-nav .button-container {
    vertical-align: middle;
    padding: 0;  
  }
}

@media (min-width: 1600px) {
  
  .sticky-nav ul li a {
    font-size: 16px;
  }

  .sticky-nav .button-container a {
    font-size: 16px;
    padding: 8px 15px;
  }

}