div.sticky-nav ul li a {
  display: block;
  font-family: roboto,sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #3c3c3c;
  transition: color .3s ease-in-out;
  text-decoration:none;  
  padding: 24px 0;
  height: 68px;
}

div.sticky-nav ul.mobile-menu li a {
  color: #000;
}

div.sticky-nav ul li {
  border-bottom: 1px solid #dedede;
}

div.sticky-nav ul {
  display: none;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
  margin:0;
}

div.sticky-nav ul.mobile-menu {
  display: flex;
  border-bottom: 1px solid #dedede;
}

div.sticky-nav ul.mobile-menu li {
  border: none;
}

div.sticky-nav ul.mobile-menu::after {
  content: "";
  position: absolute;
  right: 0;
  width: 20px;
  height: 11px;
  margin-right: 20px;
  margin-top: 28px;
  background-image: url('/icons/sticky-nav-arrow.svg');
  background-repeat: no-repeat;
  background-position: 100%;
  background-color: transparent;
  display: block;
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

div.sticky-nav ul.mobile-menu.opened::after {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

ul.mobile-menu.opened +  ul.menu {
  display: flex
}

div.sticky-nav.fixed-nav {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  max-width: 20in
}

@media (min-width: 990px) { /* desktop */
  div.sticky-nav ul {
    display: flex;
    flex-direction: row;
    padding: 0 50px;
    border-bottom: 1px solid #dedede;
    height: 65px;
  }

  div.sticky-nav ul li {
    border: none;
    margin-right: 20px;
  }

  div.sticky-nav ul li.active {
    border-bottom: 2px solid #006eff;
    transition: width .3s ease-in-out
  }
  
  div.sticky-nav ul.mobile-menu {
    display: none;
  }
}

@media (min-width: 1600px) {
  div.sticky-nav ul {
    height: 72px;
  }

  div.sticky-nav ul li a {
    font-size: 16px;
  }

  div.sticky-nav ul li.active {
    border-bottom: 4px solid #006eff;
  }
}