/* stylelint-disable no-descending-specificity */
.bitdef-vs-brands {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bitdef-vs-brands .heading-container {
  text-align: center;
  max-width: 420px;
}

.bitdef-vs-brands .new-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bitdef-vs-brands-container.we-container {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.bitdef-vs-brands-wrapper h2 {
  font: normal normal bold 32px/37px Arial, sans-serif;
}

.bitdef-vs-brands-wrapper h3 {
  margin-bottom: 6px;
  margin-top: 5px;
  font: normal normal bold 24px Arial, sans-serif;
}

.bitdef-vs-brands-wrapper .row-2 {
  margin-bottom: 22px;
  font-size: 14px;
}

.bitdef-vs-brands-wrapper .table-container {
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 16px;
  max-width: 410px;
  margin-bottom: 50px;
}

.bitdef-vs-brands-wrapper table .blue-background p {
  background-color: #005bd5;
  color: white;
  padding: 9px;
  margin-top: 4px;
  margin-bottom: 4px;
  font: normal normal bold 14px/14px Arial, sans-serif;
}

.bitdef-vs-brands-wrapper table .grey-background p {
  background-color: #dedede;
  padding: 9px;
  margin-top: 4px;
  margin-bottom: 4pxs;
  font: normal normal normal 14px/14px Arial, sans-serif;
}

.bitdef-vs-brands-wrapper table .blue-background p:nth-child(1) {
  width: 100%;
  border-radius: 8px 0 0 8px;
}

.bitdef-vs-brands-wrapper table .blue-background p:nth-child(2) {
  border-radius: 0 8px 8px 0;
}

.bitdef-vs-brands-wrapper table .grey-background p:nth-child(1) {
  width: 100%;
  border-radius: 8px 0 0 8px;
}

.bitdef-vs-brands-wrapper table .grey-background p:nth-child(2) {
  border-radius: 0 8px 8px 0;
}

.bitdef-vs-brands-wrapper table .same-line {
  display: flex;
  animation: increaseWidth 1s forwards;
  width: 0;
}

.bitdef-vs-brands-wrapper table .same-line:nth-child(1) {
  margin-right: auto;
}

.bitdef-vs-brands-wrapper .same-line {
  animation: none;
}

.bitdef-vs-brands-wrapper .same-line.animate {
  animation: increaseWidth 1s forwards;
}

.bitdef-vs-brands .row-2 > .column-0 {
  padding-bottom: 14px;
  font: normal normal normal 14px/18px Arial, sans-serif;
}

.bitdef-vs-brands .row-6 > .column-0 {
  padding-top: 14px;
  font: normal normal normal 12px/14px Arial, sans-serif;
}

@keyframes increase-width-row1 {
  from {
    width: 0;
  }

  to {
    width: 95%;
  }
}

/* Keyframes for the second row animation */
@keyframes increase-width-row2 {
  from {
    width: 0;
  }

  to {
    width: 90%;
  }
}

/* Keyframes for the third row animation */
@keyframes increase-width-row3 {
  from {
    width: 0;
  }

  to {
    width: 85%;
  }
}

/* Apply different animations to each row */
.bitdef-vs-brands-wrapper table .row-3 .same-line.animate-row1 {
  animation: increase-width-row1 1s forwards;
}

.bitdef-vs-brands-wrapper table .row-4 .same-line.animate-row2 {
  animation: increase-width-row2 1s forwards;
}

.bitdef-vs-brands-wrapper table .row-5 .same-line.animate-row3 {
  animation: increase-width-row3 1s forwards;
}

.bitdef-vs-brands-wrapper img {
  max-width: 32px; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
}

@media (min-width: 768px) {
  .bitdef-vs-brands-wrapper .heading-container {
    max-width: 610px;
  }

  .bitdef-vs-brands-wrapper .new-container {
    flex-direction: row;
    gap: 3%;
    justify-content: center;
  }

  .bitdef-vs-brands-wrapper .table-container {
    width: 340px;
  }
}

@media (min-width: 990px) {
  .bitdef-vs-brands-wrapper .new-container {
    flex-direction: row;
    gap: 3%;
    justify-content: center;
  }

  .bitdef-vs-brands-wrapper .table-container {
    max-width: 410px;
  }

  .bitdef-vs-brands-container.we-container {
    max-width: 1300px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (width >= 1200px) {
  .bitdef-vs-brandss-container.we-container {
    max-width: 1332px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (width >= 1600px) {
  .bitdef-vs-brandss-container.we-container {
    max-width: 1332px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
