/* stylelint-disable */
.hero-aem-container.hero-vsb {
  overflow: unset !important;
}

.hero-aem-container .hero-aem p:first-of-type:has(a) {
  margin: 0;
  font-size: 16px;
}
.hero-aem-container .hero-aem >p:first-of-type  {
  margin: 0;
  margin-bottom: 20px;
}


.hero-aem-container .hero-aem p:first-of-type a  {
  margin: 0;
  margin-bottom: 20px;
}
.hero-aem-container .hero-aem h1 {
  color: #006DFF;
  font-size: 38px;
  font-weight: normal;
  margin-top: 10px;
  line-height: 1.1;
  margin-bottom: 20px;
}
.hero-aem-container .hero-aem h2 {
  margin-top: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.1;
}
.hero-aem-container .hero-aem .hero-aem__mobile-image img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: fit-content;
  position: relative;
  top: 6px;
}
.hero-aem-container .hero-aem .hero-aem__desktop-image {
  display: none;
}
.hero-aem-container .hero-aem .hero-aem__card-text {
  padding: 27px;
  font-size: 20px;
  background-color: #F7F7F7;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.hero-aem-container .hero-aem .hero-aem__card-text picture img {
  width: auto;
  max-height: 60px;
}

.hero-aem-container .hero-aem .hero-aem__card-text p:has(picture) {
  text-align: center;
}

.hero-aem-container .hero-aem .hero-aem__breadcrumb {
  border-spacing: 0;
  font-size: 12px;
  margin-bottom: 5px;
  align-self: flex-start;
}

.hero-aem-container .hero-aem .hero-aem__breadcrumb a {
  color: #202020;
  text-decoration: none;
}

.hero-aem-container .hero-aem .hero-aem__breadcrumb a:hover {
  text-decoration: underline;
}

.hero-aem-container .hero-aem p.button-container {
  text-align: center;
}
.hero-aem-container .hero-aem p.button-container .button.primary {
  width: 100%;
}
.hero-aem-container .hero-aem .prod-oldprice {
  font-size: 16px;
  text-decoration: line-through;
}
.hero-aem-container .hero-aem .prod-save {
  color: #1C7928;
  font-weight: bold;
  font-size: 16px;
  margin-left: 8px;
}
.hero-aem-container .hero-aem .prod-newprice {
  font-size: 40px;
  font-weight: bold;
}
.hero-aem-container .hero-aem .newprice-container {
  line-height: 1;
}
.hero-aem-container .hero-aem .newprice-container sup {
  position: relative;
  top: -7px;
}
.hero-aem-container .aem-two-cards {
  margin-top: 20px;
}
.hero-aem-container .aem-two-cards h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.1;
}
.hero-aem-container .aem-two-cards_card {
  border-radius: 20px;
  background-color: #F7F7F7;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.hero-aem-container .aem-two-cards_card .button-container {
  margin-top: auto;
}
.hero-aem-container .aem-two-cards .aem-two-cards_card h2 {
  color: #006DFF;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}
.hero-aem-container .aem-two-cards .justify-space-between {
  justify-content: space-between;
}

.h-100 {
  height: 100% !important;
}

.hero-aem-container.we-container {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.hero-aem-container .button.primary {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
  padding: 10px 26px 8px 28px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #eb0000;
  border: 2px solid #eb0000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 8px;
  height: fit-content;
}

.hero-aem-container .button.free-download {
  color: #005ed9;
  font-weight: bold;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}

.hero-aem-container .button.free-download:hover {
  color: #0A53C5;
  transform: translateX(10px);
}

.hero-aem-container .button.free-download::after {
  content: '\2192';
  width: 24px;
  height: 24px;
  display: inline-block;
  transition: all .2s cubic-bezier(.4,0,.2,1);
  transform: translateX(0);
  margin-left: 2px;
}

.hero-aem-container .button.free-download:hover::after {
  transform: translateX(5px);
}

/* this would ideally be the sales tax included text */
.hero-aem__card-text p:last-child {
  font-size: 14px;
}

.hero-aem__card-text p:last-child a {
  color: inherit;
  margin-left: 8px;
  font-weight: normal;
}

.hero-aem-container .hero-aem p em a {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
  padding: 10px 26px 8px 28px;
  text-align: center;
  cursor: pointer;
  color: #006DFF;
  background-color: transparent;
  border: 2px solid #006DFF;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 8px;
  height: fit-content;
  transition: all .2s cubic-bezier(.4,0,.2,1);
}

.hero-aem-container .hero-aem p em a:hover {
  color: white;
  background-color: #006DFF;
}

.hero-aem-container .hero-aem p em a:active {
  background-color: #0D499B;
}

.hero-aem-container .hero-aem p strong em a {
  color: black;
  text-decoration: underline;
}

.hero-aem__pill {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  color: #fff;
  background-color: #006DFF;
  border-radius: 20px;
  padding: 5px 13px;
  display: inline-block;
  margin-right: 10px;
  margin-top: 0px;
}

.hero-aem__underPriceText {
  font-size: 14px;
}

.hero-aem-container .aem-two-cards p a {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
  padding: 10px 26px 8px 28px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #eb0000;
  border: 2px solid #eb0000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 8px;
  height: fit-content;
}

.hero-aem-container .aem-two-cards p:has(a) {
  margin-top: auto;
}

.hero-aem-container .aem-two-cards h2 {
  font-size: 36px;
  font-weight: bold;
}
.hero-aem-container .aem-two-cards .aem-two-cards_card h2 {
  color: #006DFF;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}
.hero-aem-container .row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 1.5rem;

  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}
.hero-aem-container .row>* {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
  box-sizing: border-box;
}


.hero-aem-container .col-12 {
  flex: 0 0 auto;
  width: 100%;
}


@media (max-width: 767px) {
  .hero-aem-container.hero-vsb {
    padding-bottom: 0;
  }

  .hero-aem-container.hero-vsb .hero-aem {
    padding: 0 15px;
  }

  .hero-aem-container.hero-vsb .hero-aem__card__desktop {
    max-height: unset!important;
  }

  .hero-aem-container.hero-vsb .hero-aem .hero-aem__card-text {
    padding: 0;
    background-color: transparent;
    border-radius: 20px;
  }

  .hero-aem-container.hero-vsb  .hero-aem p.button-container {
    text-align: left;
  }

  .hero-aem-container.hero-vsb .hero-aem p.button-container .button.primary {
    margin: 0;
    max-width: 290px;
  }

  .hero-aem-container.hero-vsb .hero-aem p.button-container .button.primary span {
    text-align: center;
    display: block;
    width: 100%;
  }

  .hero-aem-container.hero-vsb .hero-aem h1 {
    color: #006DFF;
    font-size: 29px;
  }
}

@media (min-width: 768px) {
  .hero-aem-container .hero-aem {
    display: flex;
    flex-wrap: wrap;
  }
  .hero-aem-container .hero-aem .hero-aem__mobile-image {
    display: none;
  }
  .hero-aem-container .hero-aem .hero-aem__desktop-image {
    display: block;
    height: 100%;
    position: relative;
  }

  .hero-aem-container .hero-aem .hero-aem__desktop-image::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to left, rgba(247, 247, 247, 0), #F7F7F7);
  }

  .hero-aem-container .hero-aem .hero-aem__desktop-image img {
    height: 100%;
    max-width: 800px;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .hero-aem-container .hero-aem .hero-aem__card-text {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: initial;
    padding: 0;
  }

  .hero-aem-container .hero-aem .hero-aem__card-text p:has(picture) {
    text-align: left;
  }

  .hero-aem-container .hero-aem .hero-aem__card__desktop {
    background-color: #F7F7F7;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }

  .hero-aem-container .hero-aem .hero-aem__card__desktop--center {
    display: flex;
    align-items: center;
  }
  .hero-aem-container .hero-aem .hero-aem__card__desktop > div {
    padding: 24px 0px 24px 56px;
  }
  .hero-aem-container .hero-aem p.button-container {
    text-align: left;
    display: inline-block;
  }
  .hero-aem-container .hero-aem p.button-container .button.primary {
    width: auto;
  }

  .hero-aem-container .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .hero-aem-container .col-md-4 {
    flex: 0 0 auto;
    width: 33.33%;
  }

  .hero-aem-container .col-md-3 {
    flex: 0 0 auto;
    width: 24%;
  }

  .hero-aem-container .aem-two-cards h2 + p {
    font-size: 18px;
  }

  .hero-aem-container .hero-aem p:has(a) {
    display: inline-block;
  }

  .hero-aem-container .hero-aem p:has(em) {
    margin-left: 10px;
  }
}

@media (max-width: 992px) {
  .hero-aem-container.hero-vsb .hero-aem h1 {
    font-size: 32px;
  }
}

@media (min-width: 992px) {
  .hero-aem-container.we-container {
    max-width: 1300px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .hero-aem-container .col-lg-6 {
    flex: 0 0 auto;
    width: 49%;
  }
  .hero-aem-container .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66%;
  }
  .hero-aem-container .col-lg-3 {
    flex: 1 0 auto;
    width: 24%;
  }
  .hero-aem-container .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66%;
  }
}

@media (min-width: 1200px) {
  .hero-aem-container .col-lg-6 {
    flex: 0 0 auto;
    width: 49%;
  }

  .hero-aem-container .col-lg-3 {
    flex: 0 0 auto;
    width: 24%;
  }
}

@media (min-width: 1200px) {
  .hero-aem-container.we-container {
    max-width: 1350px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero-aem-container .hero-aem .hero-aem__desktop-image img {
    max-height: 600px;
  }
}
