.big-teaser-section-container.section {
    padding-bottom: 0;
}

.big-teaser-section-container {
    background: white;
    color: black;
}

.big-teaser-section-container .default-content-wrapper {
    display: flex;
    flex-direction: column;
}

.big-teaser-section-container .rte {
    order: 1;
    margin-top: 15px;
}

.big-teaser-section-container .imgs-wrapper {
    position: relative;
    height: 300px;
    border-radius: 15px;
    overflow: hidden;
}

.big-teaser-section-container .main-img {
    width: 100%;
    height: 100%;
}


.big-teaser-section-container .second-img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.big-teaser-section-container h2,
.big-teaser-section-container h3,
.big-teaser-section-container h4 {
    font: normal normal 600 20px/24px "IBM Plex Sans", sans-serif;
}

.big-teaser-section-container p,
.big-teaser-section-container div {
    font: normal normal normal 14px/21px "IBM Plex Sans", sans-serif;
}

@media screen and (min-width: 768px) {
    .big-teaser-section-container.section {
        padding-top: 0;
    }

    .big-teaser-section.block {
        position: relative;
    }

    .big-teaser-section-container .rte {
        position: relative;
        z-index: 1;
    }

    .big-teaser-section-container h2,
    .big-teaser-section-container h3,
    .big-teaser-section-container h4 {
        font: normal normal 600 40px/48px "IBM Plex Sans", sans-serif;
    }

    .big-teaser-section-container p,
    .big-teaser-section-container div {
        font: normal normal normal 18px/27px "IBM Plex Sans", sans-serif;
    }

    .big-teaser-section-container .wrapper {
        position: relative;
        display: flex;
        align-items: center;
    }

    .big-teaser-section-container .imgs-wrapper {
        width: 100%;
        height: 450px;
        top: 0;
        margin: 0;
    }

    .big-teaser-section-container .imgs-wrapper::before {
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
    }
}

@media screen and (min-width: 992px) {
    .big-teaser-section-container .default-content-wrapper {
        flex-direction: row;
        align-items: unset;
    }

    .big-teaser-section-container .default-content-wrapper > * {
        width: calc(50% - 60px);
        flex-shrink: 0;
    }

    .big-teaser-section-container .default-content-wrapper > *:last-child {
        margin-right: 60px;
    }

    .big-teaser-section-container .imgs-wrapper {
        height: 550px;
    }

    .big-teaser-section-container .rte {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
