.big-teaser-section-container {
    background: white;
    color: black;
}

.big-teaser-section-container .default-content-wrapper {
    display: flex;
    flex-direction: column;
}

.big-teaser-section-container .rte {
    order: 1;
    margin-top: 15px;
}

.big-teaser-section-container .rte em {
    color: #006EFF;
    font-style: normal;
}

.big-teaser-section-container .imgs-wrapper {
    position: relative;
    height: 300px;
    border-radius: 15px;
    overflow: hidden;
}

.big-teaser-section-container .main-img {
    width: 100%;
    height: 100%;
}


.big-teaser-section-container .second-img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}


@media screen and (min-width: 768px) {
    .big-teaser-section-container.pb-0 {
        padding-bottom: 0;
    }

    .big-teaser-section-container.pt-1 {
        padding-top: 1em;
    }

    .big-teaser-section.block {
        position: relative;
    }

    .big-teaser-section.reverted .wrapper {
        flex-direction: row-reverse;
    }

    .big-teaser-section.reverted .wrapper .rte {
        margin-right: 60px;
    }

    .big-teaser-section-container .rte {
        position: relative;
        z-index: 1;
    }

    .big-teaser-section-container .wrapper {
        position: relative;
        display: flex;
        align-items: center;
    }

    .big-teaser-section-container .imgs-wrapper {
        width: 100%;
        height: 450px;
        top: 0;
        margin: 0;
    }

    .big-teaser-section-container .imgs-wrapper::before {
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
    }
}

@media screen and (min-width: 992px) {
    .big-teaser-section-container p {
        line-height: 1.3;
    }

    .big-teaser-section-container .default-content-wrapper {
        flex-direction: row;
        align-items: unset;
    }

    .big-teaser-section-container .default-content-wrapper > * {
        width: calc(50% - 60px);
        flex-shrink: 0;
    }

    .big-teaser-section-container .default-content-wrapper > *:last-child {
        margin-right: 60px;
    }

    .big-teaser-section-container .imgs-wrapper {
        height: 550px;
    }

    .big-teaser-section-container .rte {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: unset;
    }
}
