

.tabs ul {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 0;
    list-style: none;
    margin-bottom: 16px;
}

.tabs li {
    box-sizing: border-box;
    cursor: pointer;
    flex: 1 1 auto;
    justify-content: center;
    padding: 24px 0;
    position: relative;
}

.tabs li button {
    padding: 1px 6px;
    border-radius: 0;
    cursor: pointer;
    background: none;
    text-align: center;
    display: inline-block;
    border: none;
    height: 100%;
    width: 100%;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size-s);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-m);
    margin-bottom: 14px;
    color: var(--light-blue);
}

.tabs li:hover {
    background-color: var(--light-gray);
    transition: background-color .25s ease-in-out;
}

.tabs li.active::before {
    content: "";
    position: absolute;
    border-bottom: 2px solid var(--turqoise);
    bottom: 0;
    height: 2px;
    left: 1pc;
    right: 1pc;
}

.tabs li button.active {
    font-weight: var(--font-weight-bold);
    color: var(--black-color);
}

.tabs-container .tab-item {
    margin-top: 24px;
}

.tabs-container .tab-item.hidden {
    display: none;
}


@media screen and (min-width: 600px) {
    .tabs li button {
        font-size: var(--body-font-size-m);
        margin-bottom: 16px;
        line-height: var(--line-height-m);
    }
}

@media screen and (min-width: 1200px) {
    .tabs li button {
        font-size: var(--body-font-size-l);
        margin-bottom: 18px;
    }
}
