.section.quiz-stepper-container {
    padding-bottom: 200px;
}

.quiz-stepper-container {
    .block {
        display: flex;
        width: 100%;
        transition: transform .250s ease-in-out;
    }

    .step {
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 16px;
        padding: 25px 30px calc(235px / 2 + 30px);
        position: relative;
        width: 100%;
        flex-shrink: 0;
        margin-right: 30px;

        fieldset {
            legend {
                text-align: left;
                font: normal normal bold 18px/22px Arial;
                color: #000000;
                margin-bottom: 20px;
            }
        }

        .img-container {
            height: 235px;
            border-radius: 30px;
            overflow: hidden;
            position: absolute;
            bottom: calc(-235px / 2);
            left: 25px;
            right: 25px;
        }
    }

    .step__header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .step__index {
        padding: 3px 10px;
        background: #E4F2FF 0% 0% no-repeat padding-box;
        border-radius: 20px;
    }

    .step__previous {
        font: normal normal normal 12px/14px Arial;
        color: #7E7E7E;
        margin-left: auto;
        position: relative;
        display: flex;
        align-items: center;

        &:before {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            background: url('/_src/icons/arrow-right.svg') no-repeat;
            opacity: 0.5;
            transform: rotate(-180deg);
         }
    }

    .step__radio-wrapper {
        display: flex;
        align-items: flex-start;
        margin-bottom: 13px;

        input[type="radio"] {
            display: block;
            margin: 0;
            padding: 0;
            background-color: #fff;
            font: inherit;
            width: 16px;
            height: 16px;
            flex-shrink: 0;
        }

        label {
            font: normal normal normal 16px/18px Arial;
            margin-left: 10px;
        }

        &.selected {
            label {
                font-weight: 600;
            }
         }
    }

    .button-container.submit {
        display: flex;
        justify-content: center;
        margin-top: 50px;

        .button {
            background-color: #006EFF;
            color: white;
            border-radius: 5px;
            padding: 16px;
            width: 100%;
            justify-content: center;

            &:after {
                background-color: white;
             }
        }
    }

    .results-wrapper {
        h3 {
            font: normal normal bold 24px/27px Arial;
        }

        h2 {
            font: normal normal bold 32px/35px Arial;
        }

        p, div {
            font: normal normal normal 16px/18px Arial;
        }

        .social-wrapper {
            display: flex;
            align-items: center;
            font: normal normal bold 16px/18px Arial;
            color: #006EFF;
            margin: 30px 0;

            a {
                margin-left: 20px;
            }

            .icon {
                width: 20px;
                height: 20px;
                margin: 0;
            }
        }
    }
}
