@charset "UTF-8";
.section.carousel-container {
  background-color: black;
  color: white;
  padding: 10px 0;
}

.carousel-container .carousel-item {
  margin: 0;
  text-align: center;
}

.carousel-container .carousel-item img {
  height: auto;
  max-width: unset;
  width: 90px;
}

#carousel-box {
  width: 100%;
  overflow: hidden;
}

#carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  flex: 0 0 auto;
  box-sizing: border-box;
}

@media (width >= 768px) {

}

@media screen and (width >= 991px) {

}
