@charset "UTF-8";
.section.slider-container {
  padding: 10px 0;
}

.slider-container .slider > div {
  flex: 1;
}

.slider-container .slider .slider-text img {
  width: 275px;
}

.slider-container .container-fluid .slider-item {
  overflow-x: hidden;
  display: flex;
}

.slider-container .slider-item {
  min-width: 50vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4ch;
}

@media (width >= 768px) {

}