@charset "UTF-8";
.section.slider-container {
  padding: 10px 0;
}

.slider-container .slider > div {
  flex: 1;
}

.slider-container .slider .slider-text img {
  width: 275px;
}

@media (width >= 768px) {

}

@media screen and (width >= 991px) {

}
