@media (min-width: 992px) { /* desktop */
  .bitdefender-central-wrapper {
    max-width: var(--section-desktop-max-width);
    padding: 0 var(--section-desktop-padding);
    margin: 0 auto;
  }
}

@media (min-width: 1600px) { /* large desktop */
  .bitdefender-central-wrapper {
    max-width: var(--section-large-desktop-max-width);
    padding: 0 var(--section-large-desktop-padding);
  }
}

.bitdefender-central.block > div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  grid-gap: 32px;
}

.bitdefender-central.block > div > div {
  background-color: #F8F8F8;
  border-radius: 20px;
  width: 600px;
  padding: 24px;
}

.bitdefender-central.block > div > div:last-of-type {
  background-color: transparent;
  border-radius: 20px;
  width: 648px;
  padding: 0;
}

.bitdefender-central.block > div > div:last-of-type p {
  margin: 0;
}

.bitdefender-central.block > div > div:first-of-type > p:nth-of-type(1) {
  margin: 0;
}

.bitdefender-central.block > div > div:first-of-type > p:nth-of-type(5) {
  margin-bottom: 7px;
}

.bitdefender-central.block > div > div:first-of-type h3 {
  font: normal normal bold 32px/38px var(--body-font-family);
  margin-bottom: 0;
}

.bitdefender-central.block > div > div:first-of-type > p:nth-of-type(2) {
  font: normal normal normal 20px/23px var(--body-font-family);
  margin: 0;
}

.bitdefender-central.block > div > div:first-of-type p.button-container {
  display: inline-block;
  padding-right: 24px;
  margin: 0;
}

.bitdefender-central.block > div > div:first-of-type a.button {
  font: normal normal bold 16px/20px var(--body-font-family);
  margin-top: 24px;
  padding: 14px 28px;
  color: #006EFF;
  background: transparent;
  border: 2px solid #006EFF;
  border-radius: 10px;
  display: inline-block;
  position: relative;
  min-width: 180px;
}

.bitdefender-central.block > div > div:first-of-type a.button.blue {
  background-color: #006EFF;
  color: white;
}

.bitdefender-central.block > div > div:first-of-type a.button:focus {
  outline: 2px solid #48C1FF;
  border-radius: 13px;
  outline-offset: 2px;
}

.bitdefender-central.block > div > div:first-of-type a.button:hover {
  padding: 14px 28px;
  background: #006EFF;
  color: #fff;
}

.bitdefender-central.block > div > div:first-of-type a.button.blue:hover {
  background-color: #0A53C5;
  border: 2px solid #0A53C5;
  color: white;
}

.bitdefender-central.block > div > div:first-of-type a.button:active {
  background: #0D499B;
  order: 2px solid #0D499B;
}

.bitdefender-central.block > div > div:first-of-type a.button.blue:active {
  background: #0A53C5;
  order: 2px solid #0A53C5;
}

.bitdefender-central.block > div > div:first-of-type a.button:disabled {
  background: transparent;
  order: 2px solid #B7B7B7;
  color: #B7B7B7;
}

.bitdefender-central.block > div > div:first-of-type a.button.blue:disabled {
  background: #E7E7E7;
  order: 2px solid #B7B7B7;
  color: #B7B7B7;
}

.bitdefender-central.block > div > div:first-of-type a.button span.button-text {
  transition: none;
}

.bitdefender-central.block > div > div:first-of-type a.button:hover span.button-text {
  transform: none;
}

.bitdefender-central.block > div > div:first-of-type a.button::after {
  content: '';
  width: 0;
  height: 0;
  margin: 0;
  transition: none;
}

.bitdefender-central.block > div > div:first-of-type ul {
  list-style: none;
  margin: 0;
  padding: 22px 0 24px;
  list-style-type: none;
  border-bottom: 1px solid #D1D1D1;
}

.bitdefender-central.block > div > div:first-of-type ul li {
  margin: 0;
  padding: 7px 0 0;
  font: normal normal normal 16px/18px var(--body-font-family);
}

.bitdefender-central.block > div > div:first-of-type ul li::before {
  content: url("/_src/icons/checkmark-green-circle.svg");
  display: inline-block;
  width: 18px;
  height: 18px;
  position: relative;
  top: 4px;
  margin-right: 9px;
}

.bitdefender-central.block > div > div:first-of-type .icon.icon-bd-round-thumb {
  width: 64px;
  height: 64px;
  margin-bottom: 14px;
  background-color: white;
  padding: 6px;
  border-radius: 16px;
}

.bitdefender-central.block > div > div:first-of-type .linked-image-container {
  display: inline-block;
  padding-right: 0;
  margin: 0;
}

.bitdefender-central.block > div > div:first-of-type .linked-image-container img {
  width: 154px;
  height: 46px;
}

@media (max-width: 1271px) {
  .bitdefender-central.block > div > div:last-of-type {
    width: 600px;
  }
}