.bitdefender-central-container {
  --dark-background-color: #000;
  --black-color: #000;
  --white-color: #fff;
  --background-color: #fff;
  --link-color: #005ed9;
  --link-hover-color: #00439c;
  --button-link-color: #fff;
  --button-background-color: #eb0000;
  --button-hover-background-color: #d80000;
  --button-primary-background-color: #000;
  --button-primary-hover-background-color: #000;
  --button-secondary-color: #000;
  --button-secondary-hover-background-color: #000;
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --text-color: #000;
  --text-error-color: #f00;
  --color-highlight-blue: #006dff;
  --color-dark-gray: #616161;
  --checkbox-label: #3c3c3c;
  --highlight-light-blue: #f3f7fe;
  --text-dark-color: #fff;
  --horizontal-separator-color: #dedede;
  --modal-background-color: rgb(0 0 0 / 50%);
  --background-color-light-sky-blue: #e4f2ff;
  --icon-color: #205fff;
  --background-light-blue: #d9eeff;
  --background-blue: #005ed9;
  --dark-blue-tag: #005eff;
  --light-blue-tag: #13b0a7;
  --green-tag: #218728;
  --dark-shadow: #0000001a;
  --background-checkmark: #61AF53;
  --body-font-family: "Roboto", "roboto-normal-400-fallback", helvetica, ubuntu, roboto, noto, sans-serif;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: var(--body-font-family);
  --font-weight-thin: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 500;
  --font-weight-bolder: 600;
  --font-weight-boldest: 700;
  --font-weight-heavy: 900;
  --body-font-size-l: 22px;
  --body-font-size-m: 18px;
  --body-font-size-s: 16px;
  --body-font-size-xs: 14px;
  --body-font-size-xxs: 12px;
  --body-font-size-xxxs: 10px;
  --heading-font-size-xxxl: 60px;
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;
  --heading-font-size-xxs: 16px;
  --nav-height: 63px;
  --nav-height-desktop: 40px;
  --body-max-width: 1920px;
  --body-padding: 20px;
  --section-desktop-max-width: 1290px;
  --section-desktop-padding: 20px;
  --section-desktop-padding-vertical: 48px;
  --section-mobile-padding-vertical: 32px;
  --cta-background-light-blue: var(--background-light-blue);
}


.bitdefender-central-wrapper {
  max-width: var(--section-desktop-max-width);
  padding: 0 var(--section-desktop-padding);
  margin: 0 auto;
}

.bitdefender-central.block > div {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 32px;
}

.bitdefender-central-container.we-container {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.bitdefender-central.block > div > div {
  background-color: #F8F8F8;
  border-radius: 20px;
  padding: 24px;
}

.bitdefender-central.block > div > div:last-of-type {
  background-color: transparent;
  border-radius: 20px;
  padding: 0;
  display: flex;
  align-items: stretch;
}

.bitdefender-central.block > div > div:last-of-type p {
  margin: 0;
}

.bitdefender-central.block > div > div:first-of-type > p:nth-of-type(1) {
  margin: 0;
}

.bitdefender-central.block > div > div:first-of-type > p:nth-of-type(5) {
  margin-bottom: 7px;
}

.bitdefender-central.block > div > div:first-of-type h3 {
  font: normal normal bold 32px/38px var(--body-font-family);
  margin: 0;
}

.bitdefender-central.block > div > div:first-of-type > p:nth-of-type(2) {
  font: normal normal normal 20px/23px var(--body-font-family);
  margin: 0;
}

.bitdefender-central.block > div > div:first-of-type p.button-container {
  display: inline-block;
  padding-right: 24px;
  margin: 0;
}

.bitdefender-central.block > div > div:first-of-type a.button {
  font: normal normal bold 16px/20px var(--body-font-family);
  margin-top: 24px;
  padding: 14px 28px;
  color: #006EFF;
  background: transparent;
  border: 2px solid #006EFF;
  border-radius: 10px;
  display: inline-block;
  position: relative;
  min-width: 120px;
  text-decoration: none;
  text-align: center;
}

.bitdefender-central.block > div > div:first-of-type p.button-container a.blue {
  background-color: #006EFF;
  color: white;
}

.bitdefender-central.block > div > div:first-of-type p.button-container a:focus {
  outline: 2px solid #48C1FF;
  border-radius: 13px;
  outline-offset: 2px;
}

.bitdefender-central.block > div > div:first-of-type p.button-container a:hover {
  padding: 14px 28px;
  background: #006EFF;
  color: #fff;
}

.bitdefender-central.block > div > div:first-of-type p.button-container a.blue:hover {
  background-color: #0A53C5;
  border: 2px solid #0A53C5;
  color: white;
}

.bitdefender-central.block > div > div:first-of-type p.button-container a:active {
  background: #0D499B;
  order: 2px solid #0D499B;
}

.bitdefender-central.block > div > div:first-of-type p.button-container a.blue:active {
  background: #0A53C5;
  order: 2px solid #0A53C5;
}

.bitdefender-central.block > div > div:first-of-type p.button-container a:disabled {
  background: transparent;
  order: 2px solid #B7B7B7;
  color: #B7B7B7;
}

.bitdefender-central.block > div > div:first-of-type p.button-container a.blue:disabled {
  background: #E7E7E7;
  order: 2px solid #B7B7B7;
  color: #B7B7B7;
}

.bitdefender-central.block > div > div:first-of-type p.button-container a span {
  transition: none;
}

.bitdefender-central.block > div > div:first-of-type p.button-container a:hover span {
  transform: none;
}

.bitdefender-central.block > div > div:first-of-type p.button-container a::after {
  content: '';
  width: 0;
  height: 0;
  margin: 0;
  transition: none;
}

.bitdefender-central.block > div > div:first-of-type ul {
  list-style: none;
  margin: 0;
  padding: 22px 0 24px;
  list-style-type: none;
  border-bottom: 1px solid #D1D1D1;
}

.bitdefender-central.block > div > div:first-of-type ul li {
  margin: 0;
  padding: 7px 0 0;
  font: normal normal normal 16px/18px var(--body-font-family);
}

.bitdefender-central.block img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.modal-container .columns-wrapper img {
  height: 225px;
}

.bitdefender-central.block a.video-placeholder img {
  object-fit: cover;
  height: 100%;
  border-radius: 20px;
}

.bitdefender-central.block > div > div:first-of-type ul li::before {
  content: url("/_src/icons/checkmark-green-circle.svg");
  display: inline-block;
  width: 18px;
  height: 18px;
  position: relative;
  top: 4px;
  margin-right: 9px;
}

.bitdefender-central.block > div > div:first-of-type .icon.icon-bd-round-thumb {
  width: 64px;
  height: 64px;
  margin-bottom: 14px;
  background-color: white;
  padding: 6px;
  border-radius: 16px;
  display: block;
}

.bitdefender-central.block > div > div:first-of-type .linked-image-container {
  display: inline-block;
  padding-right: 0;
  margin: 0;
}

.bitdefender-central.block > div > div:first-of-type .linked-image-container img {
  width: 154px;
  height: 46px;
}

a.video-placeholder {
  position: relative;
  align-items: stretch;
  display: flex;
  color: var(--button-link-color);
}

.video-placeholder .video-placeholder-play {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: scale(3);
  width: 1.375rem;
  height: 1.375rem;
  border: 0.125rem solid;
  border-radius: 1.25rem;
  padding: 0;
  background-color: #2020e0;
  border-color: #2020e0;
  opacity: 0.8;
  transition: opacity .3s ease-in-out;
}

.video-placeholder:hover .video-placeholder-play {
  opacity: 1;
}

.video-placeholder .video-placeholder-play::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 0.625rem;
  border-top: 0.3125rem solid transparent;
  border-bottom: 0.3125rem solid transparent;
  border-left: 0.375rem solid;
  top: 0.25rem;
  left: 0.4375rem;
}

/* modal */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-background-color);
  z-index: 999;
}

.modal-video-container {
  display: flex;
}

.modal-container .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;

  /* padding: 20px 30px 30px; */
  border-radius: 8px;

  /* box-shadow: 0 3px 8px 0 rgb(0 0 0 / 10%); */

  /* border: 1px solid #707070; */

  /* width: 75%; */
  max-height: 90%;
  overflow: visible;
  opacity: 1;
  animation: fade-in 0.5s ease-in-out forwards;
}

.modal-container .modal-content .section:first-child {
  border-bottom: 1px solid var(--horizontal-separator-color);
  padding-bottom: 15px;
}

.modal-container .modal-content .modal-close {
    height: 30px;
    width: 30px;
    border: 0;
    padding: 1px 1px 0 0;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    right: -14px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    outline: none;
}

.modal-container .modal-content .modal-close::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 4px;
  width: 26px;
  height: 2px;
  background: #000;
  transform: rotate(45deg);
  transition: all .3s ease-in-out;
}

.modal-container .modal-content .modal-close::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 4px;
  width: 26px;
  height: 2px;
  background: #000;
  transform: rotate(133deg);
  transition: all .3s ease-in-out;
}

.modal-container.video-modal .modal-content {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding-top: 40px;
  width: 100%;
  max-width: 900px;
}

.modal-container.video-modal .modal-content .section:first-child {
  border-bottom: none;
}

.modal-container.video-modal .modal-content .modal-close {
  position: absolute;
  top: 0;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  background-color: unset;
}

.modal-container.video-modal .modal-content .modal-close:hover {
  opacity: 1;
}

.modal-container.video-modal .modal-content .modal-close::after, .modal-container.video-modal .modal-content .modal-close::before {
  position: absolute;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #040dfd;
}

.modal-container.video-modal .modal-content .modal-close::after {
  transform: rotate(45deg);
}

.modal-container.video-modal .modal-content .modal-close::before {
  transform: rotate(-45deg);
}

@media (min-width: 992px) {
  .bitdefender-central-container.we-container {
    max-width: 1300px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .bitdefender-central.block > div {
    grid-template-columns: 1fr 1fr;
  }

  .video-placeholder .video-placeholder-play {
    width: 2rem;
    height: 2rem;
  }

  .video-placeholder .video-placeholder-play::before {
    height: 1rem;
    top: 0.39rem;
    left: 0.625rem;
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    border-left: 0.7rem solid;
  }

  /* .modal-container .modal-content {
    padding: 52px 62px 54px 55px;
    max-width: 660px;
  } */

  .modal-container .modal-content .columns-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1200px) {
  .bitdefender-central-container.we-container {
    max-width: 1290px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
