header {
    display: none;
}

.carousel.block {
    background-color: var(--light-blue-highlight);
    padding-top: 30px;
    padding-left: 20px;
    width: 100vw;
    height: 150vh;
}

.carousel.block > div:first-child > div:first-child p:first-child {
    font-size: var(--heading-font-size-m);
    font-weight: var(--font-weight-bold);
    line-height: 1.25;
}

.carousel.block > div:first-child > div:first-child p:last-child {
    font-size: var(--body-font-size-s);
    line-height: 1.5;
    letter-spacing: normal;
    margin-top: -5px;
    color: var(--text-light-color);
    max-width: 710px;
}

.carousel.block picture {
    display: block;
    margin-left: 10px;
    max-width: 150px;
    object-fit: contain;
    margin-bottom: 20px;
}

.carousel-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0 auto;
}

.carousel-container > div > div{
    background-color: var(--background-color);
    width: 500px;
    margin-top: 10px;
}

