.product-cards-ab-container {
    --dark-background-color: #000;
    --black-color: #000;
    --white-color: #fff;
    --background-color: #fff;
    --link-color: #005ed9;
    --link-hover-color: #00439c;
    --button-link-color: #fff;
    --button-background-color: #eb0000;
    --button-hover-background-color: #d80000;
    --button-primary-background-color: #000;
    --button-primary-hover-background-color: #000;
    --button-secondary-color: #000;
    --button-secondary-hover-background-color: #000;
    --overlay-background-color: #eee;
    --highlight-background-color: #ccc;
    --text-color: #000;
    --text-error-color: #f00;
    --color-highlight-blue: #006dff;
    --color-dark-gray: #616161;
    --checkbox-label: #3c3c3c;
    --highlight-light-blue: #f3f7fe;
    --text-dark-color: #fff;
    --horizontal-separator-color: #dedede;
    --modal-background-color: rgb(0 0 0 / 50%);
    --background-color-light-sky-blue: #e4f2ff;
    --icon-color: #205fff;
    --background-light-blue: #d9eeff;
    --background-blue: #005ed9;
    --dark-blue-tag: #005eff;
    --light-blue-tag: #13b0a7;
    --green-tag: #218728;
    --dark-shadow: #0000001a;
    --background-checkmark: #61AF53;
    --body-font-family: "Roboto", "roboto-normal-400-fallback", helvetica, ubuntu, roboto, noto, sans-serif;
    --heading-font-family: var(--body-font-family);
    --fixed-font-family: var(--body-font-family);
    --font-weight-thin: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 500;
    --font-weight-bolder: 600;
    --font-weight-boldest: 700;
    --font-weight-heavy: 900;
    --body-font-size-l: 22px;
    --body-font-size-m: 18px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;
    --body-font-size-xxs: 12px;
    --body-font-size-xxxs: 10px;
    --heading-font-size-xxxl: 60px;
    --heading-font-size-xxl: 48px;
    --heading-font-size-xl: 40px;
    --heading-font-size-l: 32px;
    --heading-font-size-m: 24px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;
    --heading-font-size-xxs: 16px;
    --nav-height: 63px;
    --nav-height-desktop: 40px;
    --body-max-width: 1920px;
    --body-padding: 20px;
    --section-desktop-max-width: 1300px;
    --section-desktop-padding: 20px;
    --section-large-desktop-max-width: 1332px;
    --section-large-desktop-padding: 50px;
    --section-desktop-padding-vertical: 48px;
    --section-mobile-padding-vertical: 32px;
    --cta-background-light-blue: var(--background-light-blue);
}

@media (min-width: 992px) { /* desktop */
    .product-cards-ab-wrapper {
        max-width: var(--section-desktop-max-width);
        padding: 0 var(--section-desktop-padding);
        margin: 0 auto;
    }
}

@media (min-width: 1600px) { /* large desktop */
    .product-cards-ab-wrapper {
        max-width: var(--section-large-desktop-max-width);
        padding: 0 var(--section-large-desktop-padding);
    }
}

.product-cards-ab-wrapper {
    background-color: #EDF9FF;
    border-radius: 20px;
}

.we-container {
    margin: 0 auto;
    max-width: 1292px;
    padding: 0 20px;
    position: relative;
    padding-bottom: 64px;
}

.product-cards-ab-container .icon svg {
    width: 100%;
    height: 100%;
}

.product-cards-ab-container h2 {
    font: normal normal bold 28px/32px var(--body-font-family);
    text-align: center;
    margin-bottom: 21px;
}

.product-cards-ab-wrapper > div:first-of-type {
    text-align: center;
}

.product-cards-ab-wrapper > div:first-of-type h3 {
    padding-top: 52px;
    font: normal normal bold 40px/45px var(--body-font-family);
    margin: 0;
}

.product-cards-ab-wrapper > div:first-of-type h3 strong {
    color: #006DFF;
}

.product-cards-ab-wrapper > div:first-of-type h3 strong em {
    color: #006DFF;
    font-style: normal;
}

.product-cards-ab-wrapper > div:first-of-type p {
    font: normal normal normal 18px/21px var(--body-font-family);
}

.product-cards-ab-wrapper > div:last-of-type {
    text-align: center;
    padding: 40px 0 57px;
}

.product-cards-ab-wrapper > div:last-of-type p {
    font: normal normal normal 12px/14px var(--body-font-family);
}

.product-cards-ab-wrapper > div:last-of-type p .icon {
    width: 14px;
    height: 14px;
    position: relative;
    margin-right: 9px;
    margin-bottom: 0;
    top: 3px;
    fill: #1C7928;
    display: inline-block;
}

.product-cards-ab-wrapper > div:last-of-type p a {
    color: var(--text-color);
    text-decoration: underline;
}

.product-cards-ab-wrapper > div:last-of-type p a:hover {
    color: var(--text-color);
    text-decoration: none;
}

.product-cards-ab.block {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(410px, 410px));
    grid-gap: 28px;
}

.product-cards-ab.block > div {
    padding: 28px;
    background-color: white;
    box-shadow: 0 3px 6px #00000029;
    border: 3px solid #006DFF;
    border-radius: 20px;
}

.product-cards-ab.block .description {
    position: relative;
}

.product-cards-ab.block .description .icon {
    width: 57px;
    height: 37px;
    position: absolute;
    top: -48px;
    right: 0;
    fill: #006DFF;
}

.product-cards-ab.block .product-info h2 {
    font: normal normal bold 22px/24px var(--body-font-family);
    margin-bottom: 14px;
}

.product-cards-ab.block .product-info .protect {
    font: normal normal normal 16px/32px var(--body-font-family);
    border-bottom: 1px solid #D1D1D1;
    padding-bottom: 14px;
    margin-bottom: 14px;
}

.product-cards-ab.block .product-info .description {
    font: normal normal normal 12px/14px var(--body-font-family);
}

.product-cards-ab.block .product-info .description strong {
    color: #1D7928;
    font-weight: bold;
}

.product-cards-ab.block .product-info .buynow a {
    font: normal normal bold 16px/20px var(--body-font-family);
    margin-top: 24px;
    padding: 14px 28px;
    color: #fff;
    background: #E72325;
    border-radius: 10px;
    display: block;
    position: relative;
    min-width: 180px;
    text-align: center;
    text-decoration: none;
}

.product-cards-ab.block .product-info .buynow a:focus {
    outline: 2px solid #48C1FF;
    border-radius: 13px;
    outline-offset: 2px;
}
  
.product-cards-ab.block .product-info .buynow a:hover {
    padding: 14px 28px;
    background: #B10304;
    color: #fff;
}

.product-cards-ab.block .product-info .feature-list {
    border-top: 1px solid #D1D1D1;
    padding-top: 14px;
    margin-top: 14px;
}

.product-cards-ab.block .product-info .feature-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.product-cards-ab.block .product-info .feature-list ul li {
    font: normal normal normal 14px/32px var(--body-font-family);
    margin: 0;
    padding: 0;
}

.product-cards-ab.block .product-info .feature-list ul li .icon {
    width: 16px;
    height: 16px;
    position: relative;
    margin-right: 9px;
    margin-bottom: 0;
    top: 3px;
    display: inline-block;
}

.product-cards-ab.block .product-info .feature-list ul li .icon.icon-x-circle svg {
    fill: #999;
}

.product-cards-ab.block .product-info .feature-list ul li del {
    color: #999;
}

.product-cards-ab.block .price-area .tab-buttons button {
    font: normal normal bold 16px/28px var(--body-font-family);
    padding: 7px 14px;
    margin-right: 7px;
    margin-bottom: 24px;
    color: #2B6CF6;
    background: #fff;
    border: 2px solid #ECF5FE;
    border-radius: 8px;
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.product-cards-ab.block .price-area .tab-buttons button:hover {
    background: #2B6CF6;
    color: #fff;
    border: 2px solid #2B6CF6;
}

.product-cards-ab.block .price-area .tab-buttons button.active {
    background: #2B6CF6;
    color: #fff;
    border: 2px solid #2B6CF6;
}

.product-cards-ab.block .price-area .tab-content {
    margin-bottom: 8px;
}

.product-cards-ab.block .price-area .tab-content .tab-panel {
    display: none;
}

.product-cards-ab.block .price-area .tab-content .tab-panel .prod-oldprice {
    text-align: left;
    text-decoration: line-through;
    font: normal normal normal 16px/18px var(--body-font-family);
}

.product-cards-ab.block .price-area .tab-content .tab-panel .prod-save {
    text-align: left;
    font: normal normal bold 12px/14px var(--body-font-family);
    padding: 3px 9px;
    background: #1C7928 0% 0% no-repeat padding-box;
    border-radius: 22px;
    color: #fff;
}

.product-cards-ab.block .price-area .tab-content .tab-panel .prod-newprice {
    text-align: left;
    font: normal normal bold 40px/45px var(--body-font-family);
    color: #006DFF;
}

@media (max-width: 1600px) {
    .we-container {
        max-width:1200px;
        padding: 0 50px;
    }
}

@media (max-width: 992px) {
    .we-container {
        padding:0 20px
    }
}