.products-wrapper {
  padding: 0 var(--body-padding);
}

.products {
  --max-colunms: 2;
  --image-spacing: 170px;
  --side-spacing: 25px;
  --highlight-spacing: 45px;

  display: grid;
  gap: 25px;
}

.products.compact, .products.plans {
  --image-spacing: 18px;
}

.product-card {
  position: relative;
  padding: var(--side-spacing);
  border-radius: 10px;
  border-color: rgb(229 231 235);
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 10%);
  overflow: hidden;
  background-color: white;
  display: flex;
  flex-flow: column;
}

.products.compact .product-card, .products.plans .product-card {
  text-align: center;
}

.products.compact .product-card.featured {
  border: 2px solid #218728;
}

.products.plans .product-card {
  padding-top: var(--highlight-spacing);
}

.products.plans .product-card p {
  font-size: var(--body-font-size-xxs);
}

.product-card > * {
  flex: 0;
}

.product-card h3 {
  font-weight: var(--font-weight-regular);
  flex: 1;
  font-size: var(--heading-font-size-s);
  margin-top: 0;
}

.products.plans h3 {
  font-size: var(--body-font-size-m);
  font-weight: var(--font-weight-boldest);
}

.products.compact .product-card h3, .products.plans .product-card h3 {
  margin: 0;
  flex: 0;
}

.product-card .price strong {
  display: block;
  margin-top: 0;
  font-weight: bold;
  font-size: var(--heading-font-size-l);
  line-height: 1em;
  color: black;
}

.products.compact .product-card h3 strong, .products.plans .product-card h3 strong {
  font-size: var(--heading-font-size-m);
}

.product-card h4 {
  font-weight: var(--body-weight-boldest);
  font-size: var(--body-font-size-xs);
}

.products.compact .product-card h4, .products.plans .product-card h4 {
  font-weight: var(--body-weight-normal);
  font-size: var(--body-font-size-s);
  margin: 5px;
}

.product-card h5 {
  font-weight: normal;
  font-size: var(--body-font-size-s);
}

.product-card .featured {
  color: white;
  background-color: #218728;
  border-radius: 15px;
  font-size: var(--body-font-size-xs);
  padding: 5px 15px;
  font-weight: bold;
  display: inline-block;
  align-self: self-start;
  margin-bottom: 10px;
}

.products.compact .product-card .featured {
  align-self: center;
  margin: 10px 0 15px;
}

.products.compact .product-card .featured ~ p img {
  margin-top: 0;
}

.products:not(.compact) .product-card img {
  display: none;
}

.products.compact .product-card img {
  position: inherit;
  object-position: inherit;
  object-fit: inherit;
  border-radius: inherit;
  width: 210px;
  height: 210px;
  margin: 60px 0 25px;
  top: auto;
  right: auto;
}

.product-card ul {
  margin: 0;
  padding-left: 5px;
}

.product-card li {
  list-style: none;
  margin: 10px 0 0;
  padding: 0 0 0 30px;
  font-size: 14px;
  background-image: url('../../icons/checkmark_solid-circle.svg');
  background-position: left 2px;
  background-repeat: no-repeat;
  background-size: 15px;
  line-height: var(--body-font-size-m);
}

.product-card li:has(del) {
  color: #999;
  background-image: url('../../icons/checkmark_circle_grayed_out.svg');
}

.product-card li a {
  color: inherit;
  text-decoration: underline;
}

.product-card p {
  font-size: var(--body-font-size-s);
  color: #3c3c3c;
  margin: 0;
}

.product-card p a {
  text-decoration: underline;
  color: inherit;
}

.product-card .price {
  margin-bottom: 15px;
}

.products.plans .product-card .price .old-price {
  font-weight: normal;
  font-size: var(--body-font-size-l);
  color: #666;
}

.products .product-card .price del {
  color: #616161;
}

.products.compact .product-card .price strong, .products.plans .product-card .price strong {
  font-size: var(--heading-font-size-l);
}

.product-card .price em {
  font-size: var(--body-font-size-xxs);
  display: block;
  font-style: normal;
  line-height: 1.4em;
}

.product-card .price ~ p {
  font-size:var(--body-font-size-xxs);
}

.product-card hr {
  margin: 10px;
  border-bottom: 1px solid #e5e7eb;
}

.product-card .button-container {
  margin: 25px 0 5px 0;
}

.product-card .button-container ~ .button-container {
  margin-top: 5px;
}

.product-card a.button {
  width: 100% !important;
  display: flex;
  justify-content: center;
}

.product-card .button-text {
  font-weight: 500 !important;
  font-size: var(--body-font-size-s) !important;
}

.product-card ul.variant-selector {
  list-style: none;
  padding: 0;
  margin: 4px 0 10px 0;
}

.product-card ul.variant-selector > p {
  font-size: 9pt;
  padding: 11px 0;
}

.product-card ul.variant-selector > li {
  display: inline-block;
  border: 2px solid #e4f2ff;
  padding: 6px 13px;
  margin: 0 5px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  cursor: pointer;
  color: #006eff;
  opacity: .8;
  background-image: none;
}

.product-card ul.variant-selector > li.active {
  opacity: 1;
  color: #fff;
  background: #006eff;
  border-color: #006eff;
}

@media (min-width: 768px) {
  .products {
    grid-template-columns: repeat(var(--max-colunms), 1fr);
  }

  .products.compact, .products.plans {
    --max-colunms: 2;
  }
}

@media (min-width: 992px) { /* desktop */
  .products-wrapper {
    max-width: var(--section-desktop-max-width);
    padding: 0 var(--section-desktop-padding);
    margin: 0 auto;
  }

  .products.compact, .products.plans {
    --max-colunms: 3;
  }
}

@media (min-width: 1200px) { /* desktop variation */
  .products:not(.compact) .product-card img {
    display: inline;
    position: absolute;
    object-position: -60px 22px;
    object-fit: cover;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    top: -42px;
    right: -60px;
    border: 20px white solid;  
  }
}


@media (min-width: 1600px) { /* large desktop */
  .products-wrapper {
    max-width: var(--section-large-desktop-max-width);
  }
}

.product-card .highlight {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2cb43d;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 4px 0 8px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  letter-spacing: .96px;
}

.product-card .discount {
  display: block;
  margin: 9px auto;
  padding: 2px 8px;
  border-radius: 8px;
  background: rgb(44 180 61 / 20%);
  color: rgb(44 180 61);
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  width: fit-content;
}