.products-wrapper {
  padding: 0 var(--body-padding);
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.product-card {
  box-sizing: border-box;
  position: relative;
  display: grid;
  margin: 16px 20px;
  padding: 18px 170px 18px 20px;
  border-radius: 10px;
  border-color: rgb(229 231 235);
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 10%);
  width: 550px;
}

.product-card h1 {
  font-weight: normal;
  font-size: var(--heading-font-size-s);
  line-height: 36px;
  color: #000;
}

.product-card h2 {
  font-weight: normal;
  font-size: var(--body-font-size-s);
  color: #000;
}

.product-card img {
  position: absolute;
  object-position: -67px 22px;
  object-fit: cover;
  border-radius: 50%;
  width: 210px;
  height: 210px;
  top: -22px;
  right: -40px;
}

.product-card .price {
  font-weight: 500;
  font-size: var(--heading-font-size-l);
  line-height: 27px;
  color: #000;
}

.product-card .discount {
  font-weight: 500;
  font-size: var(--heading-font-size-m);
  line-height: 27px;
  color: #000;
}

.product-card .product-card-group {
  padding: 10px;
}

.product-card .product-card-group:not(:last-child) {
  border-bottom: 1px solid #e5e7eb;
}
