.section.trusted-columns-container {
    padding: 0;
}

@media (min-width: 768px) {
    .trusted-columns-container .container {
        display: flex;
        height: 700px;
        position: relative;
    }

    .trusted-columns-container .col {
        flex: 0 0 auto;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .trusted-columns-container .col-container {
        position: absolute;
        width: 100%;
        top: 0;
        display: flex;
    }

    .trusted-columns-container .img-container {
        width: 100%;
        height: 700px;
    }

    .trusted-columns-container .centered-wrapper {
        gap: 30px;
    }
}
