.barchart > ul {
    color: #3c3c3c;
    display: grid;
    gap: 16px;
    width: 100%;
    margin: 0 15px;
    grid-template-columns: 1fr;
  }
  
  .barchart-image {
    width: 46px;
    display: inline-block;
    flex-shrink: 0;
  }
  
  .barchart > ul > li {
    border: 0 solid #e5e7eb;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 3px 8px 0 rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    gap: 25px 20px;
  
  }
  
  .barchart.block h3 {
    line-height: 1.25;
    color: var(--text-color);
    font-size: 22px;
    font-weight: 500;
    margin-top: 0;
  }
  
  
  .barchart-body p {
    line-height: 1.25;
    color:  var(--text-color);
    font-size: 14px;
    font-weight: 400;
  }
  
  .barchart-body [data-bar-chart] {
    display: flex;
    gap: 3px;
    align-items: center;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
    color: #000;
    justify-content: space-between;
    background-color: transparent;
  }
  
  
  .barchart-body [data-bar-chart] > *:first-child { /*label*/
    /* background-color: #dedede; */
    /* width: var(--bar-width); */
    width: calc(100% - 40px);
    padding: 9px 16px;
    height: 40px;
    position: relative;
    background-color: transparent;
    z-index: 1;
  }

  .barchart-body [data-bar-chart] > *:first-child:before { /*label*/
    background-color: #dedede;
    width: var(--bar-width);
    display: inline-block;
    content: '';
    height: 100%;
    max-width: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    padding: 0;
  }

  .barchart-body [data-bar-chart]:first-of-type > *:first-child {
    color: #fff;
  }

  .barchart-body [data-bar-chart]:first-of-type > *:first-child:before {
    background-color: #005ed9;
    
  }
/* 
  .barchart-body [data-bar-chart]:first-child {
    color: #fff;
    background-color: #005ed9;
  } */
  .barchart-body [data-bar-chart] > *:nth-child(2) {
    margin-left: 3px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: .006em;
    display: inline-block;
    height: 40px;
  }
  
  main .section .barchart-wrapper {
    padding: 0 20px;
  }
  
  @media (min-width:481px) {
    .barchart > ul > li {
      flex-direction: row;
    }
  }
  
  @media (min-width: 990px) { /* desktop */
    .barchart > ul{
      grid-template-columns: repeat(2, minmax(300px, 1fr));
    }
    
    main .section .barchart-wrapper {
      max-width: 1200px;
      margin: 0 auto;
    }
  }
  
  @media (min-width: 1600px) { /* large desktop */
    main .section .barchart-wrapper {
      max-width: 1292px;
      margin: 0 auto;
    }
  }
  