/* header and nav layout */
:root {
  --dark-header-icon-color: #000;
}

header {
  z-index: 100;
}


header p {
  margin: 0;
}

.header-wrapper {
  position: sticky;
  top: 0;
  transition: height 0.3s ease-in-out;
  background-color: var(--white-color);
}

nav {
  display: none;
}

.nav-wrapper {
  display: none;
}

.nav-brand,
.nav-sections {
  display: inline-flex;
  align-items: flex-start;
  width: 49.5%;
}

.nav-brand {
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.nav-sections {
  flex-wrap: nowrap;
  justify-content: flex-end; 
}

.nav-brand p,
.nav-sections p {
  display: inline-block;
}

.bottom-links div, .bottom-links p{
  display: inline-block;
}

.login-modal > p {
  position: relative;
  width: 100%; 
  display: block;
  text-align: center; 
  margin-top: 45px;
}

.header-wrapper > p {
  margin-top: 0;
  padding: 15px;
  text-align: center;
  font-size: var(--body-font-size-s);
  color: var(--horizontal-separator-color);
  text-decoration: none;
  cursor: pointer;
  width: 175px;
  height: 50px;
}

@keyframes animate-bottom-border {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.home-button-border {
  position: absolute;
  margin-top: 12px;
  width: 70px;
  height: 3px;
  background-color: var(--color-highlight-blue);
}

.nav-divider {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end; 
  min-width: 2px;
  width: 2px;
  background-color: var(--color-dark-gray);
  height: 20px;
  margin-right: 15px;
  margin-top: 7.5px;
}

.login-modal {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: min(15px, calc(100vw - 880px));
  width: 375px;
  height: 275px;
  top: 80px;
  background-color: var(--background-color);
  border-radius: 5px;
  opacity: 0; 
  transition: all 0.3s ease-in-out;
  box-shadow: 0 10px 10px #0003;
  z-index: 0;
  transform: translateY(20px);
}

.login-modal.show {
  opacity: 1;
  top: 60px;
  z-index: 5;
  transform: translateY(0);
}


.login-modal h2 {
  position: relative;
  white-space: nowrap;
  color: var(--text-color);
  font-size: var(--body-font-size-s);
  width: 100%;
  margin-left: 25px;
  top: 15px;
  text-align: left; 
}

.divider {
  position: absolute;
  margin-top: 45px;
  width: 100%;
  height: 1px;
  background-color: var(--color-dark-gray);
}

.login-modal a {
  text-decoration: none;
  color: var(--color-highlight-blue) !important;
  width: 330px;
  height: 55px;
  border-radius: 9px;
  border: 2px solid var(--color-highlight-blue) !important;
  background-color: transparent !important;
  margin: -70px;
  padding: 5px;
  display: inline-block; 
  font-size: var(--body-font-size-xs);
  font-weight: 500;
}

header a.button:any-link {
  padding: 0;
}

.login-modal a.button:any-link {
  height: 50px;
  padding-right: 15px;
}

header a.button::after {
  margin-left: 0;
}

.login-modal a.button::after {
  position: relative;
  margin-left: 220px;
}

.login-modal a.button:any-link span {
  margin-left: 25%;
  position: absolute;
  font-weight: 500;
}

.login-modal.show p.button-container:nth-child(3) span {
  margin-left: 13%;
}

.login-modal.show p.button-container:nth-child(3) a.button::after {
  margin-left: 280px;
}

.login-modal.show p.button-container:nth-child(4) span {
  margin-left: 33%;
}

.login-modal.show p.button-container:nth-child(4) a.button::after {
  margin-left: 200px;
}

.logo-container {
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  max-width: var(--section-desktop-max-width);
  margin: 0 auto;
  padding: 0 var(--body-padding);
}

header.expanded .logo-container {
  height: var(--nav-height);
  position: absolute;
  top: 0;
  left: 0;
}

.logo-container > p {
  display: none;
}

.login-buttons a p {
  text-align: center;
  font-size: var(--body-font-size-xs);
  font-weight: var(--font-weight-bold); 
  margin-top: 5px;
  transition: all 0.3s ease-in-out;
  height: 100%;
}

header .icon {
  position: absolute;
  margin: 0;
  z-index: 1000;
  top: 15px;
  width: 103px;
  height: 30px;
  filter: none;
  left: 20px;
  color: var(--dark-background-color);
}

.bottom-links p > a {
  text-decoration: none;
  font-size: var(--body-font-size-xxs) !important;
  font-weight: 500 !important;
}

.login-modal a:hover {
  background-color: var(--color-highlight-blue) !important;
  color: var(--background-color) !important;
}

header a.button span.button-text {
  display: flex;
  font-size: var(--body-font-size-xs);
  font-weight: 400;
}

header a.button:hover span.button-text {
  transform: none;
}

.options-wrapper.show a {
  display: block;
  margin-left: 40px;
  color: var(--text-color);
  font-size: var(--body-font-size-xs);
  margin-top: 10px;
  text-decoration: none;
  animation: slide-in 0.2s 0.075s forwards;
  background-color: transparent !important;
  border: transparent !important;
}

.bottom-links p:hover > a {
  color: var(--color-highlight-blue) !important;
}

.header-wrapper > p a:hover{
  color: var(--background-color);
}

.options-wrapper.show > a:first-child {
  margin-top: 40px;
}

.login-modal.show.button-container a:hover{
  background-color: var(--color-highlight-blue);
  color: var(--background-color);
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  top: -13px;
  left: 320px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
}

.mega-menu div h2 {
  position: relative;
  font-size: var(--body-font-size-s);
  font-weight: 600;
  margin-left: 25px;
}



.mega-menu > div:first-child {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr; 
  align-items: start;
  border-bottom: 2px solid #f5f6f7;
}

.mega-menu > div:first-child h2 {
  grid-column: span 3; 
}

.mega-menu > div:first-child p {
  width: 250px;
  margin-top: 5px;
  border-radius: 5px;
  padding: 10px;
  height: 85px;
}


.mega-menu > div:first-child p:hover {
  background-color: var(--highlight-light-blue);
}

.mega-menu > div:first-child > p:first-child {
  grid-column: 1;
}

.mega-menu > div:first-child p a > span::after {
  content: '';
  width: 24px;
  height: 24px;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask:url('/_src/icons/arrow-right.svg');
  mask: url('/_src/icons/arrow-right.svg');
  background-color: var(--button-link-color);
  display: inline-block;
  transition: all .2s cubic-bezier(.4,0,.2,1);
  opacity: 0;
}

.mega-menu > div:first-child p a:hover span::after {
  opacity: 1;
  background-color: var(--color-highlight-blue);
}

.mega-menu > div:first-child p a::after {
  display: none;
}

.options-wrapper.show div {
  font-weight: var(--font-weight-bold);
  font-size: var(--body-font-size-s);
  margin: 25px 13px 25px 20px;
  position: relative; 
}

.options-wrapper.show div::before {
  border-color: black; 
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  position: absolute;
  right: 10px; 
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

@media (max-width: 992px) {
  .nav-wrapper {
    display: none;
  }

  header p {
    margin: 0;
  }

  .header-wrapper > p{
    display: none;
  }
  
}

.icon.icon-arrow-right {
  position: absolute;
  width: 10px;
  height: 10px;
  margin-left: 1px;
  z-index: 5;
}

.bottom-links div:nth-child(2) {
  margin-left: 120px;
}

.menu-bar {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--text-color);
  transition: transform 0.3s ease, opacity 0.3s ease;
  will-change: transform, opacity;
}

.menu-wrapper {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 100;
}

.menu-wrapper.change .menu-bar:first-child {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.menu-wrapper.change .menu-bar:nth-child(2) {
  opacity: 0; 
}

.menu-wrapper.change .menu-bar:last-child {
  transform: rotate(45deg) translate(-6px,-7px);
}

.header-wrapper.expanded {
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

.options-wrapper {
  position: relative;
  top: var(--nav-height);
  width: 100vw;
  height: 0;
  display: none;
}

.options-wrapper.show{
  width: 100vw;
  height: 100vh;
  box-shadow: 0 10px 10px #0003;
  z-index: 3;
  border-top: 1px solid #cecccc;
  display: block;
}

.sub-menu {
  display: none;
}

.sub-menu.show {
  display: block;
}

.options-wrapper.show .sub-menu-title {
  font-size: var(--body-font-size-xs);
  font-weight: var(--font-weight-bold);
  margin-left: 20px;
  padding-left: 20px; 
  position: relative;
}

.options-wrapper.show .sub-menu-title::before {
  border-color: black; 
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%) rotate(135deg); 
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

#icons-sprite-bitdefender-logo path {
  fill: currentcolor
}

@media(min-width: 767px) { /* tablet */
  .logo-container .icon {
    width: 180px;
  }

}

@media(min-width: 992px) {
  header.header-wrapper::after {
    content: "";
    position: absolute;
    top: 39px;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #3c3c3c;
    margin: 0 auto;
  }

  header .icon {
    color: var(--text-color);
    position: static;
  }

  header.black-background .icon {
    color: var(--text-dark-color);
  }

  .header-wrapper {
    height: var(--nav-height-desktop);
    position: fixed;
    z-index: 999;
    margin: auto;
    left: 0;
    right: 0;
  }

  .menu-wrapper {
    display: none;
  }

  .nav-wrapper {
    width: 100%;
    background-color: var(--text-color);
    z-index: 100;
    display: block;
    margin: 0 auto;
  }
  
  nav {
    display: block;
    max-width: var(--section-desktop-max-width);
    height: 100%;
    margin: 0 auto;
    padding: 6px var(--section-desktop-padding) 10px;
    position: relative;
  }

  nav p {
    line-height: 1.4;
    font-size: var(--body-font-size-xxs);
    font-weight: var(--font-weight-bold);
  }

  .nav-sections {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0;
  }


  .nav-brand a,
  .nav-sections a {
  color: var(--horizontal-separator-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--body-font-size-xxs);
  font-weight: var(--font-weight-bold);
  margin-right: 0;
  letter-spacing: 0.96px;
  cursor: pointer;
  line-height: 1.4;
  display: inline-block;
  position: relative;
  }

  .nav-sections a {
    margin: 0 15.5px;
  }

  .logo a {
    display: block;
  }

  .nav-brand p a {
    margin: 0 12px;
  }

  .mega-menu div h2 > a {
    transition: all 0.2s ease-in-out;
    border-radius: 3px;
    text-decoration: none;
    padding: 7px 10px;
    color: var(--link-color);
    font-size: var(--body-font-size-xs);
    font-weight: var(--font-weight-bold);
  }

  .mega-menu div p a{
    position: relative;
    font-size: var(--body-font-size-xs);
    font-weight: 400;
    color: var(--text-color);
  }

  .nav-sections a:first-child{
    margin-right: 16px;
  }

  .nav-brand p:first-child a{
    margin-left: 0;
  }

.nav-sections p a::before,
.nav-brand p a::before {
  content: "";
  position: absolute;
  top: 25px;
  height: 3px;
  background: var(--color-highlight-blue);
  transition: all .3s ease;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
  left: 0;
}

.nav-sections p a:hover::before,
.nav-brand p a.active::before,
.nav-brand p a:hover::before,
.nav-sections p.clicked a::before {
  transform: scaleX(1);    
  transform-origin: left;
}

/* Other existing styles */
.mega-menu div h2 > a:hover {
  background-color: var(--highlight-light-blue);
}

.nav-sections p:last-child:hover::after {
  width: 50px;
}

.nav-sections p,
.nav-brand p {
  position: relative;
}

.nav-sections p::before,
.nav-brand p:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 2px;
  background-color: #616161;
}
  
  .logo-container {
    padding: 20px var(--section-desktop-padding);
    margin: 21px auto 0;
    gap: 10px;
  }
  
  .logo-container > p {
    display: block;
    font-weight: var(--font-weight-bold);
    line-height: 1.63;
    font-size: 15px;
  }

  .home-solutions-link-hover {
    color: #FFF;
  }
  
  .home-solutions-link-default {
    display: block;
    color: var(--text-color);
    cursor: pointer;
    padding: 0 27px 31px;
    position: relative;
    margin-top: 35px;
  }

  header.black-background .home-solutions-link-default {
    color: #dedede;
  }
  
  .home-solutions-link-default::before {
    content: "";
    position: absolute;
    bottom: 3px;
    height: 4px;
    background: #006eff;
    transition: all .3s ease;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    left: 0;
  }

  .home-solutions-link-hover::before {
      transform: scaleX(1);    
      transform-origin: left;
  }

  .mega-menu {
    flex-direction: column;
    position: absolute;
    left: 80px;
    top: 123px;
    max-width: 920px;
    width: 100%;
    background-color: var(--background-color);
    z-index: 3;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 10px 10px #0003;
    visibility: hidden;
    display: none;
    opacity: 0;
  }
  
  .mega-menu-show {
    opacity: 1;
    visibility: visible;
    display: flex;
  }  

  .mega-menu div h2 {
    position: relative;
    font-size: var(--body-font-size-xs);
    font-weight: var(--font-weight-boldest);
    line-height: 18px;
    padding: 7px 10px;
    margin: 10px 25px 0 15px;
  }

  .other-options > div:nth-child(5) {
    grid-area: 2 / 3 / 3 / 4;
  }
  
  .other-options > div:nth-child(4) {
    grid-area: 2 / 2 / 3 / 3;
  }
  
  .other-options > div:nth-child(3) {
    grid-area: 1 / 3 / 2 / 4;
  }
  
  .other-options > div:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
  }
  
  .other-options > div:nth-child(1) {
    grid-area: 1 / 1 / 3 / 2;
  }
  
  .other-options > div > p {
    position: relative;
    top: 0;
    margin-left: 20px;
    font-size: var(--body-font-size-xs);
    font-weight: var(--font-weight-regular);
    line-height: 18px;
  }

  .other-options > div > h2 {
    margin-top: 0;
  }

  header .other-options > div > p a.button {
    font-size: var(--body-font-size-xs);
    font-weight: var(--font-weight-regular);
    line-height: 18px;
    text-decoration: none;
    padding: 1px 10px;
    background-color: transparent;
    border-radius: 4px;
    border: none;
  }

  header .other-options > div > p a.button:hover {
    background-color: var(--highlight-light-blue);
    transition: none;
    transform: none;
  }
  
  .mega-menu > div:first-child p a::after {
    display: none;
  }

  header .other-options > div > p a:hover::after {
    background-color: var(--color-highlight-blue);
  }

  header .other-options > div > p a.button > span {
    font-size: var(--body-font-size-xs);
    font-weight: var(--font-weight-regular);
    line-height: 18px;
    position: relative;
    color: var(--text-color);
  }

  .mega-menu > div:first-child p a > span:first-child {
    font-size: var(--body-font-size-xs);
    font-weight: var(--font-weight-boldest);
    line-height: 18px;
    align-items: center;
  }
  
  .mega-menu .button-container:hover a.button::after {
    transform: none;
    opacity: 1;
  }

  .mega-menu > div:first-child {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr; 
    align-items: start;
    border-bottom: 2px solid #f5f6f7;
    padding-bottom: 14px;
  }

  .mega-menu > div:first-child > p > a > div {
    margin-top: 5px;
    line-height: 18px;
    font-size: 13px;
    font-weight: 400;
    color: var(--color-dark-gray);
    white-space: break-spaces;
    text-align: left;
  }

  .mega-menu > div:first-child h2 {
    grid-column: span 3; 
  }
  
  .mega-menu div p {
    margin-left: 15px;
  }

  .bottom-links div p {
    height: fit-content;
    margin-left: 20px;
  }

  .mega-menu > div:first-child p {
    width: 250px;
    margin-top: 0;
    border-radius: 5px;
    padding: 0;
    height: auto;
  }

  .mega-menu > div:first-child p:hover {
    background-color: var(--highlight-light-blue);
  }

  .mega-menu > div:first-child > p:first-child {
    grid-column: 1;
  }

  .mega-menu > div:first-child p a > span::after {
    content: '';
    width: 24px;
    height: 24px;
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-mask:url('/_src/icons/arrow-right.svg');
    mask: url('/_src/icons/arrow-right.svg');
    background-color: var(--button-link-color);
    display: inline-block;
    transition: all .2s cubic-bezier(.4,0,.2,1);
    opacity: 0;
  }

  .mega-menu > div:first-child p a:hover > span::after {
    opacity: 1;
    background-color: var(--color-highlight-blue);
  }


  .mega-menu > div:first-child p a {
    padding: 7px 10px;
    display: block;
    color: var(--text-color) !important;
    text-decoration: none;
    font-size: var(--body-font-size-s);
    background-color: transparent;
    border: none;
  }
  
  .mega-menu > div:first-child p:hover a {
    color: var(--color-highlight-blue) !important;
  }
  
  .other-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0;
    padding-top: 14px;
  }
  
  #new, #evolved {
    position: relative;
    font-size: var(--body-font-size-xxs);
    font-weight: 600;
    color: var(--background-color);
    background-color: var(--color-highlight-blue);
    padding: 2px;
    border-radius: 3px;
    margin-left: 5px;
  }

  .bottom-links {
    background-color: rgb(158 164 177 / 10%);
    padding: 8px 11px;
    margin-top: 20px;
  }

}

@media (min-width: 1200px) { 
  .mega-menu {
    left: 80px;
    transform: translateX(0);
  }
}

@media (min-width: 1400px) { 
  .mega-menu {
    left: 210px;
    transform: translateX(0);
  }
}

@media (min-width: 1600px) { 
  .mega-menu {
    left: 240px;
    transform: translateX(0);
  }
}

@media (min-width: 1600px) {
  nav {
    max-width: var(--section-large-desktop-max-width);
    padding-left: var(--section-large-desktop-padding);
    padding-right: var(--section-large-desktop-padding);
  }

  .nav-brand p a {
    margin: 0 19px;
  }

  .logo-container {
    max-width: var(--section-large-desktop-max-width);
    padding-left: var(--section-large-desktop-padding);
    padding-right: var(--section-large-desktop-padding);
  }

  .logo-container > p {
    font-size: 16px;
  }

  .home-solutions-link-default {
    padding-left: 20px;
  }
}