/* stylelint-disable no-descending-specificity */

/* header and nav layout */
header.header-wrapper {
  position: sticky;
  top: 0;
  transition: height 0.3s ease-in-out;
  background-color: var(--white-color);
  z-index: 100;
}

header.header-wrapper nav {
  display: none;
}


:root {
  --dark-header-icon-color: #000;
}

header.header-wrapper p {
  margin: 0;
}

header.header-wrapper > p {
  margin-top: 0;
  padding: 15px;
  text-align: center;
  font-size: var(--body-font-size-s);
  color: var(--horizontal-separator-color);
  text-decoration: none;
  cursor: pointer;
  width: 175px;
  height: 50px;
}






header.header-wrapper .nav-wrapper {
  display: none;
}

header.header-wrapper .nav-brand,
header.header-wrapper .nav-sections {
  display: inline-flex;
  align-items: flex-start;
  width: 49.5%;
}

header.header-wrapper .nav-brand {
  flex-wrap: nowrap;
  justify-content: flex-start;
}

header.header-wrapper .nav-sections {
  flex-wrap: nowrap;
  justify-content: flex-end;
}

header.header-wrapper .nav-brand p,
header.header-wrapper .nav-sections p {
  display: inline-block;
}

header.header-wrapper .bottom-links div, .bottom-links p{
  display: inline-block;
}

header.header-wrapper .login-modal > p {
  position: relative;
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 45px;
}

@keyframes animate-bottom-border {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}

header.header-wrapper .home-button-border {
  position: absolute;
  margin-top: 12px;
  width: 70px;
  height: 3px;
  background-color: var(--color-highlight-blue);
}

header.header-wrapper .nav-divider {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  min-width: 2px;
  width: 2px;
  background-color: var(--color-dark-gray);
  height: 20px;
  margin-right: 15px;
  margin-top: 7.5px;
}

header.header-wrapper .login-modal {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: min(15px, calc(100vw - 880px));
  width: 375px;
  height: 275px;
  top: 80px;
  background-color: var(--background-color);
  border-radius: 5px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 10px 10px #0003;
  z-index: 0;
  transform: translateY(20px);
}

header.header-wrapper .login-modal.show {
  opacity: 1;
  top: 60px;
  z-index: 5;
  transform: translateY(0);
}


header.header-wrapper .login-modal h2 {
  position: relative;
  white-space: nowrap;
  color: var(--text-color);
  font-size: var(--body-font-size-s);
  width: 100%;
  margin-left: 25px;
  top: 15px;
  text-align: left;
}

header.header-wrapper .divider {
  position: absolute;
  margin-top: 45px;
  width: 100%;
  height: 1px;
  background-color: var(--color-dark-gray);
}

header.header-wrapper .login-modal a {
  text-decoration: none;
  color: var(--color-highlight-blue) !important;
  width: 330px;
  height: 55px;
  border-radius: 9px;
  border: 2px solid var(--color-highlight-blue) !important;
  background-color: transparent !important;
  margin: -70px;
  padding: 5px;
  display: inline-block;
  font-size: var(--body-font-size-xs);
  font-weight: 500;
}

header.header-wrapper a.button:any-link {
  padding: 0;
}

header.header-wrapper .login-modal a.button:any-link {
  height: 50px;
  padding-right: 15px;
}

header.header-wrapper a.button::after {
  margin-left: 0;
}

header.header-wrapper .login-modal a.button::after {
  position: relative;
  margin-left: 220px;
}

header.header-wrapper .login-modal a.button:any-link span {
  margin-left: 25%;
  position: absolute;
  font-weight: 500;
}

header.header-wrapper .login-modal.show p.button-container:nth-child(3) span {
  margin-left: 13%;
}

header.header-wrapper .login-modal.show p.button-container:nth-child(3) a.button::after {
  margin-left: 280px;
}

header.header-wrapper .login-modal.show p.button-container:nth-child(4) span {
  margin-left: 33%;
}

header.header-wrapper .login-modal.show p.button-container:nth-child(4) a.button::after {
  margin-left: 200px;
}

header.header-wrapper .logo-container {
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  max-width: var(--section-desktop-max-width);
  margin: 0 auto;
  padding: 0 var(--body-padding);
}

header.header-wrapper.expanded .logo-container {
  height: var(--nav-height);
  position: absolute;
  top: 0;
  left: 0;
}

header.header-wrapper .logo-container > p {
  display: none;
}

header.header-wrapper .login-buttons a p {
  text-align: center;
  font-size: var(--body-font-size-xs);
  font-weight: var(--font-weight-bold);
  margin-top: 5px;
  transition: all 0.3s ease-in-out;
  height: 100%;
}

header.header-wrapper .icon {
  position: absolute;
  margin: 0;
  z-index: 1000;
  top: 15px;
  width: 103px;
  height: 30px;
  filter: none;
  left: 20px;
  color: var(--dark-background-color);
}

header.header-wrapper .bottom-links p > a {
  text-decoration: none;
  font-size: var(--body-font-size-xxs) !important;
  font-weight: 500 !important;
}

header.header-wrapper .login-modal a:hover {
  background-color: var(--color-highlight-blue) !important;
  color: var(--background-color) !important;
}

header.header-wrapper a.button span.button-text {
  display: flex;
  font-size: var(--body-font-size-xs);
  font-weight: 400;
}

header.header-wrapper a.button:hover span.button-text {
  transform: none;
}

header.header-wrapper .options-wrapper.show a {
  display: block;
  margin-left: 40px;
  color: var(--text-color);
  font-size: var(--body-font-size-xs);
  margin-top: 10px;
  text-decoration: none;
  animation: slide-in 0.2s 0.075s forwards;
  background-color: transparent !important;
  border: transparent !important;
}

header.header-wrapper .bottom-links p:hover > a {
  color: var(--color-highlight-blue) !important;
}

header.header-wrapper > p a:hover{
  color: var(--background-color);
}

header.header-wrapper .options-wrapper.show > a:first-child {
  margin-top: 40px;
}

header.header-wrapper .login-modal.show.button-container a:hover{
  background-color: var(--color-highlight-blue);
  color: var(--background-color);
}

header.header-wrapper .triangle {
  position: absolute;
  width: 0;
  height: 0;
  top: -13px;
  left: 320px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
}

header.header-wrapper .mega-menu-websites div h2 {
  position: relative;
  font-size: var(--body-font-size-s);
  font-weight: 600;
  margin-left: 25px;
}

header.header-wrapper .mega-menu-websites > div:first-child {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  border-bottom: 2px solid #f5f6f7;
}

header.header-wrapper .mega-menu-websites > div:first-child h2 {
  grid-column: span 3;
}

header.header-wrapper .mega-menu-websites > div:first-child p {
  width: 250px;
  margin-top: 5px;
  border-radius: 5px;
  padding: 10px;
  height: 85px;
}


header.header-wrapper .mega-menu-websites > div:first-child p:hover {
  background-color: var(--highlight-light-blue);
}

header.header-wrapper .mega-menu-websites > div:first-child > p:first-child {
  grid-column: 1;
}

header.header-wrapper .mega-menu-websites > div:first-child p a > span::after {
  content: '';
  width: 24px;
  height: 24px;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask:url('/_src/icons/arrow-right.svg');
  mask: url('/_src/icons/arrow-right.svg');
  background-color: var(--button-link-color);
  display: inline-block;
  transition: all .2s cubic-bezier(.4,0,.2,1);
  opacity: 0;
}

header.header-wrapper .mega-menu-websites > div:first-child p a:hover span::after {
  opacity: 1;
  background-color: var(--color-highlight-blue);
}

header.header-wrapper .mega-menu-websites > div:first-child p a::after {
  display: none;
}

header.header-wrapper .options-wrapper.show div {
  font-weight: var(--font-weight-bold);
  font-size: var(--body-font-size-s);
  margin: 25px 13px 25px 20px;
  position: relative;
}

header.header-wrapper .options-wrapper.show div::before {
  border-color: black;
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

@media (max-width: 992px) {
  header.header-wrapper .nav-wrapper {
    display: none;
  }

  header.header-wrapper p {
    margin: 0;
  }

  header.header-wrapper > p{
    display: none;
  }

}

header.header-wrapper .icon.icon-arrow-right {
  position: absolute;
  width: 10px;
  height: 10px;
  margin-left: 1px;
  z-index: 5;
}

header.header-wrapper .bottom-links div:nth-child(2) {
  margin-left: 120px;
}

header.header-wrapper .menu-bar {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--text-color);
  transition: transform 0.3s ease, opacity 0.3s ease;
  will-change: transform, opacity;
}

header.header-wrapper .menu-wrapper {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 100;
}

header.header-wrapper .menu-wrapper.change .menu-bar:first-child {
  transform: rotate(-45deg) translate(-5px, 5px);
}

header.header-wrapper .menu-wrapper.change .menu-bar:nth-child(2) {
  opacity: 0;
}

header.header-wrapper .menu-wrapper.change .menu-bar:last-child {
  transform: rotate(45deg) translate(-6px,-7px);
}

header.header-wrapper.expanded {
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

header.header-wrapper .options-wrapper {
  position: relative;
  top: var(--nav-height);
  width: 100vw;
  height: 0;
  display: none;
}

header.header-wrapper .options-wrapper.show{
  width: 100vw;
  height: 100vh;
  box-shadow: 0 10px 10px #0003;
  z-index: 3;
  border-top: 1px solid #cecccc;
  display: block;
}

header.header-wrapper .sub-menu {
  display: none;
}

header.header-wrapper .sub-menu.show {
  display: block;
}

header.header-wrapper .options-wrapper.show .sub-menu-title {
  font-size: var(--body-font-size-xs);
  font-weight: var(--font-weight-bold);
  margin-left: 20px;
  padding-left: 20px;
  position: relative;
}

header.header-wrapper .options-wrapper.show .sub-menu-title::before {
  border-color: black;
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%) rotate(135deg);
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

header.header-wrapper #icons-sprite-bitdefender-logo path {
  fill: currentcolor
}

#header-ferrari {
  border-bottom: 2px solid #3C3C3C;
  height: 40px;
  box-shadow: 0 32px 73px #000;
  background-color: black;
}

#header-ferrari div div {
  margin-top: -10px;
}

#header-ferrari ul {
  padding: 0;
  margin: 0;
  width: 50%;
  float: left;
}

#header-ferrari ul:nth-of-type(2) {
  text-align: right;
}

#header-ferrari ul:nth-of-type(3) {
  width: 100%;
  margin-top: -5px;
}

#header-ferrari ul li {
  color: white;
  font-size: 12px;
  list-style-type: none;
  display: inline-block;
  padding: 0 10px;
  font-weight: 600;
}

#header-ferrari ul:nth-of-type(2) li {
  border-left: 1px solid #616161;
}

#header-ferrari ul:nth-of-type(3) li {
  padding: 0 25px 0 0;
}

#header-ferrari ul:nth-of-type(1) li:nth-of-type(1) {
  padding-left: 0;
}

#header-ferrari ul li a {
  color: #DEDEDE;
  font-size: 12px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 600;
}

#header-ferrari ul li a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 4px;
  background: #006EFF;
  transition: all 0.3s ease;
  transition-property: transform;
  width: 100%;
  transform: scaleX(0);
  will-change: transform;
  transform-origin: right;
}

#header-ferrari ul li a:hover {
  text-decoration: none;
}

#header-ferrari ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

#header-ferrari ul:nth-of-type(3) li a {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
}

#header-ferrari ul:nth-of-type(3) li a span.icon-logo-white {
  display: inline-block;
  background: url("/_src/images/sigla_bd_white.svg") 0 0 no-repeat;
  width: 165px;
  height: 25px;
}

#header-ferrari ul:nth-of-type(3) :nth-of-type(3) a {
  font-weight: bold;
}

@media(min-width: 767px) { /* tablet */
  header.header-wrapper .logo-container .icon {
    width: 180px;
  }

}

@media(min-width: 992px) {
  header.header-wrapper::after {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #3c3c3c;
    margin: 0 auto;
  }

  header.header-wrapper .icon {
    color: var(--text-color);
    position: static;
  }

  header.header-wrapper.black-background .icon {
    color: var(--text-dark-color);
  }

  header.header-wrapper {
    height: 64px;
    position: fixed;
    z-index: 999;
    margin: auto;
    left: 0;
    right: 0;
  }

  header.header-wrapper .menu-wrapper {
    display: none;
  }

  header.header-wrapper .nav-wrapper {
    width: 100%;
    background-color: var(--text-color);
    z-index: 100;
    display: block;
    margin: 0 auto;
  }

  header.header-wrapper nav {
    display: block;
    max-width: var(--section-desktop-max-width);
    height: 100%;
    margin: 0 auto;
    padding: 6px var(--section-desktop-padding) 10px;
    position: relative;
  }

  header.header-wrapper nav p {
    line-height: 1.4;
    font-size: var(--body-font-size-xxs);
    font-weight: var(--font-weight-bold);
  }

  header.header-wrapper .nav-sections {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0;
  }


  header.header-wrapper .nav-brand a,
  header.header-wrapper .nav-sections a {
    color: var(--horizontal-separator-color);
    text-decoration: none;
    text-transform: uppercase;
    font-size: var(--body-font-size-xxs);
    font-weight: var(--font-weight-bold);
    margin-right: 0;
    letter-spacing: 0.96px;
    cursor: pointer;
    line-height: 1.4;
    display: inline-block;
    position: relative;
  }

  header.header-wrapper .nav-sections a {
    margin: 0 15.5px;
  }

  header.header-wrapper .logo a {
    display: block;
  }

  header.header-wrapper .nav-brand p a {
    margin: 0 12px;
  }

  header.header-wrapper .mega-menu-websites div h2 > a {
    transition: all 0.2s ease-in-out;
    border-radius: 3px;
    text-decoration: none;
    padding: 7px 10px;
    color: var(--link-color);
    font-size: var(--body-font-size-xs);
    font-weight: var(--font-weight-bold);
  }

  header.header-wrapper .mega-menu-websites div p a{
    position: relative;
    font-size: var(--body-font-size-xs);
    font-weight: 400;
    color: var(--text-color);
  }

  header.header-wrapper .nav-sections a:first-child{
    margin-right: 16px;
  }

  header.header-wrapper .nav-brand p:first-child a{
    margin-left: 0;
  }

  header.header-wrapper .nav-sections p a::before,
  header.header-wrapper .nav-brand p a::before {
    content: "";
    position: absolute;
    top: 25px;
    height: 3px;
    background: var(--color-highlight-blue);
    transition: all .3s ease;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    left: 0;
  }

  header.header-wrapper .nav-sections p a:hover::before,
  header.header-wrapper .nav-brand p a.active::before,
  header.header-wrapper .nav-brand p a:hover::before,
  header.header-wrapper .nav-sections p.clicked a::before {
    transform: scaleX(1);
    transform-origin: left;
  }

  /* Other existing styles */
  header.header-wrapper .mega-menu-websites div h2 > a:hover {
    background-color: var(--highlight-light-blue);
  }

  header.header-wrapper .nav-sections p:last-child:hover::after {
    width: 50px;
  }

  header.header-wrapper .nav-sections p,
  header.header-wrapper .nav-brand p {
    position: relative;
  }

  header.header-wrapper .nav-sections p::before,
  header.header-wrapper .nav-brand p:not(:first-child)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 2px;
    background-color: #616161;
  }

  header.header-wrapper .logo-container {
    padding: 20px var(--section-desktop-padding);
    margin: 21px auto 0;
    gap: 10px;
  }

  header.header-wrapper .logo-container > p {
    display: block;
    font-weight: var(--font-weight-bold);
    line-height: 1.63;
    font-size: 15px;
  }

  header.header-wrapper .home-solutions-link-hover {
    color: #FFF;
  }

  header.header-wrapper .home-solutions-link-default {
    display: block;
    color: var(--text-color);
    cursor: pointer;
    padding: 0 27px 31px;
    position: relative;
    margin-top: 35px;
  }

  header.header-wrapper.black-background .home-solutions-link-default {
    color: #dedede;
  }

  header.header-wrapper .home-solutions-link-default::before {
    content: "";
    position: absolute;
    bottom: 3px;
    height: 4px;
    background: #006eff;
    transition: all .3s ease;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    left: 0;
  }

  header.header-wrapper .home-solutions-link-hover::before {
      transform: scaleX(1);
      transform-origin: left;
  }

  header.header-wrapper .mega-menu-websites {
    flex-direction: column;
    position: absolute;
    left: 80px;
    top: 123px;
    max-width: 920px;
    width: 100%;
    background-color: var(--background-color);
    z-index: 3;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 10px 10px #0003;
    visibility: hidden;
    display: none;
    opacity: 0;
  }

  header.header-wrapper .mega-menu-websites-show {
    opacity: 1;
    visibility: visible;
    display: flex;
  }

  header.header-wrapper .mega-menu-websites div h2 {
    position: relative;
    font-size: var(--body-font-size-xs);
    font-weight: var(--font-weight-boldest);
    line-height: 18px;
    padding: 7px 10px;
    margin: 10px 25px 0 15px;
  }

  header.header-wrapper .other-options > div:nth-child(5) {
    grid-area: 2 / 3 / 3 / 4;
  }

  header.header-wrapper .other-options > div:nth-child(4) {
    grid-area: 2 / 2 / 3 / 3;
  }

  header.header-wrapper .other-options > div:nth-child(3) {
    grid-area: 1 / 3 / 2 / 4;
  }

  header.header-wrapper .other-options > div:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
  }

  header.header-wrapper .other-options > div:nth-child(1) {
    grid-area: 1 / 1 / 3 / 2;
  }

  header.header-wrapper .other-options > div > p {
    position: relative;
    top: 0;
    margin-left: 20px;
    font-size: var(--body-font-size-xs);
    font-weight: var(--font-weight-regular);
    line-height: 18px;
  }

  header.header-wrapper .other-options > div > h2 {
    margin-top: 0;
  }

  header.header-wrapper .other-options > div > p a.button {
    font-size: var(--body-font-size-xs);
    font-weight: var(--font-weight-regular);
    line-height: 18px;
    text-decoration: none;
    padding: 1px 10px;
    background-color: transparent;
    border-radius: 4px;
    border: none;
  }

  header.header-wrapper .other-options > div > p a.button:hover {
    background-color: var(--highlight-light-blue);
    transition: none;
    transform: none;
  }

  header.header-wrapper .mega-menu-websites > div:first-child p a::after {
    display: none;
  }

  header.header-wrapper .other-options > div > p a:hover::after {
    background-color: var(--color-highlight-blue);
  }

  header.header-wrapper .other-options > div > p a.button > span {
    font-size: var(--body-font-size-xs);
    font-weight: var(--font-weight-regular);
    line-height: 18px;
    position: relative;
    color: var(--text-color);
  }

  header.header-wrapper .mega-menu-websites > div:first-child p a > span:first-child {
    font-size: var(--body-font-size-xs);
    font-weight: var(--font-weight-boldest);
    line-height: 18px;
    align-items: center;
  }

  header.header-wrapper .mega-menu-websites .button-container:hover a.button::after {
    transform: none;
    opacity: 1;
  }

  header.header-wrapper .mega-menu-websites > div:first-child {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    border-bottom: 2px solid #f5f6f7;
    padding-bottom: 14px;
  }

  header.header-wrapper.mega-menu-websites > div:first-child > p > a > div {
    margin-top: 5px;
    line-height: 18px;
    font-size: 13px;
    font-weight: 400;
    color: var(--color-dark-gray);
    white-space: break-spaces;
    text-align: left;
  }

  header.header-wrapper .mega-menu-websites > div:first-child h2 {
    grid-column: span 3;
  }

  header.header-wrapper .mega-menu-websites div p {
    margin-left: 15px;
  }

  header.header-wrapper.bottom-links div p {
    height: fit-content;
    margin-left: 20px;
  }

  header.header-wrapper .mega-menu-websites > div:first-child p {
    width: 250px;
    margin-top: 0;
    border-radius: 5px;
    padding: 0;
    height: auto;
  }

  header.header-wrapper .mega-menu-websites > div:first-child p:hover {
    background-color: var(--highlight-light-blue);
  }

  header.header-wrapper .mega-menu-websites > div:first-child > p:first-child {
    grid-column: 1;
  }

  header.header-wrapper .mega-menu-websites > div:first-child p a > span::after {
    content: '';
    width: 24px;
    height: 24px;
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-mask:url('/_src/icons/arrow-right.svg');
    mask: url('/_src/icons/arrow-right.svg');
    background-color: var(--button-link-color);
    display: inline-block;
    transition: all .2s cubic-bezier(.4,0,.2,1);
    opacity: 0;
  }

  header.header-wrapper .mega-menu-websites > div:first-child p a:hover > span::after {
    opacity: 1;
    background-color: var(--color-highlight-blue);
  }


  header.header-wrapper .mega-menu-websites > div:first-child p a {
    padding: 7px 10px;
    display: block;
    color: var(--text-color) !important;
    text-decoration: none;
    font-size: var(--body-font-size-s);
    background-color: transparent;
    border: none;
  }

  header.header-wrapper .mega-menu-websites > div:first-child p:hover a {
    color: var(--color-highlight-blue) !important;
  }

  header.header-wrapper .other-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0;
    padding-top: 14px;
  }

  header.header-wrapper #new,
  header.header-wrapper #evolved {
    position: relative;
    font-size: var(--body-font-size-xxs);
    font-weight: 600;
    color: var(--background-color);
    background-color: var(--color-highlight-blue);
    padding: 2px;
    border-radius: 3px;
    margin-left: 5px;
  }

  header.header-wrapper .bottom-links {
    background-color: rgb(158 164 177 / 10%);
    padding: 8px 11px;
    margin-top: 20px;
  }
}

@media (min-width: 1200px) {
  header.header-wrapper .mega-menu-websites {
    left: 80px;
    transform: translateX(0);
  }
}

@media (min-width: 1400px) {
  header.header-wrapper .mega-menu-websites {
    left: 210px;
    transform: translateX(0);
  }
}

@media (min-width: 1600px) {
  header.header-wrapper .mega-menu-websites {
    left: 240px;
    transform: translateX(0);
  }
}

@media (min-width: 1600px) {
  header.header-wrapper nav {
    max-width: var(--section-large-desktop-max-width);
    padding-left: var(--section-large-desktop-padding);
    padding-right: var(--section-large-desktop-padding);
  }

  header.header-wrapper .nav-brand p a {
    margin: 0 19px;
  }

  header.header-wrapper .logo-container {
    max-width: var(--section-large-desktop-max-width);
    padding-left: var(--section-large-desktop-padding);
    padding-right: var(--section-large-desktop-padding);
  }

  header.header-wrapper .logo-container > p {
    font-size: 16px;
  }

  header.header-wrapper .home-solutions-link-default {
    padding-left: 20px;
  }
}

/* import header spurs lp */
@media screen and (max-width: 989px) {
  #header-ferrari.header-spurs {
    background-color: white;
    border-bottom: 0 none;
    height: 40px;
    position: static;
  }

  #header-ferrari.header-spurs::before {
    content: '';
    background: url('/_src/images/black_company_logo.svg') no-repeat 0 0 transparent;
    width: 100px;
    height: 20px;
    display: block;
    background-size: 100%;
    margin: 10px;
    position: relative;
    top: 7px;
  }

  #header-ferrari.header-spurs .lp-header {
    padding: 0!important;
  }

  #header-ferrari.header-spurs .lp-header::before {
    content: '';
    background: url('/_src/icons/burger_menu.JPG') no-repeat 0 0 transparent;
    width: 29px;
    height: 29px;
    display: block;
    background-size: 100%;
    position: absolute;
    right: 7px;
    top: -26px;
    cursor: pointer;
  }

  #header-ferrari.header-spurs .lp-header > div {
    position: absolute;
    z-index: 5;
    background-color: white;
    width: 100%;
    visibility: hidden;
  }

  #header-ferrari.header-spurs .lp-header.active > div {
    visibility: visible;
  }

  #header-ferrari.header-spurs .lp-header > div ul li {
    border-bottom: 1px solid #0003;
    padding-left: 15px;
  }

  .btn-white .button-container a, .btn-white.button-container a:hover {
    font-size: 14px;
    line-height: 17px;
    padding: 10px 1em;
  }

  #header-ferrari.header-spurs .lp-header > div ul li, #header-ferrari.header-spurs .lp-header > div ul li a {
    width: 100%;
    display: block;
    padding-bottom: 0;
    color: black;
    font-size: 15px;
    font-family: 'IBM Plex Sans', sans-serif;
    text-transform: uppercase;
  }

  #header-ferrari.header-spurs .lp-header > div ul li a::before {
    display: none;
  }

  #header-ferrari.header-spurs ul:last-of-type li:first-of-type {
    display: none;
  }


  #header-ferrari {
    box-shadow: none;
    position: static;
    height: auto;
  }

  #header-ferrari div div {
    margin-top: 0;
    flex-direction: column;
    display: flex;
  }

  #header-ferrari ul {
    width: 100%;
    float: none;
  }

  #header-ferrari ul:nth-of-type(1) {
    order: 2;
  }

  #header-ferrari ul:nth-of-type(2) {
    text-align: left;
    order: 3;
  }

  #header-ferrari ul li {
    padding: 0 10px 0 0;
    font-size: 12px;
  }

  #flipdown .flip-clock-wrapper ul li {
    line-height: 48px;
  }

  #header-ferrari ul:nth-of-type(2) li {
    border-left: 0 none;
  }

  #header-ferrari ul:nth-of-type(3) {
    margin-top: 0;
    padding-bottom: 0;
    order: 1;
  }

  #header-ferrari ul:nth-of-type(3) li a span.icon-logo-white {
    width: 100px;
    height: 17px;
    background-size: 100%;
  }

  #header-ferrari ul:nth-of-type(3) li {
    padding: 0 3px 0 0;
  }

  #header-ferrari ul:nth-of-type(3) li a {
    font-size: 12px;
  }
}
