.trusted-main-carousel-container {
    background: white;
}

.trusted-main-carousel-container .navigation-wrapper {
    display: flex;
    scrollbar-width: none;
    overflow: auto;
}

.trusted-main-carousel-container .navigation-wrapper::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, Opera */
}

.trusted-main-carousel-container .navigation-wrapper .first-nav {
    display: flex;
    cursor: pointer;
    border-radius: 8px;
    background: #EFF6FF;
}

.trusted-main-carousel-container .navigation-wrapper .second-nav {
    display: none;
}

.trusted-main-carousel-container .navigation-wrapper .nav-item {
    color: #006EFF;
    flex-shrink: 0;
    padding: 15px;
}

.trusted-main-carousel-container .default-content-wrapper {
    overflow: hidden;
}

.trusted-main-carousel-container .navigation-wrapper .nav-item.active {
    background: #006EFF;
    border-radius: 8px;
    color: white;
    transition: all .25s linear;
    position: relative;
    z-index: 1;
}

.trusted-main-carousel-container .content-wrapper {
    color: black;
    display: flex;
    transform: translateX(0);
    transition: transform 0.25s ease-out;
}

.trusted-main-carousel-container .block.scrolling .content-wrapper {
    overflow: unset;
}

.trusted-main-carousel-container .content-wrapper .slide {
    width: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
    margin-right: 50px;
}

.trusted-main-carousel-container .content-wrapper .slide u {
    display: none;
}

.trusted-main-carousel-container .content-wrapper .slide > * {
    position: relative;
}

.trusted-main-carousel-container .content-wrapper .slide >:first-child p.button-container {
    position: absolute;
    bottom: -75px;
    z-index: 1;
    left: 25%;
}

.trusted-main-carousel-container .content-wrapper .slide >:last-child {
    width: calc(100% + 2em);
    margin-left: -1em;
    height: 200px;
}

.trusted-main-carousel-container .content-wrapper .slide >:last-child img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.trusted-main-carousel-container .content-wrapper .slide >:first-child p.button-container a.button:any-link {
    background-color: white;
    color: black;
    font-weight: normal;
    border: 1px solid black;
}

.trusted-main-carousel-container .content-wrapper .slide >:first-child img {
    width: 160px;
}

@media (min-width: 768px) {
    .trusted-main-carousel-container h2, h3 {
        font-size: 44px;
        line-height: 1.2;
    }
    .trusted-main-carousel-container .navigation-wrapper .second-nav {
        display: flex;
        margin-left: auto;
    }

    .trusted-main-carousel-container .left-arrow,
    .trusted-main-carousel-container .right-arrow {
        color: black;
    }

    .trusted-main-carousel-container .left-arrow svg {
        transform: rotate(180deg);
    }

    .trusted-main-carousel-container .arrow {
        width: 100px;
    }

    .trusted-main-carousel-container .arrow svg {
        width: 100%;
        height: 50px;
    }

    .trusted-main-carousel-container .arrow svg path {
        fill: black;
    }

    .trusted-main-carousel-container .left-arrow {
        margin-left: auto;
    }

    .trusted-main-carousel-container .content-wrapper .slide >:first-child p.button-container {
        position: unset;
    }

    .trusted-main-carousel-container .content-wrapper .slide >:last-child {
        height: 400px;
    }
}

@media (min-width: 992px) {
    .trusted-main-carousel-container .content-wrapper .slide {
        display: flex;
        gap: 50px;
        margin-top: 30px;
    }

    .trusted-main-carousel-container .content-wrapper .slide >:last-child {
        width: calc((100% - 50px) / 2);
        margin-left: unset;
        height: auto;
    }

    .trusted-main-carousel-container .content-wrapper .slide > div {
        width: calc((100% - 50px) / 2);
        flex-shrink: 0;
    }
}
