.dual-teaser-container.section {
    background: transparent linear-gradient(180deg, #006EFF 0%, #000 100%) 0 0 no-repeat padding-box;
    overflow: unset;
    padding-top: 0;
}

.dual-teaser-container.section::before {
    content: '';
    display: block;
    width: 100%;
    height: 200px;
    background: #EFF6FF;
    position: relative;
    top: -1px;
}

.dual-teaser-container .col-container {
    width: 100%;
}

.dual-teaser-container .col-container:first-child {
    margin-bottom: 20px;
}

.dual-teaser-container .col-container .card {
    width: 100%;
    height: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 10px;
    overflow: hidden;
}

.dual-teaser-container .default-content-wrapper {
    margin-top: -120px;
}

.dual-teaser-container .img-container {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    border-radius: inherit;
}

.dual-teaser-container .col-container .box {
    height: 190px;
    padding: 10px;
    background: #003b89a3 0 0 no-repeat padding-box;;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.dual-teaser-container .col-container .box h2,
.dual-teaser-container .col-container .box h3,
.dual-teaser-container .col-container .box h4,
.dual-teaser-container .col-container .box h5 {
    font: normal normal normal 20px/27px "IBM Plex Sans";
    letter-spacing: 0;
}

.dual-teaser-container .col-container .box p,
.dual-teaser-container .col-container .box div {
    font: normal normal normal 14px/18px "IBM Plex Sans";
    letter-spacing: 0;
    margin: 0;
}

.dual-teaser-container .col-container .box .button-container {
    margin-top: auto;
}

.dual-teaser-container .col-container .box a {
    width: 100%;
    justify-content: center;
}

.dual-teaser-container .col-container span.icon {
    display: none;
}

@media (min-width: 768px) {
    .dual-teaser-container .default-content-wrapper {
        width: 100%;
        display: flex;
        margin-top: -180px;
    }

    .dual-teaser-container .col-container:first-child {
        margin-top: unset;
    }

    .dual-teaser-container .col-container:first-child .card {
        border-radius: 20px 0 0 20px;
    }

    .dual-teaser-container .col-container:last-child .card {
        border-radius: 0 20px 20px 0;
    }

    .dual-teaser-container .col-container {
        position: relative;
        margin-bottom: 0;
    }

    .dual-teaser-container .col-container .card {
        height: 600px;
    }

    .dual-teaser-container .col-container .box {
        padding: 33px 7% 33px 33px;
        height: 245px;
        border-bottom-right-radius: unset;
        border-bottom-left-radius: unset;
    }

    .dual-teaser-container .col-container .box a {
        width: unset;
    }

    .dual-teaser-container .col-container .box p,
    .dual-teaser-container .col-container .box div {
        font: normal normal normal 18px/23px "IBM Plex Sans";
        letter-spacing: 0;
    }

    .dual-teaser-container .col-container .box h2,
    .dual-teaser-container .col-container .box h3,
    .dual-teaser-container .col-container .box h4,
    .dual-teaser-container .col-container .box h5 {
        font: normal normal normal 40px/52px "IBM Plex Sans";
        margin-bottom: 16px;
    }

    .dual-teaser-container .col-container span.icon {
        display: block;
        position: absolute;
        width: 90px;
        height: 90px;
        top: 20%;
        left: -45px;
    }
}
