footer {
  padding: 2rem;
  font-size: var(--body-font-size-s);
  background: #000;
  width: 100%;
  background-size: cover;
  padding: 58px 0 43px;
  margin: 40px auto 0;
  max-width: 20in;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}