footer {
  padding: 40px 0 24px;
  background-color: #000;
  font-size: var(--body-font-size-s);
}

ul {
  list-style: none;
  padding: 0 20px;
  margin: 0;
  font-family: var(--body-font-family), sans-serif;
}

li {
  font-size: 1pc;
  line-height: 1.63;
  font-family: roboto,sans-serif;
}

li a {
  font: normal normal 700 10px/30px Roboto;
}

footer .footer p {
  margin: 0;
  padding: 0 20px;
}

footer .footer a {
  color: #fff;
  cursor: pointer;
  outline: 0;
  font-family: roboto,sans-serif;
}

footer .footer a:hover {  
  text-decoration: underline;
}

.deactivated a {
  color: #999 !important;
  cursor: auto;
  pointer-events: none;
}

.footer > div {
  display: grid;
}

/* .footer > div > :nth-child(1) {
  order: 1;
  border-bottom: 1px solid #9098a3;
} */

.footer > div div {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #9098a3;
}

.footer > div > :nth-child(1) > p{
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  height: 31px;
  overflow: hidden;
  border: none;
}

.footer > div > :nth-child(1) > p a {
  height: 100%;
}

.footer > div > :nth-child(1) > p picture {
  width: 190px;
  height: 31px;
  overflow: hidden;
  display: flex;
}

.footer > div > :nth-child(1) > p a img {
  height: 1.5rem;
  width: auto;
  object-fit: contain;
}

.footer > div > :nth-child(1) > ul {
  margin: 0;
  display: block;
  column-count: 2;
  list-style-type: none;
  padding-bottom: 30px;
}

.footer > div > :nth-child(1) > ul li {
  padding: 0;
  margin-bottom: 7px;
}

.footer > div > :nth-child(1) > ul li a {
  text-align: left;
  letter-spacing: .78pt;
  text-transform: uppercase;
}

.footer > div > :nth-child(2) {
  order: 4;
  margin-top: 11px;
  margin-bottom: 24px;
  border: none;
}

.footer > div > :nth-child(3) {
  order: 2;
  padding-bottom: 10px;
}

.footer > div > :nth-child(4) {
  order: 3;
  padding-bottom: 10px;
}

.footer > div > :nth-child(5) {
  order: 5;
  border-style: none;
  padding: 0;
  border-bottom-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(144 152 163/var(--tw-border-opacity));
  margin-bottom: 1.5rem;
}

.footer > div > :nth-child(6) {
  order: 6;
  border: none;
}

.footer > div p {
  text-align: left;
  font: normal normal 700 13px/24px Roboto;
  letter-spacing: 0;
  color: #9098a3;
  opacity: 1;
  position: relative;
  margin: 0;
  transition: all .5s ease-in-out;
  cursor: pointer;
  padding: 10px 20px;
}

.footer > div > :nth-child(3) > p::before,
.footer > div > :nth-child(4) > p::before {
  content: "";
  position: absolute;
  right: 12px;
  top: 17px;
  left: auto;
  width: 17px;
  height: 11px;
  margin: 0;
  background-image: url("../../icons/black_down_arrow.svg");
  transition: all .5s ease-in-out;
  filter: invert(100%);
  background-repeat: no-repeat;
  background-position: 100%;
}

.footer > div > :nth-child(3) > ul,
.footer > div > :nth-child(4) > ul {
  width: 100%;
  max-height: 125pc;
  margin-bottom: 10px;
  transition: all .5s ease-in-out;
}

.footer > div > :nth-child(3) > ul li,
.footer > div > :nth-child(4) > ul li {
  margin-bottom: 10px;
}

.footer > div > :nth-child(3) > ul li > a,
.footer > div > :nth-child(4) > ul li > a {
  font: normal normal 500 10px/30px Roboto;
  letter-spacing: 0;
  opacity: 1;
}

.footer > div > :nth-child(3) > p + ul {
  display: none;
}

.footer > div > :nth-child(3) > p,
.footer > div > :nth-child(4) > p {
  padding-bottom: 0;
}

.footer > div > :nth-child(3) > p.active,
.footer > div > :nth-child(4) > p.active {
  padding-bottom: 10px;
}
.footer > div > :nth-child(4) > p + ul {
  display: none;
}

.footer > div > :nth-child(3) > p.active + ul,  
.footer > div > :nth-child(4) > p.active + ul {
  display: inline-block;
}

.footer > div > :nth-child(4) > p.active + ul {
  column-count: 2;
}
.footer > div > :nth-child(3) > p.active::before,
.footer > div > :nth-child(4) > p.active::before {
  transform: rotate(180deg);
}

.footer > div > :nth-child(2) > p {
  padding: 0 20px;
  margin-bottom: 1pc;
}

.footer > div > :nth-child(2) > ul {
  column-count: 2;
  padding: 0 20px 6px;
  margin-top: 11px;
}

.footer > div > :nth-child(5) > p {
  font-size: 1.25rem;
  padding: 0 20px 24px 20px;
  color: rgb(255 255 255);
  letter-spacing: 0;
  line-height: 1.5rem;
  font-weight: 700;
  font-family: "IBM Plex Sans" ,sans-serif;
}

.footer > div > :nth-child(6) > p {
  font: normal normal normal 10px/13px Roboto;
  width: 100%;
  max-width: 100%;
  margin-top: 1pc;
  margin-bottom: 26px;
  position: relative;
  text-align: left!important;
  letter-spacing: 0;
  color: #9098a3;
  opacity: 1;
  line-height: 1.14!important;
  padding: 0 20px;
}

.footer > div > :nth-child(6) > ul li {
  display: block;
  margin-bottom: 10px;
  font: normal normal 500 10px/30px Roboto;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  font-weight: 400;
}

.footer > div > :nth-child(6) > ul li a {
  display: inline-block;
  font: normal normal 500 10px/30px Roboto;
  color: #fff;
}

/* .footer > div > :nth-child(6) > ul li::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 3px;
  width: 2px;
  height: 1pc;
  background-color: #fff;
} */