.sticky-navigation {
  --sticky-nav-font-size-s: 16px;
  --sticky-nav-font-size-xs: 14px;
}

.sticky-navigation .menu-with-button {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 8%);
}

.sticky-navigation ul li a {
  display: block;
  font-weight: var(--font-weight-bold);
  color: #3c3c3c;
  transition: color .3s ease-in-out;
  text-decoration:none;  
  padding: 24px 0;
}

.sticky-navigation ul li {
  border-bottom: 1px solid #dedede;
}

.sticky-navigation ul li.active::after {
  width: 100%;
}

.sticky-navigation ul li::after {
  content: "";
  display: block;
  height: 4px;
  width: 0;
  background-color: #006eff;
  transition: width .3s ease-in-out;
}

.sticky-navigation ul {
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
  margin:0;
  list-style-type: none;
}

.sticky-navigation .mobile-dropdown {
  font-weight: var(--font-weight-bold);
  padding: 24px 20px;
  color: #000;
  display: flex;
  border-bottom: 1px solid #dedede;
}

.sticky-navigation .mobile-dropdown::after {
  content: "";
  position: absolute;
  right: 0;
  width: 20px;
  height: 11px;
  margin-right: 20px;
  margin-top: 6px;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2210%22%20viewBox%3D%220%200%2018%2010%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M9%206.982L2.195.366a1.312%201.312%200%200%200-1.818%200%201.226%201.226%200%200%200%200%201.768l7.714%207.5a1.312%201.312%200%200%200%201.818%200l7.714-7.5a1.226%201.226%200%200%200%200-1.768%201.312%201.312%200%200%200-1.818%200z%22%2F%3E%0A%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: 100%;
  background-color: transparent;
  display: block;
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

.sticky-navigation .mobile-dropdown.opened::after {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.mobile-dropdown.opened + .menu-with-button {
  display: flex
}

.sticky-navigation.fixed-nav {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  max-width: 20in
}

.sticky-navigation .button-container {
  margin:0;
  padding: 40px 0px 20px 20px;  
}

.sticky-navigation .button-container a {
  font-size: var(--sticky-nav-font-size-xs);
  vertical-align: middle;
  padding: 6px 15px;
}

@media (min-width: 990px) { /* desktop */

  .sticky-navigation {
    border-bottom: 1px solid #dedede;
  }

  .sticky-navigation .menu-with-button {
    display: flex;
    flex-direction: row;
    box-shadow: none;
    padding: 0 50px;
  }

  .sticky-navigation ul {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .sticky-navigation ul li {
    border: none;
    margin-right: 20px;
  }

  .sticky-navigation .mobile-dropdown {
    display: none;
  }

  .sticky-navigation .button-container {
    vertical-align: middle;
    padding: 0;  
  }
}

@media (min-width: 1600px) {
  
  .sticky-navigation ul li a {
    font-size: var(--sticky-nav-font-size-s);
  }

  .sticky-navigation .button-container a {
    font-size: var(--sticky-nav-font-size-s);
    padding: 8px 15px;
  }

}