/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --dark-background-color: #000;
  --background-color: #fff;
  --link-color: #005ed9;
  --link-hover-color: #00439c;
  --button-link-color: #fff;
  --button-background-color: #eb0000;
  --button-hover-background-color: #d80000;
  --button-primary-background-color: #000;
  --button-primary-hover-background-color: #000;
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --text-color: #000;
  --color-highlight-blue: #006dff;
  --color-dark-gray: #616161;
  --highlight-light-blue: #f3f7fe;
  --text-dark-color: #fff;
  --horizontal-separator-color: #dedede;
  --modal-background-color: rgb(0 0 0 / 50%);
  --breadcrumb-text-color: #616161;
  --breadcrumb-text-color-dark: #c5c5c5;
  --breadcrumb-text-color-dark-hover: #fff;
  --background-color-light-sky-blue: #e4f2ff;
  --icon-color: #205fff;

  /* fonts */
  --body-font-family: "Roboto", "roboto-normal-400-fallback", helvetica, ubuntu, roboto, noto, sans-serif;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: var(--body-font-family);

  /* font weights */
  --font-weight-thin: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 500;
  --font-weight-bolder: 600;
  --font-weight-boldest: 700;
  --font-weight-heavy: 900;

  /* body sizes */
  --body-font-size-l: 22px;
  --body-font-size-m: 18px;
  --body-font-size-s: 16px;
  --body-font-size-xs: 14px;
  --body-font-size-xxs: 12px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 63px;
  --nav-height-desktop: 40px;

  /* body width */
  --body-max-width: 1920px;
  --body-padding: 20px;
  --section-desktop-max-width: 1200px;
  --section-desktop-padding: 50px;
  --section-large-desktop-max-width: 1332px;
  --section-large-desktop-padding: 20px;
}

/* fallback font for Roboto (normal - 400) */
@font-face {
  font-family: "roboto-normal-400-fallback";
  size-adjust: 99.6%;
  src: local("Helvetica");
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  line-height: 1.5;
}

body {
  font-size: var(--body-font-size-s);
  font-family: var(--body-font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.5;
  display: none;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

body.appear {
  display: block;
}

body.no-scroll {
  overflow: hidden;
}

main .section .default-content-wrapper { /* mobile */
  padding: 0 var(--body-padding);
}

header {
  height: var(--nav-height);
}


@media (min-width: 990px) { /* desktop */
  :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 32px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }

  header {
    height: var(--nav-height-desktop);
    position: absolute;
    z-index: 999;
    margin: auto;
    left: 0;
    right: 0;
  }

  header, main, footer {
    max-width: var(--body-max-width);
    margin: 0 auto;
  }

  main .section .default-content-wrapper {
    max-width: var(--section-desktop-max-width);
    padding: 0 var(--section-desktop-padding);
    margin: 0 auto;
  }
}

@media (min-width: 1600px) { /* large desktop */
  main .section .default-content-wrapper {
    max-width: var(--section-large-desktop-max-width);
    padding: 0 var(--section-large-desktop-padding)
  }
}

@media (min-width: 1000px) {
  header {
    height: var(--nav-height-desktop);
  }
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: var(--font-weight-bolder);
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { font-size: var(--heading-font-size-xxl) }
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

@media (min-width: 596px) {
  h3 { font-size: var(--heading-font-size-s) }
}

@media (min-width: 768px) {
  h3 { font-size: 22px }
}

@media (min-width: 992px) {
  h3 { font-size: var(--heading-font-size-m) }
}

@media (min-width: 1200px) {
  h3 { font-size: 26px }
}

@media (min-width: 1400px) {
  h3 { font-size: 30px }
}

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--horizontal-separator-color);
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link, button {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-s);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  -webkit-font-smoothing: antialiased;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
  padding: 10px 26px 10px 28px;
  text-align: center;
  cursor: pointer;
  color: var(--button-link-color);
  background-color: var(--button-background-color);
  border: 2px solid var(--button-background-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 8px;
  height: fit-content;
}

a.button::after {
  content: '';
  width: 24px;
  height: 24px;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask:url('/icons/arrow-right.svg');
  mask: url('/icons/arrow-right.svg');
  background-color: var(--button-link-color);
  display: inline-block;
  transition: all .2s cubic-bezier(.4,0,.2,1);
  transform: translateX(0);
  opacity: 0;
  margin-left: -10px;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--button-hover-background-color);
  border: 2px solid var(--button-hover-background-color);
  cursor: pointer;
}

a.button:hover::after {
  transform: translateX(5px);
  opacity: 1;
}

a.button span.icon {
  padding: 0 5px;
}

a.button span.button-text {
  transition: transform .2s cubic-bezier(.4,0,.2,1);
  transform: translate(0, 0);
}

a.button:hover span.button-text {
  transform: translate(-10px, 0);
}

a.button.primary, button.primary {
  background-color: unset;
  border: 2px solid var(--button-primary-background-color);
  color: var(--text-color)
}

a.button:hover.primary {
  background-color: var(--button-primary-background-color);
  border: 2px solid var(--button-primary-background-color);
  color: var(--text-dark-color)
}

button:disabled, button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

a.button.modal {
  color: var(--link-color);
  font-weight: var(--font-weight-bold);
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a.button.modal::after {
  background-color: var(--link-color);
  opacity: 1;
  margin: 0;
}

/* when buttons contain custom icons, disable the arrow and animation */
a.button:has(.icon):hover .button-text {
  transform: none;
}

a.button:has(.icon)::after {
  opacity: 0;
}

a.button.modal:hover {
  color: var(--link-hover-color);
  text-decoration: none;
  transform: none;
}

a.button.modal:hover::after {
  transform: translateX(3px);
  background-color: var(--link-hover-color);
}

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 56px;
  width: 50px;
  margin-bottom: 14px;
  color: var(--icon-color);
}

.icon svg {
  height: 100%;
  width: 100%;
}

main .section {
  padding: 64px 32px;
}

/* section metadata */
main .section.highlight {
  background-color: var(--highlight-background-color);
}

main .section.light-sky-blue {
  background-color: var(--background-color-light-sky-blue);
}

main .section.wide {
  padding: 56px 0 57px;
  border-radius: unset;
}

@media (min-width: 1200px) { /* desktop */
  main .section.wide {
    max-width: var(--section-desktop-max-width);
    border-radius: 8px;
    margin: 0 auto;
  }
}

@media (min-width: 1600px) { /* large desktop */
  main .section .wide {
    max-width: var(--section-large-desktop-max-width);
    border-radius: 8px;
    margin: 0 auto;
  }
}

/* linked pictures with video button overlay */

main a.video-placeholder {
  position: relative;
  display: inline-block;
  color: var(--button-link-color);
}

main .video-placeholder .video-placeholder-play {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: scale(3);
  width: 1.375rem;
  height: 1.375rem;
  border: 0.125rem solid;
  border-radius: 1.25rem;
  padding: 0;
  background-color: #2020e0;
  border-color: #2020e0;
  opacity: 0.8;
  transition: opacity .3s ease-in-out;
}

main .video-placeholder:hover .video-placeholder-play {
  opacity: 1;
}

main .video-placeholder .video-placeholder-play::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 0.625rem;
  border-top: 0.3125rem solid transparent;
  border-bottom: 0.3125rem solid transparent;
  border-left: 0.375rem solid;
  top: 0.25rem;
  left: 0.4375rem;
}

@media(min-width: 990px) {
  main .video-placeholder .video-placeholder-play {
    width: 2rem;
    height: 2rem;
  }

  main .video-placeholder .video-placeholder-play::before {
    height: 1rem;
    top: 0.39rem;
    left: 0.625rem;
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    border-left: 0.7rem solid;
  }
}


