.thank-you main .hero {
  padding-top: 7rem;
  padding-bottom: 3.5rem;
}

.thank-you main .hero::after {
  content: none;
}

.thank-you .default-content-wrapper {
  padding-top: 0;
  padding-bottom: 0;
}

.thank-you .default-content-wrapper:first-child {
  display: none;
}

.thank-you .default-content-wrapper p {
  padding-top: 0;
  margin-top: 0;
  font-size: var(--body-font-size-m);
}

@media (min-width: 768px) {
  .thank-you .default-content-wrapper:first-child {
    display: block;
  }

  .thank-you .default-content-wrapper:first-child img {
    margin-top: 0;
    margin-bottom: 0;
  }

  .thank-you .default-content-wrapper p {
    font-size: var(--body-font-size-l);
  }
}

@media (min-width: 992px) {
  .thank-you
    .product-comparison-table
    div[role="columnheader"]:nth-child(1)
    > h2 {
    font-size: 30px;
    font-weight: var(--font-weight-regular);
  }

  .thank-you
    .product-comparison-header
    div[role="columnheader"]:not(:first-child) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.thank-you .image-columns-wrapper {
  max-width: var(--body-max-width);
  padding: var(--body-padding) var(--body-padding) 0;
}

.thank-you .image-columns > div {
  flex-direction: column-reverse;
  align-items: center;
  padding-top: 48px;
}

@media (min-width: 768px) {
  .thank-you .image-columns > div {
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  .thank-you .image-columns > div {
    padding-top: 0;
  }

  .thank-you .image-columns-wrapper {
    max-width: var(--section-desktop-max-width);
    padding: 36px 0;
    margin: 0 auto;
  }

  .thank-you .image-columns {
    row-gap: 0;
  }
}

.thank-you .image-columns-wrapper .image-columns {
  position: relative;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .thank-you .image-columns-wrapper .image-columns {
    margin-bottom: 48px;
  }
}

.thank-you .image-columns-wrapper .image-columns::after {
  content: "";
  position: absolute;
  border-right: 2px dashed #dedede;
  top: 0;
  bottom: 0;
  left: 50%;
}

.thank-you .image-columns > div > .image-columns-txt-col {
  flex: 0 1 50%;
  border-radius: 8px;
  width: 90%;
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 10%);
  padding: 24px 24px 24px 16px;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
  background-color: #fff;
}

@media (min-width: 768px) {
  .thank-you .image-columns > div > .image-columns-txt-col {
    order: 0;
  }
}

.thank-you .image-columns > div > .image-columns-txt-col::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  left: calc(50% - 9px);
  top: -40px;
  background-color: #eb0000;
  border-radius: 50%;
  z-index: 1;
}

.thank-you .image-columns > div:first-child > .image-columns-txt-col::after {
  top: -80px;
}

.thank-you
  .image-columns
  > div
  > .image-columns-txt-col:nth-child(even)::after {
  left: calc(50% - 9px);
  top: -40px;
}

@media (min-width: 768px) {
  .thank-you .image-columns > div > .image-columns-txt-col::after {
    top: calc(50% - 9px);
    right: -11px;
    left: unset;
  }

  .thank-you .image-columns > div:first-child > .image-columns-txt-col::after {
    top: calc(50% - 9px);
    left: unset;
  }

  .thank-you
    .image-columns
    > div
    > .image-columns-txt-col:nth-child(even)::after {
    left: -11px;
    top: calc(50% - 9px);
  }
}

.thank-you .image-columns > div > .image-columns-img-col .img-container {
  max-width: 431px;
  z-index: 1;
}

.thank-you .image-columns > div > .image-columns-txt-col h3 {
  font-size: 40px;
  font-weight: 700;
  text-shadow: -1px 0 #eb0000, 0 1px #eb0000, 1px 0 #eb0000, 0 -1px #eb0000;
  color: #fff;
  padding-left: 0;
  margin-bottom: 0;
  padding-bottom: 2px;
}

.thank-you .image-columns > div > .image-columns-txt-col p {
  font-size: 18px;
  padding-left: 18px;
  padding-right: 0;
  margin-bottom: 0;
  text-align: left;
}

@media (min-width: 768px) {
  .thank-you .image-columns > div > .image-columns-txt-col p {
    font-size: 20px;
  }

  .thank-you .image-columns > div > .image-columns-txt-col h3 {
    font-size: 60px;
  }
}
