@charset "UTF-8";
.section.banner-container {
  background-color: black;
  color: white;
  padding: 0;
}

.section.banner-container .banner img {
  width: 100%;
}

@media screen and (width >= 991px) {
  .section.banner-container .banner .button-container {
    display: block;
  }
  .section.banner-container .banner img {
    width: initial;
  }
}

@media screen and (width <= 768px) {
  .section.banner-container.hide-mobile {
    background-image: unset !important;
    background-color: #000;
  }

  .section.banner-container.hide-mobile .bck-img {
    display: none;
  }

  .section.banner-container em {
    position: unset;
    bottom: 10px;
    font-size: 12px;
    line-height: 15px!important;
    font-style: unset;
    display: block;
  }
}

.section.trusted_lp.banner em {
  font-size: 12px;
  line-height: 15px;
  font-style: unset;
  display: block;
}

@media (width >= 768px) {
  .section.trusted_lp.top_banner .banner h2 {
    font: normal normal bold 40px/45px "IBM Plex Sans", sans-serif;
    text-align: left;
  }

  .section.trusted_lp .banner .banner-left {
    padding-right: 5em;
  }

  .section.trusted_lp.top_banner .banner .banner-left {
    padding-right: 0;
  }

  .section.trusted_lp .banner .banner-right {
    padding-left: 5em;
  }

  .section.trusted_lp.content_right_diff .banner .banner-right img {
    margin-left: -5em;
  }
}

@media (width <= 767px) {
  .hide_bck_mobile {
    background-image: unset!important;
  }

  .banner em {
    position: absolute;
    bottom: 10px;
    font-size: 15px;
  }
}