@charset "UTF-8";
.section.banner-container {
  background-color: black;
  color: white;
  padding: 0;
}

.section.banner-container .banner img {
  width: 100%;
}

@media screen and (width >= 991px) {
  .section.banner-container .banner .button-container {
    display: block;
  }
  .section.banner-container .banner img {
    width: initial;
  }
}

@media screen and (width <= 768px) {
  .section.banner-container.hide-mobile {
    background-image: unset !important;
    background-color: #000;
  }

  .section.banner-container.hide-mobile .bck-img {
    display: none;
  }

  .section.banner-container em {
    position: unset;
    bottom: 10px;
    font-size: 12px;
    line-height: 15px!important;
    font-style: unset;
    display: block;
  }
}

.trusted .section.top_banner .banner em {
  font-size: 15px;
  line-height: 15px;
  font-style: unset;
  display: block;
}

.trusted .custom-block a {
  border: 1px solid white;
  color: white;
  font-weight: 500;
  background-color: transparent;
  border-radius: 5px;
  padding: 5px 3px 5px 16px;
  min-width: 116px;
  display: flex;
}

.trusted .custom-block a:hover {
  text-decoration: none;
}

.trusted .custom-block a::after {
  content: '';
  width: 24px;
  height: 24px;
  -webkit-mask: url(/_src/icons/arrow-right.svg);
  mask: url(/_src/icons/arrow-right.svg);
  background-color: var(--button-link-color);
  display: inline-block;
  transition: all .2s cubic-bezier(.4,0,.2,1);
  transform: translateX(0);
  opacity: 0;
  margin-left: -10px;
}

.trusted .custom-block a:hover::after {
  transform: translateX(5px);
  opacity: 1;
}

@media (width >= 768px) {
  .trusted .section.top_banner .banner h2 {
    font: normal normal bold 40px/45px "IBM Plex Sans", sans-serif;
    text-align: left;
  }

  .trusted.section .banner .banner-left {
    padding-right: 5em;
  }

  .trusted .section.top_banner .banner .banner-left {
    padding-right: 0;
  }

  .trusted .section .banner .banner-right {
    padding-left: 5em;
  }

  .trusted .section.content_right_diff .banner .banner-right img {
    margin-left: -5em;
  }

  .trusted .section.top_banner .banner em {
    position: absolute;
    bottom: 10px;
  }
}

@media (width <= 767px) {
  .hide_bck_mobile {
    background-image: unset!important;
  }
}
