.accordion-wrapper {
  padding: 0 var(--body-padding);
}

.accordion {
  cursor: pointer;
}

.accordion .accordion-item {
  margin: 16px 0;
  padding: 18px 54px;
  border-radius: 10px;
  border-color: rgb(229 231 235);
  border-width: 0;
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 10%);
  display: flex;
  flex-direction: column;
}

.accordion-item .accordion-item-header {
  position: relative;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 25px;
  padding-bottom: 8px;
}

.accordion-item-header::after {
  position: absolute;
  transform: rotate(45deg);
  border-color: #c5c5c5;
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: " ";
  width: 10px;
  height: 10px;
  display: block;
  right: 0;
  bottom:0;
  top:0;
  transition: top .3s ease-in-out,transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
}

.accordion-item .accordion-item-header h4 {
  display: inline-block;
}

.accordion .accordion-item-header h3 {
  font-size: var(--heading-font-size-xs);
  line-height: 1.25;
  margin: 0;
}

.accordion.terms-of-use .accordion-item-header h3 {
  font-size: var(--heading-font-size-xxs);
}

.accordion-item.expanded .accordion-item-header::after {
  transform: rotate(-135deg);
  border-color: #006eff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 6px;
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
}

.accordion-item .accordion-item-content {
  font-weight: 300;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.accordion-item-content ul {
  padding-left: 20px;
}

.accordion-item-content li {
  font-size: 16px;
  line-height: 26px;
  margin: 0 0 15px;
  padding: 0 0 0 20px;
}

.accordion-item-content p {
  font-size: 16px;
  word-break: break-word;
  max-width: 1110px;
}

.accordion-item.expanded .accordion-item-content {
  opacity: 1;
  height: auto;
  transition: all 0.3s ease-in-out;
}

.accordion-item.accordion-item-open .accordion-item-content {
  display: block;
}

@media (min-width: 992px) { /* desktop */

  .accordion .accordion-item-header h3 {
    font-size: var(--heading-font-size-s);
  }

  .accordion.terms-of-use .accordion-item-header h3 {
    font-size: var(--heading-font-size-xs);
  }

  .accordion-wrapper {
    max-width: var(--section-desktop-max-width);
    padding: 0 var(--section-desktop-padding);
    margin: 0 auto;
  }
}

@media (min-width: 1600px) { /* large desktop */
  .accordion-wrapper {
    max-width: var(--section-large-desktop-max-width);
    padding: 0 var(--section-large-desktop-padding);
  }

}

.accordion.faq .accordion-item,
.accordion.system-requirements .accordion-item {
  padding: 25px 31px 19px;
  margin-bottom: 18px;
}

.accordion.faq .accordion-item-header h4,
.accordion.system-requirements .accordion-item-header h4{
  display: inline-block;
  margin-bottom: 15px;
}

.accordion.faq .accordion-item-content p {
  padding: 0;
  margin: 0 0 15px;
  font-size: var(--body-font-size-m);
  color: #3c3c3c;
}

.accordion.system-requirements .accordion-item-content p {
  font-size: 18px;
  color: #3c3c3c;
  padding: 0;
  margin: 0 0 15px;
}

.accordion.faq .accordion-item-content p:last-of-type {
  margin-bottom: 0;
}

