.button.download a {
  font-size: var(--body-font-size-xs);
  color: var(--link-color);

  text-align: left;
  font-style: normal;
  font-weight: var(--font-weight-bold);
  color: var(--link-color);
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 0;
  height: fit-content;
}

.button.download a:hover {
  color: var(--link-hover-color);
  text-decoration: none;
}

.button.download span.icon {
  display: inline-block;
  width: 15px;
  height: 10px;
  margin-left: 3px;
  position: relative;
  top: 0;
  transition: all .2s cubic-bezier(.4,0,.2,1);
  transform: translateX(0);
}

.button.download a:hover span.icon {
  transform: translateX(5px);
}