name: Testing

env:
 BRANCH_NAME: ${{ github.head_ref || github.ref_name }}

on:
  pull_request:
    branches:
      - "main"

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Use node.js
      uses: actions/setup-node@v3
      with:
        node-version: '16' #required for npm 8 or later.
    - run: npm install
    - run: npm run lint
      env:
        CI: true
  # ghost_inspector_tests:
  #   needs: linting
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: execute Ghost Inspector test
  #       uses: docker://ghostinspector/cli
  #       with:
  #         args: suite execute ${{ secrets.GI_SUITE }} \
  #           --apiKey ${{ secrets.GI_API_KEY }} \
  #           --branchName ${{ env.BRANCH_NAME }} \
  #           --errorOnFail \
  #           --errorOnScreenshotFail
